

%form-resets {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    outline: none;
}


@mixin triangle ($size, $color, $direction) {
  height: 0;
  width: 0;

  @if ($direction == up) or ($direction == down) or ($direction == right) or ($direction == left) {
    border-color: transparent;
    border-style: solid;
    border-width: $size / 2;

    @if $direction == up {
      border-bottom-color: $color;

    } @else if $direction == right {
      border-left-color:   $color;

    } @else if $direction == down {
      border-top-color:    $color;

    } @else if $direction == left {
      border-right-color:  $color;
    }
  }

  @else if ($direction == up-right) or ($direction == up-left) {
    border-top: $size solid $color;

    @if $direction == up-right {
      border-left:  $size solid transparent;

    } @else if $direction == up-left {
      border-right: $size solid transparent;
    }
  }

  @else if ($direction == down-right) or ($direction == down-left) {
    border-bottom: $size solid $color;

    @if $direction == down-right {
      border-left:  $size solid transparent;

    } @else if $direction == down-left {
      border-right: $size solid transparent;
    }
  }
}


//USE @extend %group; instead if you can!
@mixin clearfix() {
	*zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}


@mixin breakpoint($point) {
	@if $point == mobile {
		@media only screen and (min-width: #{$mobile}) { @content; }
	}

	@if $point == tablet {
		@media only screen and (min-width: #{$tablet}) { @content; }
	}
	@else if $point == desktop {
		@media only screen and (min-width: #{$desktop}) { @content; }
	}
	@else if $point == wide {
		@media only screen and (min-width: #{$wide}) { @content; }
	}
}


// Transition effects
@mixin trans {
	-webkit-transition: all .2s ease-in;
			transition: all .2s ease-in;
}


// Alignment
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-v {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@function toem($fontsize, $lineheight) {
   @return ($fontsize / $line-height);
}
