/*------------------------------------
    @BASE #LINKS
------------------------------------*/
a {
    outline: none !important;  /* removing outline in Mozilla */
    text-decoration: none;
    color: $color-link;
    cursor: pointer;
    @include trans;

    &:visited, &:focus {
        color: $color-link;
    }

    &:hover,
    &:active {
        color: $color-hover;
        text-decoration: none;
    }

}

main,
.main {
    a {
        &:not([class]) {
            text-decoration: underline;
            display: inline-block;
            color: $primary !important;
            padding-left: 2px;
            padding-right: 2px;
            font-weight: 700;

            &:hover,
            &:active {
                background-color: $alt;
            }

            &:visited {
                color: $grey !important;

                &:hover {
                    color: $primary !important;
                }
            }
        }        
    }
}

