/*------------------------------------
    @BASE #PAGE
------------------------------------*/

html {
    min-height: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}

body {
    font-family: $base-font;
    line-height: $line-height;
    font-weight: 400;
    background-color: $bgr;
    color: $color-text;
    min-height: 100%;
    position: relative;
    min-width: 320px;

    font-size: $font-size;

    // @media (min-width: $tablet) {
    //     font-size: $font-size * 1.1428;
    // }

    &.in {

        overflow-y: hidden;
        height: 100vh;

        .header,
        header {
            @media (max-width: $desktop - 1) {
                position: fixed;
                width: 100%;                
            }
        }

        &:before {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: #000;
            opacity: .7;
            content: '';
            z-index: 1000;
        }

        @media (min-width: $wide) {
            overflow-y: visible;
            height: auto;

            &:before {
                display: none;
            }
        }
    }
}
