/*------------------------------------
    @BASE #TYPE
------------------------------------*/

$heading-size-1:  44px !default;
$heading-size-2:  40px !default;
$heading-size-3:  36px !default;
$heading-size-4:  32px !default;
$heading-size-5:  24px !default;
$heading-size-6:  24px !default;

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    line-height: 1.2;
    font-family: $base-font;
    margin-bottom: .25em;
    font-weight: 700;
}

h1, .h1 {
    font-size: $heading-size-1;
    margin-bottom: 32px;
    line-height: 1;

    @media (min-width: $desktop) {
        font-size: $heading-size-1 * 1.6363;
    }
}

h2, .h2 {
    font-size: $heading-size-2;
    margin-bottom: 34px;

    @media (min-width: $tablet) {
        font-size: $heading-size-2 * 1.3;
        margin-bottom: 30px;
    }

    @media (min-width: $desktop) {
        font-size: $heading-size-2 * 1.5;
    }
}

h3, .h3 {
    font-size: $heading-size-3;

    @media (min-width: $tablet) {
        font-size: $heading-size-3 * 1.15;
    }

    @media (min-width: $desktop) {
        font-size: $heading-size-3 * 1.333;
    }
}

h4, .h4{
    font-size: $heading-size-4;

    @media (min-width: $tablet) {
        font-size: $heading-size-4 * 1.125;
    }

    @media (min-width: $desktop) {
        font-size: $heading-size-4 * 1.25;
    }
}

h5, .h5 {
    font-size: $heading-size-5;

    @media (min-width: $tablet) {
        font-size: $heading-size-5 * 1.165;
    }

    @media (min-width: $desktop) {
        font-size: $heading-size-5 * 1.33;
    }
}

h6, .h6 {
    font-size: $heading-size-6;
}

.h6 {
    line-height: 1.6 !important;
}

blockquote {
    font-size: 24px;

    @media (min-width: $tablet) {
        font-size: 24px * 1.165;
    }

    @media (min-width: $desktop) {
        font-size: 24px * 1.33;
    }
}

img,
p,
ul,
ol,
pre,
blockquote {
    margin-bottom: $space;

    &:last-child {
        margin-bottom: 0;
    }
}

hr {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    height: 1px;
    width: 100%;
    margin-top: 22px;
    margin-bottom: 22px;

    @media (min-width: $tablet) {
        margin-bottom: 40px;
        margin-top: 40px;        
    }
}


strong {
    font-weight: 700;
}
