/*------------------------------------
    @OBJECTS #GRID
------------------------------------*/

.wrapper,
.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1180px;
    padding: 0 20px;

    @media (min-width: $desktop) {
	    padding: 0 $gutter-width;	
    }
}

.wrapper--lg {
	max-width: 1668px;
}

.wrapper--md-sm {
	max-width: 1298px;
}

.wrapper--md-sm-extend-right {
	position: relative;

	&:after {
		display: block;
		content: '';
		background-color: #fff;
		top: 0;
		left: 100%;
		height: 100%;
		width: calc(50vw - 657px);
		position: absolute;
	}
}

.wrapper--extend-right {
	position: relative;

	&:after {
		display: block;
		content: '';
		background-color: #fff;
		top: 0;
		left: 100%;
		height: 100%;
		width: calc(50vw - 598px);
		position: absolute;
	}
}


.wrapper--md {
	max-width: 1440px;
}

.wrapper--sm {
	max-width: 900px;
}

.wrapper--full {
	max-width: none;
}

.wrapper--flat-mobile {
	@media (max-width: $mobile - 1) {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.wrapper--collapse-mobile {
	@media (max-width: $mobile - 1) {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

.wrapper--collapse-desktop-down {
	@media (max-width: $desktop - 1) {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

.wrapper--left-adjust {
	@media (max-width: 1400px) {
		padding-left: 26px;
	}
}


// Grid columns

.row {
	@include clearfix;
	margin-left: -20px;
	margin-right: -20px;

	@media (min-width: $desktop) {
		margin-left: -$gutter-width;
		margin-right: -$gutter-width;		
	}

	> * {
		padding: 0 20px;
		
		@media (min-width: $desktop) {
			padding: 0 $gutter-width;
		}
	}
}

.row--flat {
	margin: 0 !important;

	> * {
		padding: 0 !important;
	}
}

.desktop-1of5 {
	@media (min-width: $desktop) {
		position: relative;
		float: left;
		width: 20%;		
	}
}

// Total columns
$cols: 12;

// Break points
$breaks: ($mobile "mobile") ($tablet "tablet") ($desktop "desktop") ($large "large");

// Extra small screen solumns - below 480px;
@for $i from 1 through $cols {
    .col-xs-#{$i} {
    	min-height: 1px;
      	float: left;
      	width: ($i / 12 * 100%);
      	position: relative;
	}
}


// Columns above 480px width
@each $point in $breaks {
	@for $i from 1 through $cols {
	    .col-#{nth($point,2)}-#{$i} {
	      	@media (min-width: #{nth($point,1)}) {
	      		min-height: 1px;
	        	float: left;
		      	width: ($i / 12 * 100%);
		      	position: relative;
	      	}
		}
 	}
}


// Column offsets
@each $point in $breaks {
	@for $i from 0 through $cols {
	    .col-#{nth($point,2)}-offset-#{$i} {
	      	@media (min-width: #{nth($point,1)}) {
		      	margin-left: ($i / 12 * 100%);
	      	}
		}
 	}
}

@for $i from 1 through $cols {
    .col-xs-offset-#{$i} {
      	margin-left: ($i / 12 * 100%);
	}
}	

// Column push
@each $point in $breaks {
	@for $i from 1 through $cols {
	    .col-#{nth($point,2)}-push-#{$i} {
	      	@media (min-width: #{nth($point,1)}) {
		      	left: ($i / 12 * 100%);
	      	}
		}
 	}
}	

// // Column pull
@each $point in $breaks {
	@for $i from 1 through $cols {
	    .col-#{nth($point,2)}-pull-#{$i} {
	      	@media (min-width: #{nth($point,1)}) {
		      	right: ($i / 12 * 100%);
	      	}
		}
 	}
}

// Irregular sizes

.col-desktop-3i {
	@media (min-width: $desktop) {
		width: 27.75%;
	}
}