/*------------------------------------
    @OBJECTS #BUTTONS
------------------------------------*/

button {
    border-radius: 0;
    &,
    &:focus,
    &:active {
        outline: none !important;
        border: none;
        @include trans;
    }

    &:focus,
    &:active {
        background-color: inherit;
    }
}

.btn {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    display: inline-block;
    vertical-align: middle;
    font: inherit;
    text-align: center;
    cursor: pointer;
    overflow: visible;
    border: none;
    background-color: #eee;
    @include trans;
    border-radius: 23.5px;
    text-transform: uppercase;
    line-height: 1.46;
    letter-spacing: 1px;
    font-weight: 700;
    position: relative;
    font-size: 12px;
    padding: 7px 20px;

    @media (min-width: $tablet) {
        font-size: 24px;
        padding: 6px 40px;
    }

    pre {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        border-radius: 23.5px;
        transition: none;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    span {
        position: relative;
        z-index: 100;
    }    

    &,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}
