/*------------------------------------
    @OBJECTS #FLEX-GRID
------------------------------------*/

.row-flex-reverse-col-desktop-down {
    @media (max-width: $desktop - 1) {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* by Nikola Jovanovic - coderman, v1.0, 2017 */

.flex {
    display: flex;
}

.flex-row {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;

	margin-left: -$gutter-width;
	margin-right: -$gutter-width;

	> * {
		padding: 0 $gutter-width;
	}

}


.flex-column {
    @extend .flex-row;
    flex-direction: column;
}

.flex-row-tablet {
    @media (min-width: $tablet) {
        flex-direction: row;
    }
}

// General column styles
[class^="flex-col-"] {
    width: 100%;
    box-sizing: border-box;
    flex: 0 0 auto;

    &:before,
    &:after {
    	display: none !important;
    }
}

.flex-row {
	&.reverse{
	  flex-direction: row-reverse;
	}
}

.flex-column {
	&.reverse{
	  flex-direction: column-reverse;
	}
}

// Columns

// Extra small screen solumns - below 480px;
.col-xs {
  width: 100%;
}

@for $i from 1 through $cols {
    .flex-col-xs-#{$i} {
        width: ($i / 12 * 100%);
      }
}

// Columns above 480px width
@each $point in $breaks {
    @for $i from 1 through $cols {
        .flex-col-#{nth($point,2)}-#{$i} {
            @media (min-width: #{nth($point,1)}) {
                width: ($i / 12 * 100%);

            }
        }
    }
} 

.flex-col-wide-4 {
    @media (min-width: $wide) {
        width: (4 / 12 * 100%);
    }
}  


// Offsets
// Column offsets
@each $point in $breaks {
    @for $i from 0 through $cols {
        .flex-col-#{nth($point,2)}-offset-#{$i} {
            @media (min-width: #{nth($point,1)}) {
                margin-left: ($i / 12 * 100%);
            }
        }
    }
}   


// Justify content
// Default
.start-xs {
    justify-content: flex-start;
}
.center-xs {
    justify-content: center;
}
.end-xs {
    justify-content: flex-end;
}
.around-xs {
    justify-content: space-around;
}
.between-xs {
    justify-content: space-between;
}

// Breakpoints
@each $point in $breaks {
    @media (min-width: #{nth($point,1)}) {
        .start-#{nth($point,2)} {
            justify-content: flex-start;
        }

        .center-#{nth($point,2)} {
            justify-content: center;
        }

        .end-#{nth($point,2)} {
            justify-content: flex-end;
        }

        .around-#{nth($point,2)} {
            justify-content: space-around;
        }

        .between-#{nth($point,2)} {
            justify-content: space-between;
        }
    }
}   


// Align items
// Default
.stretch-xs {
    align-items: stretch;
}
.top-xs {
    align-items: flex-start;
}
.middle-xs {
    align-items: center;
}
.bottom-xs {
    align-items: flex-end;
}
.first-xs {
    order: -1;
}
.last-xs {
    order: 1;
}

// Breakpoints
@each $point in $breaks {
    @media (min-width: #{nth($point,1)}) {
        .stretch-#{nth($point,2)} {
            align-items: stretch;
        }

        .top-#{nth($point,2)} {
            align-items: flex-start;
        }

        .middle-#{nth($point,2)} {
            align-items: center;
        }

        .bottom-#{nth($point,2)} {
            align-items: flex-end;
        }

        .base-#{nth($point,2)} {
            align-items: baseline;
        }
    }
}   

