/*------------------------------------
	@COMPONENTS #TILES
--------------------------------------*/

a.tile {
	display: block;
	color: #fff;
	display: flex;
	height: 100%;

	&:hover {
		.tile__cover {
			> * {
				transform: none;
			}
		}
	}
}

.tile {
	position: relative;
	min-height: 250px;

	@media (min-width: $tablet) {
		min-height: none;
	}
}

.tile-spacing {
	padding-bottom: 10px;

	@media (min-width: $tablet) {
		margin-bottom: 10px;
	}

	@media (min-width: $large) {
		margin-bottom: inherit;
	}
}


.tile--sm {
	padding: 20px;
	margin-bottom: 10px;

	@media (min-width: $tablet) {
		padding: 30px 40px;
	}

	@media (min-width: $desktop) {
		margin-bottom: inherit;
	}
	
	// @media (min-width: $desktop) and (max-width: $large) {
	// 	width: calc(58.3333% - 10px);
	// }

	.tile__body {

		@media (min-width: $desktop) {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;
			width: 100%; // ie11 bug

			h6,
			span {
				width: 100%; // ie11 bug
			}
		}
	}

	&:first-child {

		@media (min-width: $tablet) {
			margin-bottom: 20px;
		}
	}
}

.tile--md {
	margin-bottom: 20px;

	h5, h6 {
		@media (min-width: $tablet) {
			text-transform: uppercase;
		}
	}
}


.tile--lg {
	padding: 20px;
	margin-bottom: 20px;

	@media (min-width: $tablet) {
		padding: 50px;
	}
}

	.tile__cover {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;

		> * {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 50%;

			a.tile & {
				transition: transform 2.25s ease-out;
				transform: scale(1.24,1.24);
			}
		}
	}

	.tile__body {
		position: relative;
		z-index: 100;
	}

	.tile__body--md {
		padding: 20px;
		width: 100%;

		@media (min-width: $tablet) {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			padding-top: 100px;
		}

		@media (min-width: $desktop) {
			padding: 50px 28px;	
			padding-top: 100px;	
		}


		p {
			font-size: 14px;
			width: 100%;
		}
	}

	.tile__body--md-bottom {
		@media (min-width: $tablet) {
			justify-content: flex-end;
			padding-bottom: 30px;
		}
	}

	.tile__body--bottom {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
	}

	.tile__header {
		margin-bottom: 10px;

		@media (min-width: $tablet) {
			margin-bottom: 42px;
		}

		> * {
			display: inline-block;
			vertical-align: middle;

			&:last-child {
				font-weight: 700;
				margin-left: 10px;

				@media (min-width: $tablet) {
					margin-left: 28px;
					font-size: 20px;
				}
			}
		}
	}

	.tile__header--alt {
		@media (min-width: $tablet) {
			margin-bottom: inherit;
		}

		> * {
			@media (min-width: $tablet) {
				display: block;
			}

			&:last-child {
				@media (min-width: $tablet) {
					margin-left: inherit;
				}
			}
		}

		@media (min-width: $desktop) {
			text-align: center;
		}
	}

	.tile__symbol {
		margin-bottom: 72px;
	}

	.title__symbol--alt {
		max-width: 30px;

		@media (min-width: $tablet) {
			max-width: none;
			margin-bottom: 70px !important;
		}
	}

	.tile__symbol--book {
		width: 34px;
		margin-bottom: 46px;

		@media (min-width: $mobile) {
			max-width: none;
		}

		@media (min-width: $desktop) {
			margin-bottom: 70px;
		}
	}

	.tile__heading {
		font-size: 20px;
		line-height: (24px / 20px);

		@media (min-width: $tablet) {
			font-size: 36px;			
		}

		.tile--lg & {
			margin-bottom: 0;
		}
	}

	.tile__heading--lg {
		@media (min-width: $tablet) {
			font-size: 48px;
			line-height: (56px / 48px);
		}
	}


	.tile__link {
		font-size: 14px;
	}

	.tile--call {
		padding-top: 100px;
	}
