/*------------------------------------
	@COMPONENTS #BREADS
--------------------------------------*/

.bread {
	list-style-type: none;
	position: relative;
	padding-left: 10px;

	@media (min-width: $tablet) {
		padding-left: 0px;
	}

	&:before {
		display: block;
		content: '';
		background-color: $primary;
		height: (20em / 16);
		position: absolute;
		top: 3px;
		width: 20px;
		right: 100%;

		@media (min-width: $tablet) {
			width: 85px;
			right: calc(100% + 28px);
		}
	}

	li {
		display: inline-block;
		font-weight: 700;
		color: $primary;
		text-transform: uppercase;
		vertical-align: middle;
		font-size: 16px;
		letter-spacing: 1.14px;

		@media (min-width: $tablet) {
			font-size: 20px;
			letter-spacing: 1.43px;
		}

		a.bread__link{
			color: $alt !important;
			text-decoration: none !important;
			background-color: transparent !important;

			&:hover,
			&:active {
				color: $primary !important;
			}
		}

		padding-right: 20px;
		position: relative;

		&:before {
			display: inline-block;
			content: '';
			vertical-align: middle;
			position: absolute;				
			background-color: $alt;
			width: 3px;
			height: 1em;
			top: 3px;
			right: 7px;			
		}

		&:last-child {
			&:before {
				display: none;
			}
		}

		// + li {
		// 	position: relative;
		// 	padding-left: 20px;

		// 	&:before {
		// 		display: inline-block;
		// 		content: '';
		// 		vertical-align: middle;
		// 		position: absolute;				
		// 		background-color: $alt;
		// 		width: 3px;
		// 		height: 1em;
		// 		top: 3px;
		// 		left: 7px;
		// 	}
		// }
	}
}