/*------------------------------------
	@COMPONENTS #INPUTS
------------------------------------*/

.textbox {

	font-size: 18px;
	font-weight: 700;
	color: $alt;
	border: 2px solid $primary;
	background-color: #fff;
	padding: 16px 20px;


	/* iOS reset */
	-webkit-appearance: none !important;
	border-radius: 0;
	box-shadow: none;

	/*PLACEHOLDER*/
	&::-webkit-input-placeholder {
	   color: $color-placeholder;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color: $color-placeholder; 
	   opacity: 1; 
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color: $color-placeholder;
	   opacity: 1;  
	}

	&:-ms-input-placeholder {  
	   color: $color-placeholder;  
	}

	&:focus {
		&::-webkit-input-placeholder {
		   color: transparent;
		}

		&:-moz-placeholder { /* Firefox 18- */
		   color: transparent; 
		   opacity: 1; 
		}

		&::-moz-placeholder {  /* Firefox 19+ */
		   color: transparent;
		   opacity: 1;  
		}

		&:-ms-input-placeholder {  
		   color: transparent;  
		}
	}
}

.textbox--light {
	border-color: lighten($grey,25);
}

.textbox--nav {

	@media (max-width: $tablet - 1) {
		font-size: 12px;
		border: none;
		background-color: transparent;
		width: 136px;
		padding: 0;		
	}

	@media (min-width: $tablet) {
		font-size: 18px;
		width: calc(100% - (48px + 40px));
	}
}

.select {
	display: inline-block;
	border-bottom: 4px solid $alt;
	padding: 10px;
	position: relative;

	&, * {
		outline: none !important;
	}

	select {
		font-size: 16px;
		font-weight: 700;
		color: $grey;
		padding-right: 40px;
		position: relative;
		z-index: 100;
		background-color: transparent;
		letter-spacing: 1.14px;
		font-family: $grotesk;

		@media (min-width: $mobile) {
			padding-right: 70px;
		}
	}

	i {
		font-size: 13px;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		color: $primary !important;

	}

}

.select--full {
	display: block;

	select {
		width: 100%;
	}
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
