/*------------------------------------
	@COMPONENTS #ARTICLES
--------------------------------------*/

.article {
	max-width: 277px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 36px;

	@media (min-width: $tablet) {
		margin-bottom: 60px;
	}
}

.article--full {
	max-width: none;
}

a.article {
	display: block;

	.article__image {
		max-width: 480px;
		margin-left: auto;
		margin-right: auto;

		img {
			transition: all 2.25s ease-out;
		}
	}

	&:hover,
	&:active {
		.article__image {
			img {
				transform: scale(1.3, 1.3);
			}
		}

		[class^="symbol"] {
			opacity: 1;
		}
	}

	[class^="symbol"] {
		opacity: .4;
		@include trans;
	}
}

	.article__title {
		margin-bottom: 28px;


		> * {
			color: $alt;
			display: inline-block;

			font-size: 14px;
			line-height: 1.71;			

			&:after {
				display: block;
				content: '';
				height: 4px;
				background-color: $primary;
				margin-top: 4px;

				@media (min-width: $desktop) {
					height: 6px;
				}
			}

			span {
				padding-left: 6px;
				padding-right: 6px;
			}			
		}
	}

	.article__copy {
		font-family: $serif;
		font-weight: 700;
		font-size: 18px;
		max-width: 480px;
		margin-left: auto;
		margin-right: auto;

		a.article & {
			color: $color-text;
		}
	}

	.article__copy--primary {
		font-family: $grotesk;

		a.article & {
			color: $alt;
	
			span {
				color: $primary;
			}
		}

	}

	.article__image {
		overflow: hidden;
		margin-bottom: 20px;

		@media (min-width: $mobile) {
			margin-bottom: 32px;
		}

		img {
			margin-bottom: 0 !important;
		}
	}

	.article__image--overlay {
		position: relative;

		.symbol-play {
			@include center;
			z-index: 200;
		}

		&:before {
			display: block;
			content: '';
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 100;
			top: 0;
			left: 0;
		}
	}