/*------------------------------------
	@COMPONENTS #PILLS
--------------------------------------*/

.pill-container {
	padding-top: 10px;
	// padding-left: 12px;
	// padding-right: 12px;
	padding-bottom: 16px;
	padding-right: 12px;
	margin-bottom: 50px;

	@media (min-width: $mobile) {
		padding-bottom: 18px;
		margin-bottom: 90px;
	}

	ul {
		list-style-type: none;
		font-size: 0;
		margin-left: -12px;
		margin-right: -12px;

		li {
			display: inline-block;
			font-size: 12px;
			padding-left: 12px;
			orphans: 12px;

			&:first-child {
				.pill {
					background-color: $alt;
					border-color: $alt;
					color: #fff;
				}
			}
		}
	}
}

.pill {
	padding: 4px 10px;
	font-size: 12px;
	font-weight: 700;
	border: 1px solid #E8E8E8;
	color: #4A4A4A;
	margin-top: 4px;
	margin-bottom: 4px;

	span {
		&:first-child {
			color: $primary;
		}
	}
}