/*------------------------------------
	@COMPONENTS #TOOLBOX
--------------------------------------*/

.toolbox {
	right: (20px + $gutter-width);
	display: inline-block;
	position: relative;
	right: - $gutter-width;
	background-color: #fff;
	padding: 10px;
	min-width: 94px;

	@media (min-width: $large) {
		padding-left: 36px;
		// padding-top: 26px;
		// padding-bottom: 0;
		// padding-right: 0;		
	}

	ul {
		list-style-type: none;

		li {
			display: inline-block;

			button {
				font-size: 18px;
				background-color: transparent;
				font-weight: 700;
				color: $alt;

				&:hover,
				&:active {
					color: $primary !important;
				}
			}

			&:last-child {
				button {
					font-size: 24px;
				}
			}

		}
	}
}

.toolbox--flat {
	padding: 0;
}

.toolbox--row {
	display: block;
	text-align: right;
	margin-bottom: 20px;
}
