/*------------------------------------
	@COMPONENTS #TITLES
--------------------------------------*/

.title-primary {
	text-transform: uppercase;
	font-weight: 700;
	color: $alt;
	position: relative;
	// font-size: 20px;
	letter-spacing: 1.4px;

	@media (max-width: $tablet - 1) {
		margin-bottom: 50px;
	}

	@media (min-width: $tablet) {
		// font-size: 28px;
		letter-spacing: 2px;
		font-size: 28px;		
	}

	&:before {
		display: block;
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: calc(100% + 10px);
		background-color: $primary;
		width: 85px;
		height: 20px;

		@media (min-width: 1400px) {
			right: calc(100% + 24px);
		}
	}
}

.title-ter {
	@extend .title-primary;

	padding-left: 30px;

	@media (min-width: $tablet) {
		padding-left: inherit;
	}

	&:before {
		right: calc(100% - 10px);

		@media (min-width: 900px) {
			right: calc(100% + 10px);
		}
	}
}

.title-alt {
	@extend .title-primary;
	color: $primary;
	margin-bottom: 40px;

	@media (min-width: $tablet) {
		margin-bottom: 56px;
	}

	&:before {
		right: auto;
		background-color: $alt;

		left: calc(100% - 8px);

		@media (min-width: $mobile) {
			left: calc(100% + 10px);
		}

		@media (min-width: 1400px) {
			left: calc(100% + 24px);
		}
	}
}

.title-quart {
	@extend .title-primary;
	
	@media (max-width: $desktop - 1) {
		padding-left: 20px;
	}

	&:before {
		background-color: $alt;

		@media (max-width: $desktop - 1) {
			right: calc(100% - 5px);
		}
	}
}

.h6 {
	font-size: 20px;
	letter-spacing: 2px;

	@media (min-width: $mobile) {
		font-size: 28px;
	}
}

.title-extend--light {
	&:before {
		background-color: $primary;
	}
}

.title-underlined {
	&:after {
		display: block;
		max-width: 284px;
		height: 7px;
		content: '';
		background-color: $alt;
		margin-top: 36px;

		@media (min-width: $tablet) {
			height: 10px;
		}
	}
}

.title-underlined--primary {
	&:after {
		background-color: $primary;
	}
}

.title-underlined--mobile {
	&:after {
		background-color: $primary;

		@media (min-width: $desktop) {
			display: none;
		}
	}
}

.title-strike {
	font-weight: 700;
	font-size: 20px;
	position: relative;
	color: $alt;

	> * {
		display: inline-block;
		position: relative;
		z-index: 20;
		
		&:after {
			display: block;
			content: '';
			width: calc(100% + 10px);
			height: 4px;
			background-color: #F97E4C;
		}
	}
}

.h4 {
	@media (max-width: $mobile - 1) {
		font-size: 28px;
	}
}

.title-sub {
	font-size: 16px;
	line-height: (20px / 16px);

	@media (min-width: $tablet) {
		font-size: 24px;
		line-height: (32px / 24px);		
	}
}