/*------------------------------------
	@COMPONENTS #NAV
------------------------------------*/
.nav {
}
	.nav__panel {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		overflow: hidden;

		@media (min-width: $tablet) {
			width: calc(100% - 199px);
			overflow: inherit;
		}

		@media (min-width: $wide) {
			justify-content: space-between;

		}

		> * {
			&:first-child {
				display: flex;
				justify-content: space-between;
				align-items: center;
				position: relative;

				@media (min-width: $tablet) {
					height: 136px;
					width: 100%;
				}
			}
		}
	}

	.nav-toggle-close {
		font-size: 14px;
		background-color: transparent;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		opacity: 0;
		transition: opacity .5s ease-out;
		transition-delay: .35s;

		@media (min-width: $tablet) {
			right: 15px;
		}

		.nav__slide.in & {
			opacity: 1;
		}
	}

	.nav__slide {
		background-color: #fff;
		position: absolute;
		height: 100%;
		width: calc(100% + 32px);
		top: 0;
		right: -36px;
		z-index: 100;
		@include trans;
		transform: translateX(100%);
		background-color: $smoke;
		padding-left: 14px;
		overflow: hidden;
		border-top-left-radius: 17px;
		border-bottom-left-radius: 17px;

		@media (max-width: $tablet - 1) {
			height: 34px;
		}

		@media (min-width: $tablet) {
			transform: translateX(-100%);
			right: 0;
			padding: 20px;
			width: 100%;
			overflow: inherit;
			border-radius: 0;
			background-color: #fff;
		}


		&.in {
			transform: none;
		}
	}

	// .nav__hover {
	// 	@media (min-width: $tablet) {
	// 		&:hover {
	// 			.collapse__content {
	// 				display: block;
	// 			}
	// 		}			
	// 	}
	// }

	.nav__expand {
		color: $grey;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		border-bottom: 1px solid rgba($grey, .2);
		padding-bottom: 20px;
		padding-top: 20px;

		// @media (min-width: $tablet) {
		// 	align-items: flex-start;
		// 	padding-top: inherit;
		// 	padding-bottom: inherit;
		// 	border-bottom: none;
		// }

		&.in {
			.nav__symbol {
				transform: scaleY(-1);
			}

			border-bottom-color: transparent;
		}
	}

	.nav__symbol {
		font-size: 14px;
		color: $primary;
		@include trans;

		@media (min-width: $tablet) {
			margin-top: 5px;
		}
	}

	.nav__box {
		max-width: 176px;

		dt {
			font-size: 18px;
			text-transform: uppercase;
		}

		dd {
			font-size: 14px;
			font-weight: 400;
		}
	}

	.nav__form-group {
		display: flex;
		align-items: center;
		height: 100%;

		.nav__toggle {
			padding-right: 12px;
		}
	}

	.nav__trigger {
		background-color: $smoke !important;
		padding: 9px 7px;
		position: relative;

		@media (min-width: $desktop) {
			display: none;
		}

		span {
			@include trans;
			display: block;
			background-color: $grey;
			height: 2px;
			width: 18px;

			+ span {
				margin-top: 4px;
			}
		}

		.icon-close {
			@include center;
			z-index: 10;
			display: inline-block;
			@include trans;
			opacity: 0;
			font-size: 14px;
		}

		&.in {
			span {
				opacity: 0;
			}

			.icon-close {
				transition-delay: .2s;
				opacity: 1;
			}
		}
	}

	.nav__side {
		
		a {
			display: none;
			font-size: 14px;
			color: $grey;
			background-color: $smoke;
			text-align: center;
			font-weight: 700;
			width: 60px;
			height: 60px;
			line-height: 60px;
			text-align: center;
			@include trans;

			@media (min-width: $desktop) {
				display: inline-block;
			}

			&:hover, 
			&:active {
				background-color: $alt;
				color: #fff;
			}
		}
	}

	.nav__menu-mobile {
		position: fixed;
		z-index: 9000;
		left: 0;
		background-color: #fff;
		width: 100%;
		padding-left: $gutter-width;
		padding-right: $gutter-width;
		@include trans;
		transform: translateX(-100%);
		max-height: calc(100vh - 56px);
		overflow-y: auto;
		top: 56px;
		
		// @media (min-width: $tablet) {
		// 	position: static;
		// 	max-height: none;
		// 	overflow-y: visible;
		// 	transform: none;			
		// }

		@media (min-width: $tablet) {
			top: 136px;
			max-height: calc(100vh - 136px);
		}

		@media (min-width: $desktop) {
			display: none;
		}

		&.in {
			transform: none;

			.nav__hover {
				opacity: 1;

				&:nth-child(1) {
					transition-delay: .25s;
				}

				&:nth-child(2) {
					transition-delay: .35s;
				}
				&:nth-child(3) {
					transition-delay: .45s;
				}
				&:nth-child(4) {
					transition-delay: .55s;
				}
				&:nth-child(5) {
					transition-delay: .65s;
				}
				&:nth-child(6) {
					transition-delay: .75s;
				}
			}
		}


		.nav__hover {
			@include trans;

			opacity: 0;

			@media (min-width: $tablet) {
				opacity: 1;
			}

		}
	}

	.nav__logo {
		background-color: $primary;
		position: relative;
		z-index: 200;
		padding: 13px 14px;
		padding-left: 0;

		@media (min-width: $tablet) {
			padding: 40px 14px;
			height: 136px;
		}

		&:before {
			display: block;
			content: '';
			background-color: $primary;
			position: absolute;
			top: 0;
			right: 100%;
			height: 100%;
			width: 20px;

			@media (min-width: $tablet) {
				width: calc(100vw - (1440px * 0.5));
			}

		}

		a {
			display: inline-block;

			&:hover,
			&:active {
				opacity: .65;
			}

			img {
				height: 24px;
				display: block;
				max-width: 100%;

				@media (min-width: $tablet) {
					height: auto;
				}
			}
		}
	}

	.nav__tools {
		padding-left: 5px;
		padding-right: 5px;
		margin-right: 10px;

		@media (min-width: $tablet) {
			padding-left: 20px;
			padding-right: 20px;			
			margin-right: inherit;
		}

		@media (min-width: $desktop) {
			padding-left: 14px;
			padding-right: 14px;	
		}

		ul {
			list-style-type: none;
			margin-left: -5px;
			margin-right: -5px;

			@media (min-width: $tablet) {
				margin-left: -20px;
				margin-right: -20px;				
			}

			@media (min-width: $desktop) {
				margin-left: -14px;
				margin-right: -14px;								
			}

			li {
				display: inline-block;
				vertical-align: middle;
				padding-left: 5px;
				padding-right: 5px;

				@media (min-width: $tablet) {
					padding-left: 20px;
					padding-right: 20px;					
				}

				@media (min-width: $desktop) {
					padding-left: 14px;
					padding-right: 14px;
				}
			}
		}
	}

	.nav__toggle--search {
		display: inline-block;
		background-color: transparent;
		color: #000;
		font-size: 18px;

		@media (max-width: $tablet - 1) {
			padding: 0;
			margin-right: 12px;
		}

		@media (min-width: $tablet) {
			font-size: 32px;
			padding: 0;
		}
	}

	.nav__menu {
		padding: 20px;
		padding-left: 10px;
		padding-right: 10px;
		position: relative;



		@media (min-width: 1400px) {
			padding-left: 25px;
			padding-right: 25px;			
		}

		ul {
			// margin-left: -10px;
			// margin-right: -10px;

			@media (min-width: 1400px) {
				margin-left: -25px;
				margin-right: -25px;				
			}
		}

	    li {
			font-size: $font-size;
			display: inline-block;
			padding-left: 10px;
			padding-right: 10px;
			vertical-align: top;

			@media (min-width: 1400px) {
				padding-left: 25px;
				padding-right: 25px;				
			}

			// &:first-child {
			// 	padding-left: 0;
			// }

			// &:last-child {
			// 	padding-right: 0;
			// }

			a {
				color: $grey;
				text-decoration: none;
				display: inline-block;
				text-decoration: none !important;

				&:hover {
					color: $alt;
				}

				&:active {
					color: $primary;
				}

				dl {
					max-width: 80px;

					@media (min-width: 1100px) {
						max-width: none;
					}

					dt, dd {
						display: block;
					}

					dt {
						font-size: 15px;
						font-weight: 700;
						text-transform: uppercase;
						margin-bottom: 6px;

						@media (min-width: $large) {
							font-size: 18px;
						}

						@media (min-width: 1400px) {
							font-size: 18px;
						}
					}

					dd {
						font-size: 0;

						@media (min-width: $large) {
							font-size: 14px;
						}
					}					
				}

				&:hover,
				&:active {
					dl {
						dd {
							color: transparent;
							position: relative;

							&:before {
								display: block;
								content: '';
								height: 1px;
								background-color: $alt;
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
							}
						}
					}
				}

			}

			&.active {
				a {
					dl {
						dd {
							color: transparent;
							position: relative;

							&:before {
								display: block;
								content: '';
								height: 1px;
								background-color: $alt;
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
							}
						}
					}
				}
			}

			&.nav__search {
				padding-left: 0;
				padding-right: 0;
				> a {
					display: inline-block;
					text-decoration: none !important;

					&:hover,
					&:active {
						color: $color-hover;
					}					
				}
			}
		}
	}

	.nav__menu--desktop {
		display: none;
		margin-right: auto;

		ul {
			font-size: 0; 
		}

		@media (min-width: $desktop) {
			display: block;
		}
	}

	.nav__overlay {
		position: absolute;
		left: 0;
		top: 100%;
		background-color: #fff;
		z-index: 8000;
		width: 100% !important;
		display: none;
		max-width: 100vw;

		@media (max-width: $desktop - 1) {
			display: none !important;
		}

		.col {
			ul {
				background-color: #F97E4C;

				li {
					display: block;
					a {
						color: #fff;
						transition: none;

						dl {
							dt {
								font-weight: 700;
								font-size: 20px;
							}
						}

						&:hover,
						&:active {
							color: $alt;

							dl {

								dd {
									color: transparent;

									&:before {
										background-color: $alt;
									}
								}
							}
						}
					}
				}
			}
			
			&:nth-child(odd) {
				ul {
					background-color: #F97E4C;

					li {
						a {
							color: #fff;

							&:hover,
							&:active {
								color: $alt;

								dl {

									dd {

										&:before {
											background-color: $alt;
										}
									}
								}
							}
						}
					}
				}
			}

			&:nth-child(even) {
				> div {
					background-color: $alt;
					color: #fff;
					padding: 44px 38px;

					a {
						color: #fff !important;
						text-decoration: underline;

						&:hover,
						&:active {
							text-decoration: none;
						}
					}
				}

				ul {
					background-color: $alt;

					li {
						a {
							dl {
								dt {
									font-size: 16px;
								}
							}
							&:hover,
							&:active {
								color: $primary;

								dl {

									dd {
										&:before {
											background-color: $primary;
										}
									}
								}
							}
						}
					}
				}
			}
		}

		
		ul {
			list-style-type: none;
			padding: 44px 38px;

			li {
				display: inline-block;

				a {
					display: block;
					margin-bottom: 35px;

					dl {
						dt, dd {
							display: block;
						}

						dt {
							text-transform: none;

						}

						dd {
							font-size: 12px;
						}
					}

					&:hover,
					&:active {

						dl {
							dd {
								position: relative;

								&:before {
									display: block;
									content: '';
									height: 1px;
									background-color: $alt;
									position: absolute;
									top: 10px;
									left: 0;
									width: 100%;
								}
							}
						}
					}
				}

				&.active {
					a {
						dl {
							dt {
								color: $alt;
							}
							
							dd {
								position: relative;
								color: transparent;

								&:before {
									display: block;
									content: '';
									height: 1px;
									background-color: $alt;
									position: absolute;
									top: 10px;
									left: 0;
									width: 100%;
								}
							}
						}
					}
				}
			}
		}

		> * {
			position: relative;
			z-index: 100;
		}
	}

	.nav__category {
		list-style-type: none;
		padding: 48px 36px;
		background-color: #F97E4C;

		// @media (min-width: $tablet) {
		// 	padding: 20px;
		// 	position: absolute;
		// 	z-index: 100;
		// 	left: 0;
		// 	width: 100%;
		// 	top: calc(100% - 25px);
		// }

		li {
			+ li {
				padding-top: 40px;

				@media (min-width: $tablet) {
					padding-top: 20px;
				}
			}
		}

		a {
			color: #fff;
			transition: none;

			dl {
				dt {
					font-weight: 700;
					font-size: 20px;
				}

				dd {
					position: relative;
					font-size: 12px;
				}
			}

			&:hover,
			&:active {
				color: $alt;

				dl {

					dd {
						color: transparent;

						&:before {
							display: block;
							content: '';
							height: 1px;
							background-color: #220A3C;
							position: absolute;
							top: 10px;
							left: 0;
							width: 100%;
						}
					}
				}
			}
		}
	}

	.nav__frame {

	}

	.nav__block {
		padding: 35px;

		@media (max-width: $wide - 1) {
			display: none;
		}

		dl {
			position: relative;
			margin-bottom: 25px;

			dd {
				position: absolute;
				left: -10px;
				bottom: 46px;

				.mark {
					&:first-child {
						position: relative;
						right: 4px;
					}
				}				
			}
		}
	}

	.nav__block--mobile {
		padding: 0;
		margin-top: 38px;
		max-width: 100%;
		overflow: hidden;
		display: block;

		@media (min-width: $wide) {
			display: none;
		}

		dl {
			// @media (min-width: $tablet) {
			// 	display: flex;
			// 	justify-content: space-between;

			// }
			dt {
				margin-bottom: 30px;
				
				img {
					margin-left: auto;
					margin-right: auto;

					@media (min-width: $tablet) {
						margin-left: inherit;
						margin-right: inherit;
					}
				}
			}

			dd {
				position: static;
				max-width: 323px;
				margin-left: auto;
				margin-right: auto;

				@media (min-width: $tablet) {
					max-width: none;
					margin-left: inherit;
					margin-right: inherit;
				}

				.mark {
					position: static !important;
				}
			}			
		}
	}

	.nav__block-footer {
		max-width: 323px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.nav__close {
		position: absolute;
		top: 0;
		left: 100%;
		font-size: 34px;
		display: inline-block;
		background-color: #F97E4C;
		padding: 18px;

		&:hover,
		&:active,
		&:focus {
			background-color: $alt;
		}

		i {
			&:before {
				color: #fff !important;
			}
		}
	}

	.nav__list {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

.nav-aside {
	.collapse__content,
	.collapse__content--nested {
		display: none;
	}
}

	.nav-aside__title {
		text-transform: uppercase;
		margin-bottom: 27px;

		&:after {
			display: block;
			content: '';
			background-color: $primary;
			height: 4px;
			margin-top: 10px;
		}
	}

	.nav-aside__toggle {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 13px;
		padding-bottom: 13px;

		border-bottom: 1px solid $smoke;

		> a {
			font-size: 18px;
			text-decoration: none !important;
			color: $grey;
			background-color: transparent !important;
			padding-right: 14px !important;

			&:first-child {
				@media (min-width: $desktop) {
					max-width: 238px;
				}
			}

			&:hover,
			&:active {
				color: $primary;
			}
		}

		&.in {
			border-color: $alt;
		}
	}

	// Second order
	.nav-aside__toggle-sub {
		font-size: 16px;
		color: #000 !important;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 12px;
		padding-top: 22px;

		span {
			&:first-child {
				max-width: 190px;
			}
		}
		
		i {
			display: inline-block;
			@include trans;
			transform-origin: 50% 50%;
		}

		&.in {
			i {
				transform: rotate(90deg);
				color: $primary !important;
			}
		}
	}

	.nav-aside__symbol-sub {
		font-size: 9px;
		position: relative;
		right: 2px;

	}

	.nav-aside__symbol {
		font-size: 8px !important;
		position: relative;
		right: 10px;

		i {
			display: inline-block;
			@include trans;
			transform: rotate(-90deg);
		}

		&.in {
			i {
				transform: none;
				color: $primary;
			}
		}
	}

	.nav-aside__content-sub {
		font-size: 14px;
		color: #000;

		ul {
			border-bottom: 1px solid $smoke;
			padding-bottom: 22px;
		}
	}

	.nav-aside__content {
		padding-left: 10px;
		padding-right: 10px;

		padding-bottom: 22px;
		border-bottom: 1px solid $alt;
	}

	// Our Food CSS

	.tab-content > .tab-pane {
	  display: none;
	}
	.tab-content > .active {
	  display: block;
	}

	.nav-tabs {
	  font-size: 0;
	  text-align: center;
	  padding-top: 0 !important;

	  width: 100%;
	  white-space: nowrap;
	  overflow-x: auto;
	  overflow-y: hidden;


	  > li {
	    display: inline-block;
	    vertical-align: bottom;
	    position: relative;
	    white-space: normal;

	    + li {
	      &:before {
	        display: block;
	        content: '';
	        width: 1px;
	        height: calc(100% - 28px);
	        left: -1px;
	        top: 50%;
	        transform: translateY(-50%);
	        position: absolute;
	        opacity: .25;
	      }
	    }
	  }
	}


	// Our Food CSS ./end