/*------------------------------------
	@COMPONENTS #COLLAPSES
--------------------------------------*/

	.collapse__content {
		.footer & {
			display: none;

			@media (min-width: $tablet) {
				display: block !important;
			}
		}

		.header & {
			display: none;
		}
	}

	.collapse__heading {
		color: #979797;
		display: inline-block;
		font-size: 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer !important;
		padding-top: 20px;
		padding-bottom: 15px;
		padding-left: 20px;
		padding-right: 20px;
		border-bottom: 4px solid $alt;
		background-color: transparent;
		letter-spacing: 1.14px;

		&.in {

			color: $grey;

			.caret__toggle {
				transform: scaleY(-1);
			}
		}

		&:hover {
			color: $primary;
		}

		@media (min-width: $mobile) {
			font-size: inherit;
		}

		@media (min-width: $tablet) {
			cursor: inherit !important;
			display: inherit;
			border-bottom: none;
			padding-left: inherit;
			padding-right: inherit;
		}

		@media (min-width: $desktop) {
			margin-bottom: 20px;
			padding-top: 0;
		}
	}

	.caret__toggle {
		font-size: 13px;
		color: $primary;
		@include trans;

		@media (min-width: $tablet) {
			display: none;
		}
	}
