/*------------------------------------
	@COMPONENTS #HEADER
--------------------------------------*/

header,
.header {
	position: relative;
	z-index: 9800;
	background-color: #fff;

	.wrapper {
		@media (max-width: $tablet - 1) {
			padding-right: 0;
		}
	}
}