/*------------------------------------
	@COMPONENTS #FORMS
--------------------------------------*/

.form-group {
	text-align: left;

	@media (min-width: 620px) {
		text-align: inherit;
	}
	.textbox {
		width: 100%;

		@media (min-width: 620px) {
			max-width: 458px;
		}
	}

	> * {
		margin-right: auto;
		display: block;

		@media (min-width: 620px) {
			vertical-align: middle;
			display: inline-block;
			margin-left: 7px;
			margin-right: 7px;
		}
		
		&:last-child {
			margin-top: 20px;

			@media (min-width: 620px) {
				margin-top: inherit;
			}
		}

	}
}