/*------------------------------------
	@COMPONENTS #OVERLAY
--------------------------------------*/

.overlay-top {
	width: calc(100% - 20px);
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	background-color: #fff;
	margin-top: -40px;
	position: relative;
	z-index: 20;
}

.backdrop {
	position: fixed;
	top: 0;
	width: 100% !important;
	height: 100% !important;
	background-color: #000;
	opacity: .7;
	content: '';
	z-index: 6000;
	display: none;

	@media (max-width: $desktop - 1) {
		display: none !important;
	}
}