/*------------------------------------
    @COMPONENTS #BUTTONS
------------------------------------*/

@keyframes grow {
    0% {
		transform: translate(-50%, -50%);
		opacity: 1;
    }
    100% {
		transform: translate(-50%, -50%) scale(1.4, 1.4);
		opacity: 0;
    }
}

.btn--lg {
	font-size: 24px;
    padding: 6px 40px;
}


.btn--primary {
	background-color: $primary;
	color: #fff !important;

	&:focus,
	&:hover {
		background-color: lighten($primary,10);
	}
}

.btn--alt {
	background-color: #fff;
	color: $primary;

	&:hover,
	&:focus {
		background-color: $primary;
		color: #fff;
	}
}

.btn--ter {
	background-color: #fff;
	color: $alt;

	&:hover,
	&:active {
		background-color: $alt;
		color: #fff;
	}
}

button,
a {
	&.btn--ter {
		color: $primary;
		background-color: #fff;

		pre {
			background-color: #fff;
			opacity: 1;
			// animation-name: grow;
		    animation-duration: .35s;
		    // animation-play-state: paused;	
		}

		&:hover {
			
			color: lighten($primary,10);
			
		}
	}	
}



.btn--sm {
	font-size: 18px;
	padding: 14px 60px;
}

a.btn-square {
	line-height: 1;
}

.btn-square {
	background-color: $alt;
	width: 50px;
	text-align: center;
	color: $primary !important;
	position: relative;
	display: inline-block;
	font-size: 11px;
	width: 100px;
	padding-top: 21px;
	padding-bottom: 21px;


	&:after {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		opacity: .2;
		@include trans;
		transform: scaleX(0);
		transform-origin: 0 50%;
		z-index: 0;
	}

	> i {
		position: relative;
		z-index: 10;
		@include trans;
		display: inline-block;

	}

	&:hover,
	&:active {

		> * {
			margin-left: 5px;
		}

		&:after {
			transform: none;
		}
	}
}

.btn-square--sm {
	width: 50px;
	padding-top: 14px;
	padding-bottom: 14px;
	
	@media (min-width: $tablet) {
		width: 100px;
		padding-top: 21px;
		padding-bottom: 21px;
	}
}

.btn-square--inverse {
	&:after {
		transform-origin: 100% 50%;

	}

	&:hover,
	&:active {
		> * {
			margin-left: inherit;
			margin-right: 5px;
		}
	}
}

.btn--header {
	@media (min-width: $desktop) and (max-width: $wide - 1) {
		padding-left: 26px;
		padding-right: 26px;
		font-size: 22px !important;
	}
}