/*------------------------------------
	@COMPONENTS #CARDS
--------------------------------------*/

.card-cover {
	position: relative;
	color: #fff;
	width: 100%;
}


	.card-cover__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: 50% 0;
	}

	.card-cover__content {
		position: relative;
		z-index: 20;
		padding: 40px 16px 56px;

		@media (min-width: $desktop) {
			padding: 50px 25px 110px;
		}
	}

	.card-cover__content--primary {
		max-width: 300px;
		margin-right: auto;
		margin-left: auto;
		padding-top: 70px;


		@media (min-width: $desktop) {
			max-width: 458px;
			margin-right: 86px;
		}
	}

	.card-cover__content--alt {
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}

	.card-cover__symbol {
		display: inline-block;
		max-width: 54px;
		margin-bottom: 20px;

		@media (min-width: $tablet) {
			max-width: none;
			margin-bottom: 44px;
		}
	}

	.card-cover__title {
		font-size: 24px;
		margin-bottom: 20px;

		@media (min-width: $tablet) {
			margin-bottom: 34px;
		}
	}

	.card-cover__title--lg {
		@media (min-width: $tablet) {
			font-size: 36px;
			line-height: toem(36px,24px);
		}
	}

	.card-cover__copy {
		margin-bottom: 50px;
		font-size: 16px;
		line-height: 1.43;

		@media (min-width: $tablet) {
			margin-bottom: 70px;
		}
	}

a.card-bar-wrapper {
	display: block;
	color: $grey !important;

	&:hover,
	&:active {
		.img-zoom {
			> * {
				transform: none;
			}
		}
	}
}

.card-bar-wrapper {
	h6 {
		@media (max-width: $mobile - 1) {
			font-size: 20px;
		}		
	}

	.copy {
		font-size: 18px;	

		@media (min-width: 	$mobile) {
			font-size: 24px;	
		}
	}
}

.card-bar {
	position: relative;
	max-width: 376px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;

	@media (min-width: $tablet) {
		margin-bottom: 50px;
	}

}

 	.card-bar__content {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;

 		font-size: 18px;
		line-height: 1.33;
		letter-spacing: 2px;
		text-transform: uppercase;
		text-align: center;
		

		p {
			display: inline-block;
			font-weight: 900;
			position: relative;
			bottom: -10px;
			background-color: $smoke;
			color: $alt;
			padding: 12px 52px;


			@media (min-width: $desktop) {
				padding: 18px 52px;
				padding-bottom: 0;				
			}
		}
		
 		&:after {
 			display: block;
 			content: '';
 			background-color: $primary;
 			height: 10px;
 		}
 	}

.card-panel {
	background-color: $alt;
	padding: 20px 20px;
}

a.card-panel {
	display: block;

	&:hover,
	&:active {
		background-color: lighten($alt,10);
		.card-panel__copy {
			i {
				right: -2px;
			}
		}
	}
}

	.card-panel__header {
		margin-bottom: 20px;

		@media (min-width: $desktop) {
			margin-bottom: 120px;
		}
	}

	.card-panel__header--mic {
		img {
			max-width: 34px;
			display: block;

			@media (min-width: $tablet) {
				max-width: none;
			}
		}
	}

	.card-panel__copy {
		font-size: 24px;
		font-weight: 700;
		color: #fff !important;
		text-transform: uppercase;
		padding-right: 36px;
		position: relative;

		i {
			font-size: 8px;
			bottom: 13px;
			right: 2px;
			color: $primary;
			@include trans;
			position: absolute;

			@media (min-width: $desktop) {
				display: block;
				position: static;

			}

			@media (min-width: $large) {
				position: absolute;
				display: inline-block;
			}
		}
	}

	.card-panel__copy--aligned {
		padding-right: 0px;
		span {
			padding-right: 36px;
			display: inline-block;
			position: relative;
		}
	}

.card-spread {
	padding: 32px;
	position: relative;
	color: #fff;
	text-align: center;
	margin-bottom: 16px;
	padding-top: 42px;

	@media (min-width: $tablet) {
		padding-top: 80px;
	}

	i {
		font-size: 8px;
	}
}

a.card-spread {
	color: #fff !important;
	display: block;

	&:hover,
	&:active {
		.card-spread__cover {
			> * {
				transform: none;
			}
		}

		.card-spread__footer {
			i {
				left: 4px;
			}
		}
	}
}

	.card-spread__cover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		&:before {
			display: block;
			content: '';
			background-color: #000;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 20;
			opacity: .6;
		}

		> * {
			transition: transform 2.25s ease-out;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 50% 50%;
			transform: scale(1.25,1.25);
		}
	}

	.card-spread__content {
		position: relative;
		z-index: 100;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.card-spread__title {
		text-transform: uppercase;

		@media (max-width: $tablet - 1) {
			font-size: 20px;
		}
	}

	.card-spread__body {
		padding-top: 30px;
		padding-bottom: 40px;
		font-size: 14px;

		@media (max-width: $tablet - 1) {
			line-height: (20px / 14px);
		}

		@media (min-width: $desktop) {
			padding-top: 100px;
			padding-bottom: 100px;			
		}
	}

	.card-spread__footer {
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 1.56px;
		@include trans;

		@media (max-width: $tablet - 1) {
			font-size: 14px;
		}

		i {
			@include trans;
			display: inline-block;
			position: relative;
			bottom: 2px;
			left: 0;
		}

	}

