/*------------------------------------
	@COMPONENTS #PAGINATIONS
--------------------------------------*/

.pagination {

	ol {
		list-style-type: none;
		font-size: 0;
		display: flex;
		justify-content: space-between;		

		@media (min-width: $tablet) {
			margin-left: -12px;
			margin-right: -12px;			
		}
	}

	li {
		display: inline-block;
		color: #393939;
		font-size: 24px;
		vertical-align: middle;

		@media (min-width: $tablet) {
			padding-left: 12px;
			padding-right: 12px;			
		}

		&:first-child {
			position: relative;

			@media (min-width: $tablet) {
				padding-right: 45px;
			}
		}

		&:last-child {

			@media (min-width: $tablet) {
				padding-left: 45px;
			}
		}

		a {
			text-decoration: none !important;
			display: inline-block;
		}

		span {
			color: $smog;
		}

		&.active {
			span {
				background-color: #fff;
				border: 1px solid $primary;
				color: $alt;
				display: inline-block;
			}
		}

		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(6),
		&:nth-child(7),
		&:nth-child(8) {
			a, span
			{
				padding: 3px 6px !important;
				display: inline-block;
				text-align: center;
				font-weight: 700;
				font-size: 24px;

				@media (min-width: $tablet) {
					padding: 3px 8px !important;
					font-size: 32px;
				}
			}
		}

		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(6),
		&:nth-child(7) {
			a {
				color: $grey !important;

				&:hover,
				&:active {
					color: $primary !important;
				}
			}
		}
	}
}