/*------------------------------------
	@COMPONENTS #QUOTES
--------------------------------------*/

.quote {

}

	.quote__header {
		font-size: 14px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: $alt;
		
		margin-bottom: 40px;

		@media (min-width: $tablet) {
			margin-bottom: 68px;

		}

		> * {
			display: inline-block;
			vertical-align: middle;
		}

		span {
			color: $primary;
		}

		strong {
			display: none;

			@media (min-width: $mobile) {
				display: inline-block;
			}
		}

		[class^="icon"] {
			color: $primary;
			margin-right: 15px;
			font-size: 32px;
			padding-left: 12px;

			@media (min-width: $mobile) {
				padding-left: 0;
				font-size: 50px;
			}
		}
	}

	.quote__copy {
		font-family: $serif;
		color: $alt;
		// letter-spacing: 1px;
		margin-bottom: 10px;
		font-size: 24px;
		line-height: (30px / 24px);

		@media (min-width: $mobile) {
			margin-bottom: 40px;
		}

		@media (min-width: $tablet) {
			font-size: 32px;
			line-height: (48px / 32px);

		}	

		mark {
			color: $alt;
			background-color: transparent;

			@media (min-width: $tablet) {
				background-color: $smoke;
			}
		}

	}

	.quote__link {

		font-size: 14px;
		line-height: 14/18;

		@media (min-width: $mobile) {
			font-size: 24px;
			line-height: 16/24;			
		}

	}