/*------------------------------------
	@COMPONENTS #SYMBOLS
--------------------------------------*/

.symbol-play {
	span & {
		display: inline-block;
	}

	// width: 40px;
	// height: 40px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 72px;
	height: 72px;		

	// @media (min-width: $tablet) {
	// 	width: 72px;
	// 	height: 72px;		
	// }

	i {
		display: inline-block;
		margin-left: 4px;

		@media (min-width: $tablet) {
			margin-left: 7px;
		}
	}
}

.symbol-play--dark {
	color: $alt;
}

.symbol-play--lg {
	// font-size: 22px;

	// @media (min-width: $tablet) {
	// 	font-size: 34px;
	// }
	font-size: 34px;
}
