/*------------------------------------
	@COMPONENTS #MODALS
--------------------------------------*/

.modal {
	z-index: 9000;
}

.modal-dialog {
	@media (min-width: $desktop) {
		width: 800px;
	}
}

.modal-flat {
	.modal-content {
		border-radius: 0;
		position: relative;
	}

	.modal-header {
		position: absolute;
		z-index: 10;
		border: none;
		top: 0;
		right: 0;
	}

	.modal-close {
		padding: 0;
		display: inline-block;
		font-size: 14px;
		position: relative;
		color: #fff;
		background-color: $alt;

		padding: 4px 5px;

		&:hover,
		&:active {
			background-color: lighten($alt,15);
		}
	}
}