/*------------------------------------
	@COMPONENTS #TABLES
--------------------------------------*/

.table-justifize {
	font-size: 20px;
	color: $alt;

	td {
		&:first-child {
			font-weight: 700;
		}

		padding-bottom: 27px;
		padding-left: 2px;
		padding-right: 18px;

		@media (min-width: $desktop) {
			padding-left: 0;
			padding-right: 0;
		}
		
	}

	a {
		&:not([class]) {
			color: $color-text !important;
			text-decoration: none !important;
			background-color: transparent !important;

			&:hover,
			&:active {
				color: $primary !important;
			}		
		}
	}
}