/*------------------------------------
	@COMPONENTS #SECTIONS
------------------------------------*/

.section {
	padding-top: 90px;
	padding-bottom: 60px;

	@media (min-width: $desktop) {
		padding-top: 152px;
		padding-bottom: 90px;
	}
}

.section-md {

	padding-top: 20px;
	

	@media (min-width: $mobile) {
		padding-top: 50px;
		padding-bottom: 70px;
	}
	
	@media (min-width: $desktop) {
		padding-top: 64px;
		padding-bottom: 98px;
	}
}

.section-shaded {
	padding-top: 42px;
	// padding-bottom: 96px;
	padding-bottom: 130px;		

	@media (min-width: $tablet) {
		padding-top: 60px;
	}


	background-color: $smoke;
}

.section-shaded--thick {
	@media (min-width: $tablet) {
		padding-top: 80px;
	}
}


.section-half {
	position: relative;
	background-color: $smoke;
	margin-bottom: 75px;

	@media (min-width: $desktop) {
		margin-bottom: 45px;
		padding-bottom: 80px;
	}

	> .wrapper {
		padding-top: 60px;
		padding-bottom: 38px;
		position: relative;
		z-index: 20;
		margin-right: inherit;
		background-color: #fff;

		@media (min-width: $desktop) {
			background-color: $smoke;
		}

		@media (max-width: $desktop - 1) {
			max-width: calc(100% - 8px);
		}


		@media (min-width: $desktop) {
			margin-right: auto;
			top: -60px;
			padding-top: 80px;
			padding-bottom: 52px;
		}

		@media (min-width: 1400px) {
			max-width: 1290px;
		}
	}
}

.section-half--light {
	background-color: #fff;

	> .wrapper {
		background-color: #fff;
	}
	
	.section-half__block {
		&:nth-child(2) {
			&:before {
				background-color: #fff;
			}

			&:after {
				background-color: $smoke;
			}
		}
	}

	+ * {
		padding-top: 140px;
	}
}

.section-half--spaced {
	+ * {
		padding-top: 140px;
	}
}

	.section-half__block {
		position: absolute;
		width: 50%;
		top: 0;
		height: 100%;

		&:first-child {
			left: 0;
			background-color: $alt;
			height: calc(100% + 50px);

			@media (min-width: $desktop) {
				height: 100%;
			}

			&:after {
				display: block;
				width: 4px;
				height: 45px;
				content: '';
				background-color: $alt;
				right: 0;
				top: 100%;
				position: absolute;

				@media (min-width: $desktop) {
					height: 56px;
				}
			}
		}

		&:nth-child(2) {
			right: 0;

			&:before,
			&:after {
				content: '';
				height: 60px;
				width: 100%;
				position: absolute;
				left: 0;
				display: none;

				@media (min-width: $desktop) {
					display: block;
					height: 140px;
				}
			}

			&:before {
				background-color: $smoke;

				@media (min-width: $desktop) {
					top: -60px;
				}
			}

			&:after {
				bottom: 0;
				background-color: #fff;
			}
		}
	}

	.section-half__block--alt {

		&:first-child {
			background-color: $primary;

			@media (min-width: $desktop) {
				height: 100%;
			}

			&:after {
				background-color: $primary
			}
		}

		&:nth-child(2) {
			right: 0;

			&:before,
			&:after {
				content: '';
				height: 60px;
				width: 100%;
				position: absolute;
				left: 0;
				display: none;

				@media (min-width: $desktop) {
					display: block;
					height: 140px;
				}
			}

			&:before {
				background-color: $smoke;

				@media (min-width: $desktop) {
					top: -60px;
				}
			}

			&:after {
				bottom: 0;
				background-color: #fff;
			}
		}
	}

	.section-half__block--white {
		display: none;

		&:before {
			display: none;
		}
	}


.section-cover {
	padding-bottom: 70px;
	position: relative;
	padding-top: 290px;

	@media (min-width: $tablet) {
		padding-top: 100px;
	}

	> .wrapper {
		position: relative;
		z-index: 10;
	}
}

	.section-cover__bgr {
		// position: absolute;
		// top: -14px;
		// right: -150px;

		// @media (min-width: $desktop) {
		// 	top: 0;
		// 	right: 0;			
		// }


		// @media (min-width: $tablet) {
		// 	right: 50%;
		// 	transform: translateX(30%);	
		// 	height: auto;
		// }

		// img {
		// 	height: 460px;
		// }

		// New style (100% height)
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 0;

		@media (min-width: $tablet) {
			background-size: contain;
			background-position: 70% 0;
		}

	}

.section-offset-left {
	position: relative;
	padding-bottom: 70px;

	@media (min-width: $tablet) {
		padding-top: 80px;
		padding-bottom: 140px;		
	}

	h5 {
		@media (max-width: $mobile - 1) {
			font-size: 20px;
		}
	}
}

	.section-offset-left__img {
		position: relative;
		right: 164px;
		display: none;

		@media (min-width: $desktop) {
			display: block;
		}
	}

.section-offset-left--extend-primary {
	> .wrapper {
		position: relative;

		> * {
			position: relative;
			z-index: 100;
		}

		@media (min-width: 1400px) {
			max-width: 1290px;
		}

		&:after {
			display: block;
			content: '';
			background-color: $primary;
			position: absolute;
			height: 40%;
			top: -80px;
			left: 100%;
			min-height: 96px;

			@media (min-width: 1400px) {
				width: calc(50vw - 645px);
			}
		}
	}
}

.section-offset-right {
	background-color: $alt;
	padding-top: 60px;
	position: relative;
	padding-top: 64px;
	padding-bottom: 42px;

	@media (min-width: $tablet) {
		padding-bottom: 100px;
		margin-bottom: 60px;
	}

	&:before {
		display: block;
		content: '';
		background-color: #fff;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: calc(50vw - 720px + 226px);
	}

	&:after {
		display: block;
		content: '';
		background-color: $alt;
		top: 100%;
		height: 60px;
		width: 4px;
		left: calc(50vw - 720px + 226px);
		position: absolute;
		z-index: 1000;
	}

	h5, h6 {
		margin-bottom: 30px;
		
		@media (min-width: $tablet) {
			margin-bottom: 56px;
		}
	}
}

.section-cover-right {
	overflow: hidden;

	@media (max-width: $desktop - 1) {
		padding-top: 190px;
	}

	@media (min-width: $desktop) {
		padding-bottom: 130px;	
		padding-top: 142px;
	}


	> .wrapper {
		position: relative;
	}

	.row {
		position: relative;
		z-index: 20;
	}
}

	.section-cover-right__img {
		position: absolute;
		display: block;

		top: -330px;
		display: block;
		right: -270px;
		transform: scale(0.5,0.5);

		@media (min-width: $tablet) {
			top: 0;
			right: 0;
			transform: none;
		}

		@media (min-width: $desktop) {
			top: -115px;
		}
	}

.trimmer {
	max-width: 100%;
	overflow: hidden;
}