/*------------------------------------
	@COMPONENTS #BOXES
--------------------------------------*/

.box {
	font-family: $serif;
	font-size: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 2px 2px 30px 0px rgba(0,0,0,0.1);
	padding: 24px 12px;
	margin-bottom: 10px;
	padding-top: 30px;

	@media (min-width: $tablet) {
		margin-bottom: 20px;
		padding: 45px 30px;
	}

	&.in {
		.box__toggle {
			transform: scaleY(-1);
		}
	}
}

	.box__symbol {
		display: block;	
		width: 26px;
		height: 26px;
		border: 3px solid $primary;
		border-color: $primary !important;//ie11
		color: $alt !important;
		border-radius: 50%;
		position: relative;
		font-size: 13px;

		@media (min-width: $tablet) {
			font-size: 18px;
			height: 46px;
			width: 46px;
			border-width: 4px;		
		}


		i {
			display: inline-block;
			@include center;
		}
	}

	.box__symbol--large {
		font-size: 15px;

		@media (min-width: $tablet) {
			font-size: 26px;
		}
	}

	.box__title {
		> * {
			display: inline-block;
			vertical-align: top;

			@media (min-width: $tablet) {
				vertical-align: middle;
			}
		}
		
		dd {
			color: $grey;
			padding-left: 12px;
			max-width: 180px;
			position: relative;
			top: -0.32em;

			@media (min-width: $mobile) {
				max-width: none;
				padding-left: 30px;
				position: static;
			}

			@media (max-width: $tablet - 1) {
				font-size: 20px;
				line-height: 24px;
			}
		}
	}

	.box__toggle {
		@include trans;
		color: $primary !important;
		display: inline-block;
		margin-top: 4px;

		@media (max-width: $tablet - 1) {
			font-size: 13px;
		}
	}

	.box__copy {
		padding: 10px 30px 34px;
		display: none;
		font-size: 18px;

		@media (min-width: $tablet) {
			font-size: 16px;
			padding-top: 35px;
			padding-bottom: 50px;
		}
	}


.box-cover {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-top: 50px;

	@media (min-width: $mobile) {
		padding-top: 60px;
	}
}
	.box-cover__img {
		opacity: .7;

		@media (min-width: $mobile) {
			position: absolute;
			top: 0;
			left: -10px;			
		}

		@media (min-width: $wide) {
			left: -30px;
		}
	}

	.box-cover__content {
		position: relative;
		z-index: 10;
		width: 100%;

		@media (min-width: $mobile) {
			max-width: 340px;
			left: 10px;
		}
		
		@media (min-width: $wide) {
			left: 70px;			
		}

		.mark {
			color: #fff;
			background-color: $alt;
			font-family: $serif;
			display: inline-block;
			font-size: 24px;
			padding-left: 15px;
			padding-right: 15px;

			@media (min-width: $mobile) {
				padding: 10px 15px;
				font-size: 32px;
			}

			&:last-of-type {
				margin-bottom: 30px;
			}
		}
	}

	.box-cover__copy {
		text-align: center;
		color: $alt;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 20px;

		@media (min-width: $mobile) {
			font-size: 28px;
		}
	}
