/*------------------------------------
	@COMPONENTS #LISTINGS
--------------------------------------*/

.listing {

	.pill-container {
		border-bottom: 5px solid $alt;
	}
	

	@media (min-width: $desktop) {
		&:not(:last-child) {
			.pill-container {
				border-bottom: 5px solid $alt;
			}
		}

		&:last-child {
			.pill-container {
				border-bottom: none;
			}
		}
	}

	// h6 {
	// 	font-size: 16px;

	// 	@media (min-width: $tablet) {
	// 		font-size: 24px;
	// 	}
	// }
}