/*------------------------------------
	@COMPONENTS #TABS
--------------------------------------*/

.tabs {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	padding-bottom: 21px;
	border-bottom: 3px solid $alt;
	margin-bottom: 63px !important;

	li {
		display: inline-block;
		font-size: 24px;

		&.active {
			a {
				padding-bottom: 16px;
				color: black !important;
				border-bottom: 8px solid $alt;
			}
		}
	}
}

.tabs__link {
	color: #979797 !important;
	font-weight: 700;
	letter-spacing: 1.71px;

	&:focus,
	&:active {
		padding-bottom: 16px;
		color: black !important;
		border-bottom: 8px solid $alt;
	}

	&:hover {
		padding-bottom: 16px;
		color: $primary !important;
		border-bottom: 8px solid $alt;

	}
}