/*------------------------------------
	@COMPONENTS #FOOTER
------------------------------------*/

.footer {
	position: relative;
	z-index: 5000;
	// overflow:hidden;

	/* STICKY FOOTER */
	// position: absolute;
	// left: 0;
	// bottom: 0;
	// right: 0;
	/* STICKY FOOTER ./end */

}
	.footer__to-top {
		max-width: 1328px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	.footer__trim {
		max-width: 100%;
		overflow: hidden;
	}
	
	.footer__container {
		background-color: $alt;
		position: relative;
		max-width: 1328px;
		color: #fff;

		> * {
			position: relative;
			z-index: 20;
		}

		padding-top: 40px;
		padding-bottom: 20px;

		@media (min-width: $tablet) {
			display: block !important;
		}
		
		@media (min-width: $desktop) {
			padding-top: 100px;
			padding-bottom: 80px;
		}


		&:before {
			position: absolute;
			height: 100%;
			background-color: $alt;
			display: block;
			content: '';
			width: calc(50vw - 664px);
			right: 100%;
			top: 0;
			z-index: 10;
		}

		&:after {
			position: absolute;
			background-color: $primary;
			display: block;
			content: '';
			width: calc(50vw - 664px);
			bottom: 0;
			height: calc(100% - 200px);
			left: 100%;
			z-index: 5;
		}
	}

	.footer__logo {
		display: inline-block;
		@include trans;
		margin-bottom: 40px;
		padding-left: 20px;

		@media (min-width: $tablet) {
			padding-left: 0;
			margin-bottom: inherit;
		}

		img {
			display: block;
			max-width: 100%;
		}

		&:hover,
		&:active {
			opacity: .5;
		}
	}

	.footer__heading {
		text-transform: uppercase;
		color: #fff !important;
		display: inline-block;
		font-size: 14px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer !important;
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid rgba(#f6f6f6, .2);
		background-color: transparent;

		padding-left: 20px;
		padding-right: 20px;



		&.in {
			border-color: #fafafa;

			.footer__toggle {
				transform: scaleY(-1);
			}
		}

		@media (min-width: $mobile) {
			font-size: inherit;
		}

		@media (min-width: $tablet) {
			cursor: inherit !important;
			display: inherit;
			border-bottom: none;
			padding-left: inherit;
			padding-right: inherit;
		}

		@media (min-width: $desktop) {
			margin-bottom: 20px;
			padding-top: 0;
		}

	}

	.footer__toggle {
		font-size: 13px;
		color: $primary;
		@include trans;

		@media (min-width: $tablet) {
			display: none;
		}
	}

	.footer__nav {
		list-style-type: none;

		li {
			padding-top: 8px;
			padding-bottom: 8px;
			padding-left: 20px;

			@media (min-width: $mobile) {
				padding-top: 16px;
				padding-bottom: 16px;				
			}

			@media (min-width: $tablet) {
				padding-left: inherit;
				padding-top: 6px;
				padding-bottom: 6px;
			}

			@media (min-width: $desktop) {
				padding-top: 16px;
				padding-bottom: 16px;
			}

			&:last-child {
				@media (max-width: $tablet - 1) {
					padding-bottom: 26px;
				}

				border-bottom: 1px solid #f6f6f6;

				@media (min-width: $tablet) {
					border-bottom: none;					
				}
			}

			&:first-child {
				@media (max-width: $tablet - 1) {
					padding-top: 26px;
				}
			}
		}

		a {
			color: #fff !important;

			@media (max-width: $mobile - 1) {
				font-size: 14px;
			}

			&:hover,
			&:active {
				color: $primary !important;
			}
		}
	}

	.footer__nav--alt {
		// li {
		// 	&:last-child {
		// 		padding-bottom: 16px;
		// 	}
		// }

		@media (max-width: $tablet - 1) {
			margin-right: - $gutter-width;
		}
	}

	.footer__nav--ter {
		// li {
		// 	&:first-child {
		// 		padding-top: 16px;
		// 	}
		// }

		@media (max-width: $tablet - 1) {
			margin-left: - $gutter-width;
		}

	}

	.footer__list {
		text-align: center;
		margin-bottom: 50px;

		@media (min-width: $tablet) {
			text-align: left;
			margin-bottom: inherit;
		}

		ul {
			list-style-type: none;
			font-size: 0;
			margin-left: -15px;
			margin-right: -15px;

			li {
				display: inline-block;
				padding-left: 15px;
				padding-right: 15px;
				vertical-align: middle;

				a {
					display: inline-block;
					color: #fff !important;
					font-size: 22px;

					&:hover,
					&:active {
						color: $primary !important;
					}
				}
			}
		}
	}

	.footer__small {
		font-size: 14px;
		padding-right: 20px;
	}