/*------------------------------------
	@COMPONENTS #STANDARD-INNER
--------------------------------------*/

.standard-inner {
	font-size: 16px;
	color: #000;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 900;
		color: $alt;
	}

	h2 {
		line-height: 40px;
		@media (min-width: $tablet) {
			font-size: 64px;
			line-height: 60px;			
		}

	}

	h1,h2,h3,h4 {
		margin-bottom: 30px;
	}


	h5 {
		margin-bottom: 20px;
	}

	h6 {
		@media (min-width: $tablet) {
			line-height: 30px;
		}
	}

	h4,
	h5 {
		@media (max-width: $tablet - 1) {
			margin-bottom: 8px;
		}
	}

	h3 {
		color: $primary;
		line-height: 36px;

		@media (max-width: $tablet - 1) {
			margin-bottom: 8px;
		}

		@media (min-width: $tablet) {
			line-height: 48px;
		}
	}

	p {
		line-height: (24px / 16px);
		margin-bottom: 40px;

		@media (min-width: $tablet) {
			line-height: (28px / 16px);
			margin-bottom: 70px;
		}
	}

	h5 {
		span {
			font-size: 24px;
			text-transform: uppercase;
			color: $primary;
			display: inline-block;
			vertical-align: middle;

			&:before {
				display: inline-block;
				content: '';
				background-color: $alt;
				width: 0.85em;
				height: 0.85em;
				margin-right: 14px;
				vertical-align: bottom;
				font-size: 24px;
				vertical-align: middle;
				position: relative;
				top: -3px;
			}
		}
	}

	ol {
		list-style-type: none;
		margin-bottom: 60px;

		@media (min-width: $tablet) {
			margin-bottom: 100px;
		}

		li {
			padding-left: 2px;
			counter-increment: step-counter;
			vertical-align: top;
			padding-left: 40px;
			position: relative;
			padding-top: 5px;
			padding-bottom: 5px;

			> a {
				margin-left: -2px;
				font-weight: 700;
			}

			&:before {
				content: counter(step-counter)'.';
				display: inline-block;
				vertical-align: top;
				width: 3ch;
				text-align: right;
				font-size: 18px;
				font-weight: 900;
				position: absolute;
				left: -14px;
				top: 3px;
			}
		}
	}

	ul {
		list-style-type: none;
		margin-bottom: 60px;

		@media (min-width: $tablet) {
			margin-bottom: 100px;
		}

		li {
			padding-left: 2px;
			counter-increment: step-counter;
			vertical-align: top;
			padding-left: 40px;
			position: relative;
			padding-top: 5px;
			padding-bottom: 5px;

			> a {
				margin-left: -2px;
				font-weight: 700;
			}

			&:before {
				content: '';
				display: inline-block;
				background-color: $alt;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				position: absolute;
				left: 0px;
				top: 13px;
			}
		}
	}

	img {
		display: block;
		max-width: 100%;
	}

	blockquote {
		font-size: 24px;
		line-height: (48px / 32px);
		font-weight: 700;
		font-family: $serif;
		display: block;
		border: 1px solid #E8E8E8;
		border-left: none;
		border-right: none;
		max-width: 770px;
		margin-left: auto;
		padding: 40px 10px;
		margin-bottom: 40px;


		@media (min-width: $tablet) {
			padding: 63px 10px 45px;
			font-size: 32px;
			margin-bottom: 76px;
		}

		&:before {
			content: "\e904";
			display: block;
			color: $primary;
			text-align: left;
			font-size: 32px;
			font-family: 'icomoon';
			margin-bottom: 30px;
		}

		a {
			font-size: 14px;
			font-family: $grotesk;
			text-transform: uppercase;
			letter-spacing: 1.56px;
			text-decoration: none !important;
			padding: 0 !important;
			background-color: transparent !important;
			margin-top: 20px;

			@media (min-width: $tablet) {
				margin-top: 65px;
			}

			&:after {
				content: "\e90a";
				display: inline-block;
				vertical-align: middle;
				margin-left: 12px;
				font-family: 'icomoon';
				font-size: 9px;
				margin-bottom: 3px;
				@include trans;
			}

			span {
				color: $alt;
			}

			&:hover,
			&:active {
				&:after {
					padding-left: 16px;
				}
			}
		}
	}

	.img-caption {
		font-size: 16px;
		font-weight: 900;
		line-height: 22px;
		margin-bottom: 60px;

		@media (min-width: $tablet) {
			line-height: 28px;
			margin-bottom: 90px;
		}
	}
}