/*------------------------------------
	@COMPONENTS #TO-TOP
--------------------------------------*/

.to-top{
	position: absolute !important;
	display: inline-block;
	right: 10px;
	bottom: calc(100% + 50px);

	@media (min-width: $desktop) {
		right: 40px;
		bottom: calc(100% + 30px);
	}

	img {
		max-width: 50px !important;

		@media (min-width: $desktop) {
			max-width: none !important;
		}
	}		
}
