/*------------------------------------
	@COMPONENTS #IMAGES
--------------------------------------*/


.img-zoom {
	overflow: hidden;

	img {
		display: block;
		max-width: 100%;
		transition: transform 3s ease-out;
		transform: scale(1.25, 1.25);
	}

	&.in {
		img {
			transform: none;
		}
	}
}