/*------------------------------------
	@COMPONENTS #LARGE-BANNER
--------------------------------------*/

.large-banner {
	@include clearfix;
	position: relative;
	// min-height: 440px;
	min-height: 100vh;

	@media (min-width: $desktop) {
		min-height: 640px;
	}


	.bg-image {
		display: block;
		height: 100%;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
		
		img {
			bottom: -9999px;
			display: block;
			left: -9999px;
			margin: auto;
			min-height: 100%;
			min-width: 100%;
			position: absolute;
			right: -9999px;
			top: -9999px;
		}
		
		&:after {
			background: rgba(#f6f6f6, .6);
			content: "";
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			display: block;

			@media (min-width: $tablet) {
				display: none;
			}
		}
	}
	
	.overlay {
		@include clearfix;
		padding-top: 45px;
		padding-bottom: 80px;
		position: relative;
		text-align: center;
		z-index: 1;
		min-height: 440px;
		
		p {
			max-width: 585px;
		}

		@media (min-width: $tablet) {
			padding: 120px 30px 50px;
		}

		@media (min-width: $desktop) {
			min-height: 640px;

		}
	}
}