/*------------------------------------
	@COMPONENTS #MARKS
--------------------------------------*/

.mark {
	color: #fff;
	background-color: $alt;
	font-family: $serif;
	display: inline-block;
	font-size: 24px;
	padding-left: 15px;
	padding-right: 15px;

	@media (min-width: $mobile) {
		padding: 10px 15px;
		font-size: 32px;
	}

	&:last-of-type {
		margin-bottom: 30px;
	}
}

.mark--primary {
	color: $alt;
	background-color: $smoke;
	display: inline;

	@media (max-width: $tablet) {
		padding: 0;
		background-color: transparent;
	}
}

.mark--sm {
	padding: 2px 6px;
}