/*------------------------------------
	@COMPONENTS #SLIDERS
--------------------------------------*/

.slider-hero {
	position: relative;
	margin-bottom: 8px;

	@media (min-width: $desktop) {
		margin-bottom: 24px;
	}

	.slick-slide {
		border: none !important;
	}

	.slick-dots {
		@include center-v;
		list-style-type: none;
		right: 60px;

		@media (max-width: $tablet - 1) {
			display: none !important;
		}

		@media (min-width: 1600px) {
			right: calc(50% - 590px);
		}

		li {
			+ li {
				margin-top: 20px;
			}

			&.slick-active {
				button {
					background-color: $primary;
					border-color: $primary;
				}
			}
		}

		button {
			display: block;
			padding: 0;
			font-size: 0;
			border: 2px solid #fff;
			background-color: transparent;
			width: 20px;
			height: 20px;

			@media (min-width: $desktop) {
				border-width: 4px;
				width: 26px;
				height: 26px;
			}
		}
	}
}