/*------------------------------------
	@COMPONENTS #LINKS
--------------------------------------*/


.link-img {
	display: inline-block;

	&:hover,
	&:active {
		opacity: .7;
	}
}

a.link-symbol {
	text-transform: uppercase;
	font-weight: 700;
	align-items: center;
	letter-spacing: 0.11em;
	display: inline-flex;
	max-width: none;
	letter-spacing: 2px;
	position: relative;

	@media (min-width: $mobile) {
		letter-spacing: 3px;
	}

	i {
		@include trans;
		display: inline-block;
		margin-left: 7px;
		position: relative;
		left: 0;

	}

	&:hover,
	&:active {
		i {
			left: 7px;
		}
	}
}

.link-symbol-underlined {
	@extend .link-symbol;
	color: $color-text !important;

	i {
		@include trans;
		position: relative;
		left: 0;
	}

	&:after {
		@include trans;
		height: 2px;
		background-color: $color-text;
		display: block;
		content: '';
		width: calc(100% - 34px);
		position: absolute;
		bottom: 0;
		transform: scaleX(0);
		transform-origin: 0 50%;
		left: 0;
	}

	&:hover,
	&:active {
		i {
			left: 7px;
		}

		&:after {
			transform: none;
		}
	}
}

a.link-alt {
	color: $alt;

	&:hover,
	&:active {
		color: #fff;
	}

}

a.link-ter {
	color: #fff;

	&:hover,
	&:active {
		color: $primary;
	}
}

a.link-quart {
	color: #fff;

	&:hover,
	&:active {
		color: $alt;
	}
}


a.link-primary {
	color: $alt;

	&:hover,
	&:active {
		color: $primary;
	}
}