/*------------------------------------
	@COMPONENTS #BANNER
--------------------------------------*/

.banner {
	background-color: $alt;
	color: $primary;
	padding-top: 60px;
	padding-bottom: 50px;

	padding-bottom: 260px;

	margin-bottom: -216px;		

	@media (min-width: $tablet) {
		padding-top: 105px;
	}

	p {
		color: #fff;
		line-height: (30px / 24px);
		font-size: 20px;

		@media (min-width: $tablet) {
			font-size: 24px;
			
		}
	}

	.wrapper {
		@media (min-width: $desktop) and (max-width: $large - 1) {
			padding: 0 26px;
		}
	}
}

.banner--sm {
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 21px;

	@media (min-width: $desktop) {
		padding-bottom: 40px;
	}
}

.banner--cover {
	position: relative;

	> .wrapper {
		position: relative;
	}
}

	.banner__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;

		> * {
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}

	.banner__gradient {
		background: linear-gradient(transparent, white); 
		position: absolute;
		height: 160px;
		width: 100%;
		bottom: 0;
	} 