/*------------------------------------
	@COMPONENTS #HERO
--------------------------------------*/

.hero {
	color: $alt;
}

	.hero__title {
		text-align: left;
		max-width: 585px;
		margin-right: auto;
		font-weight: 900;

		&:after {
			display: block;
			content: '';
			background-color: $primary;
			max-width: 284px;
			margin-right: auto;
			margin-top: 30px;
			height: 4px;

			@media (min-width: $tablet) {
				height: 10px;
				margin-top: 50px;
			}
		}		
	}

	.hero__link {
		text-transform: uppercase;
		color: $alt !important;
		font-size: 18px;
		font-weight: 700;
		align-items: center;
		letter-spacing: 0.11em;
		max-width: 160px;
		display: block;

		@media (min-width: $mobile) {
			display: inline-flex;
			max-width: none;
		}

		&:hover,
		&:active {
			color: $primary !important;
		}

		i {
			display: inline-block;
			margin-left: 10px;

			@media (min-width: $mobile) {
				margin-left: 20px;
			}
		}
	}

