/*------------------------------------
	@COMPONENTS #SQUARES
--------------------------------------*/

.square {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 24px;

		max-width: 813px;
		margin-left: auto;
		margin-right: auto;

	@media (min-width: 1136px) {
		max-width: 1084px;		
	}

	ul {
		list-style-type: none;
		padding: 0;
		font-size: 0;
		margin-left: -12px;
		margin-right: -12px;
		text-align: center;

		@media (min-width: 873px) {
			text-align: left;
		}

		@media (min-width: 1136px) {
			text-align: center;
		}

		li {
			display: inline-block;
			color: #fff;
			vertical-align: middle;
			padding-bottom: 24px;
			width: 100%;

			@media (min-width: $mobile) {
				padding-left: 12px;
				padding-right: 12px;				
				width: auto;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}

			@media (min-width: 700px) {
				display: inline-block;
			}

			@media (min-width: $desktop) {
				display: inline-block;
			}

			> * {
				height: 247px;
				width: 100%;
				padding: 30px;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-start;
				overflow: hidden;
				background-color: $alt;
				text-align: left;
				margin-left: auto;
				margin-right: auto;

				@media (min-width: $mobile) {
					max-width: 376px;
				}

				// @media (min-width: $tablet) {
				// 	width: 50%;
				// }

				@media (min-width: 700px) {
					width: 247px;
				}

				@media (min-width: $desktop) {
					width: 247px;
				}
			}
		}
	}
	
	// + .square {
	// 	ul {
	// 		li {

	// 			> * {
	// 				background-color: $alt;
	// 			}

	// 			&:first-child {

	// 				> * {
	// 					background-color: #FC854F;
	// 				}
	// 			}

	// 			&:nth-child(3) {

	// 				> * {
	// 					background-color: $primary;
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}

.square-align {
	max-width: 522px;

	@media (min-width: 874px) {
		max-width: 790px;
	}

	@media (min-width: 1136px) {
		max-width: 1062px;	
	}

	margin-left: auto;
	margin-right: auto;
}

	.square__title {
		font-size: 20px;
		font-weight: 700;
		font-family: $serif;
		margin-bottom: 24px;
		line-height: (32px / 20px);
		max-width: 205px;
	}

	a.square__link {
		font-size: 14px;
		color: #fff !important;

		&:after {
			background-color: #fff;
		}
	}