/*------------------------------------
	@TRUMPS #TYPE
------------------------------------*/

.type-sm {
	font-size: ($font-size * 0.875);
}

.type-mobile-sm-down {
    @media (max-width: $mobile - 1) {
        font-size: 14px;
    }
}

.type-mid {
    @media (min-width: $tablet) {
        font-size: ($font-size * 1.285714285714286);
    }
}

.type-md {
    font-size: ($font-size * 1.28571);
    
    @media (min-width: $mobile) {
    	font-size: 24px;
    }
}

.type-medium {
    font-size: ($font-size * 1.25) !important;

    @media (min-width: $desktop) {
        font-size: 16px;
    }
}

.type16 {
    font-size: 16px;
    line-height: 20px;
}

.type-tablet-20 {
    @media (min-width: $tablet) {
        font-size: 20px;
        line-height: 28px;
    }
}

.type18x {
    @media (min-width: $tablet) {
        font-size: 18px;
    }

    i {

        @media (min-width: $tablet) {
            font-size: 9px;
        }
    }
}

.type-lg {
    @media (min-width: $tablet) {
        font-size: 28px !important;
    }
}

//TYPE WEIGHTS
.type-light {
    font-weight: 300 !important;
}

.type-normal {
    font-weight: 400 !important;
}

.type-semibold {
    font-weight: 600 !important;
}

.type-bold {
    font-weight: 700 !important;
}

.type-extrabold {
    font-weight: 800 !important;
}

.type-black {
    font-weight: 900 !important;
}

.line-flat {
    line-height: 0.94;
}

//TYPE TRANSFORMS
.type-uppercase {
    text-transform: uppercase !important;
}

.type-lowercase {
    text-transform: lowercase !important;
}

.type-capitalize {
    text-transform: capitalize !important;
}

.type-no-transform {
    text-transform: none !important;
}

.type-serif {
    font-family: $serif;
}