/*------------------------------------
	@TRUMPS #COLORS
------------------------------------*/

.combo-grey-black {
	color: #000;

	@media (min-width: $desktop) {
		color: $grey;
	}
}

.color-red {
	color: red !important;
}

.color-black {
	color: #000 !important;
}

.color-white {
	color: #fff !important;
}

.color-alt {
	color: $alt !important;
}

.color-grey {
	color: $grey !important;
}

.color-primary {
	color: $primary !important;
}

.bgr-primary {
	background-color: $primary !important;
}

.bgr-shaded {
	background-color: $smoke !important;
}

.bgr-white {
	background-color: #fff !important;
}

.bgr-primary-flat {
	background-color: #FC854F !important;
}