/*------------------------------------
	@TRUMPS #HELPERS
------------------------------------*/

// You forgot the image alt tag
img {
	&:not([alt]) {
		border: 2px dashed #c00;
	}
}

.line-lg {
  line-height: (32px / 18px);
}

.position-rel {
  position: relative;
}

.hr-default {
  margin-top: 22px;
  margin-bottom: 22px;
}

.clean {
	margin: 0;
	padding: 0;
}

.clipped {
	overflow: hidden;
}

.img-responsive {
	display: block;
	max-width: 100%;
}

.border-clear {
	border: none !important;
}

.px-tablet-down-0x {
  @media (max-width: $tablet - 1) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.line-height-justifize {
  line-height: 1.2 !important;
}

// // SPACING AND PADDING RESPONSIVE
// $multiplier: 8px;

// // Default
// @for $i from 0 through 8 {
//     .p-#{$i}x {
//       	padding: ($i * $multiplier);
// 	}
	  
//   	.pt-#{$i}x {
//       	padding-top: ($i * $multiplier);
// 	}

//   	.pb-#{$i}x {
//       	padding-bottom: ($i * $multiplier);
// 	}

//   	.px-#{$i}x {
//       	padding-left: ($i * $multiplier);
//       	padding-right: ($i * $multiplier);
// 	}

//   	.py-#{$i}x {
//       	padding-bottom: ($i * $multiplier);
//       	padding-top: ($i * $multiplier);
// 	}

//     .m-#{$i}x {
//       	margin: ($i * $multiplier);
// 	}

//   	.mb-#{$i}x {
//       	margin-bottom: ($i * $multiplier);
// 	}

//   	.mx-#{$i}x {
//       	margin-left: ($i * $multiplier);
//       	margin-right: ($i * $multiplier);
// 	}

//   	.my-#{$i}x {
//       	margin-bottom: ($i * $multiplier);
//       	margin-top: ($i * $multiplier);
// 	}
// }

// // Above mobile breakpoint
// @each $point in $breaks {
// 	@for $i from 0 through 10 {
//       	@media (min-width: #{nth($point,1)}) {  		
// 		    .p-#{nth($point,2)}-#{$i}x {
// 		      	padding: ($i * $multiplier);
// 	      	}
// 	      	.pt-#{nth($point,2)}-#{$i}x {
		      	
// 			      	padding-top: ($i * $multiplier);
// 			}

// 	      	.pb-#{nth($point,2)}-#{$i}x {
		      	
// 			      	padding-bottom: ($i * $multiplier);
// 			}

// 	      	.px-#{nth($point,2)}-#{$i}x {
		      	
// 			      	padding-left: ($i * $multiplier);
// 			      	padding-right: ($i * $multiplier);
// 			}

// 	      	.py-#{nth($point,2)}-#{$i}x {
		      	
// 			      	padding-bottom: ($i * $multiplier);
// 			      	padding-top: ($i * $multiplier);
// 			}

// 		    .m-#{nth($point,2)}-#{$i}x {
		      	  		
// 			      	margin: ($i * $multiplier);
// 			}

// 	      	.mb-#{nth($point,2)}-#{$i}x {
		      	
// 			      	margin-bottom: ($i * $multiplier);
// 			}

// 	      	.mx-#{nth($point,2)}-#{$i}x {
		      	
// 			      	margin-left: ($i * $multiplier);
// 			      	margin-right: ($i * $multiplier);
// 			}

// 	      	.my-#{nth($point,2)}-#{$i}x {
		      	
// 			      	margin-bottom: ($i * $multiplier);
// 			      	margin-top: ($i * $multiplier);
// 			}
// 		}  
//  	}
// }	


// //NO TRANSITION CLASS
// .no-transition {
//     &,
//     * {
//         -webkit-transition: none !important;
//         -moz-transition: none !important;
//         -ms-transition: none !important;
//         transition: none !important;
//     }
// }


// //QUICK FLOATING
// .float-left {
//     float: left !important;
// }

// .float-right {
//     float: right !important;
// }

// //QUICK VERTICAL ALIGNMENT
// .align-top {
//     vertical-align: top !important;
// }

// .align-middle {
//     vertical-align: middle !important;
// }

// .align-bottom {
//     vertical-align: bottom !important;
// }

// //QUICK TEXT ALIGNING
// .text-center {
//     text-align: center !important;
// }

// .text-left {
//     text-align: left !important;
// }

// .text-right {
//     text-align: right !important;
// }

// // RESPONSIVE TEXT ALIGN
// // ex: text + {breakpoint} + {left,right,center}

// @each $point in $breaks {
// 	.text-center-#{nth($point,2)} {
//       	@media (min-width: #{nth($point,1)}) {  		
// 	      	text-align: center !important;
//       	}
// 	}

// 	.text-left-#{nth($point,2)} {
//       	@media (min-width: #{nth($point,1)}) {  		
// 	      	text-align: left !important;
//       	}
// 	}

// 	.text-right-#{nth($point,2)} {
//       	@media (min-width: #{nth($point,1)}) {  		
// 	      	text-align: right !important;
//       	}
// 	}
// }	


// // RESPONSIVE UTILITIES

// // Display

// // Hide down (non-mobile first)
// // Example: .hidden-mobile-down --> hide element on screen widths up to $mobile
// // breakpoint
// @each $point in $breaks {
//   .hidden-#{nth($point,2)}-down {
//     @media (max-width: #{nth($point,1)-1}) {
// 	     display: none !important;
//   	}
//   }
// }	

// // Hide up (mobile first breakpoints)
// // Example: .hidden-tablet --> hide element on screen widths above $tablet
// // breakpoint
// @each $point in $breaks {
//   .hidden-#{nth($point,2)} {
//     @media (min-width: #{nth($point,1)}) {
// 	     display: none !important;
//   	}
//   }
// }	


// Static

img:not([alt]) {
  border: 2px dashed #c00; }

.clean {
  margin: 0 !important;
  padding: 0 !important; }

.clipped {
  overflow: hidden !important; }

.img-responsive {
  display: block !important;
  max-width: 100% !important; }

.border-clear {
  border: none !important !important; }

.p-0x {
  padding: 0px !important; }

.pt-0x {
  padding-top: 0px !important; }

.pb-0x {
  padding-bottom: 0px !important; }

.px-0x {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.py-0x {
  padding-bottom: 0px !important;
  padding-top: 0px !important; }

.m-0x {
  margin: 0px !important; }

.mb-0x {
  margin-bottom: 0px !important; }

.mx-0x {
  margin-left: 0px !important;
  margin-right: 0px !important; }

.my-0x {
  margin-bottom: 0px !important;
  margin-top: 0px !important; }

.p-1x {
  padding: 8px !important; }

.pt-1x {
  padding-top: 8px !important; }

.pb-1x {
  padding-bottom: 8px !important; }

.px-1x {
  padding-left: 8px !important;
  padding-right: 8px !important; }

.py-1x {
  padding-bottom: 8px !important;
  padding-top: 8px !important; }

.m-1x {
  margin: 8px !important; }

.mb-1x {
  margin-bottom: 8px !important; }

.mx-1x {
  margin-left: 8px !important;
  margin-right: 8px !important; }

.my-1x {
  margin-bottom: 8px !important;
  margin-top: 8px !important; }

.p-2x {
  padding: 16px !important; }

.pt-2x {
  padding-top: 16px !important; }

.pb-2x {
  padding-bottom: 16px !important; }

.px-2x {
  padding-left: 16px !important;
  padding-right: 16px !important; }

.py-2x {
  padding-bottom: 16px !important;
  padding-top: 16px !important; }

.m-2x {
  margin: 16px !important; }

.mb-2x {
  margin-bottom: 16px !important; }

.mx-2x {
  margin-left: 16px !important;
  margin-right: 16px !important; }

.my-2x {
  margin-bottom: 16px !important;
  margin-top: 16px !important; }

.p-3x {
  padding: 24px !important; }

.pt-3x {
  padding-top: 24px !important; }

.pb-3x {
  padding-bottom: 24px !important; }

.px-3x {
  padding-left: 24px !important;
  padding-right: 24px !important; }

.py-3x {
  padding-bottom: 24px !important;
  padding-top: 24px !important; }

.m-3x {
  margin: 24px !important; }

.mb-3x {
  margin-bottom: 24px !important; }

.mx-3x {
  margin-left: 24px !important;
  margin-right: 24px !important; }

.my-3x {
  margin-bottom: 24px !important;
  margin-top: 24px !important; }

.p-4x {
  padding: 32px !important; }

.pt-4x {
  padding-top: 32px !important; }

.pb-4x {
  padding-bottom: 32px !important; }

.px-4x {
  padding-left: 32px !important;
  padding-right: 32px !important; }

.py-4x {
  padding-bottom: 32px !important;
  padding-top: 32px !important; }

.m-4x {
  margin: 32px !important; }

.mb-4x {
  margin-bottom: 32px !important; }

.mx-4x {
  margin-left: 32px !important;
  margin-right: 32px !important; }

.my-4x {
  margin-bottom: 32px !important;
  margin-top: 32px !important; }

.p-5x {
  padding: 40px !important; }

.pt-5x {
  padding-top: 40px !important; }

.pb-5x {
  padding-bottom: 40px !important; }

.px-5x {
  padding-left: 40px !important;
  padding-right: 40px !important; }

.py-5x {
  padding-bottom: 40px !important;
  padding-top: 40px !important; }

.m-5x {
  margin: 40px !important; }

.mb-5x {
  margin-bottom: 40px !important; }

.mx-5x {
  margin-left: 40px !important;
  margin-right: 40px !important; }

.my-5x {
  margin-bottom: 40px !important;
  margin-top: 40px !important; }

.p-6x {
  padding: 48px !important; }

.pt-6x {
  padding-top: 48px !important; }

.pb-6x {
  padding-bottom: 48px !important; }

.px-6x {
  padding-left: 48px !important;
  padding-right: 48px !important; }

.py-6x {
  padding-bottom: 48px !important;
  padding-top: 48px !important; }

.m-6x {
  margin: 48px !important; }

.mb-6x {
  margin-bottom: 48px !important; }

.mx-6x {
  margin-left: 48px !important;
  margin-right: 48px !important; }

.my-6x {
  margin-bottom: 48px !important;
  margin-top: 48px !important; }

.p-7x {
  padding: 56px !important; }

.pt-7x {
  padding-top: 56px !important; }

.pb-7x {
  padding-bottom: 56px !important; }

.px-7x {
  padding-left: 56px !important;
  padding-right: 56px !important; }

.py-7x {
  padding-bottom: 56px !important;
  padding-top: 56px !important; }

.m-7x {
  margin: 56px !important; }

.mb-7x {
  margin-bottom: 56px !important; }

.mx-7x {
  margin-left: 56px !important;
  margin-right: 56px !important; }

.my-7x {
  margin-bottom: 56px !important;
  margin-top: 56px !important; }

.p-8x {
  padding: 64px !important; }

.pt-8x {
  padding-top: 64px !important; }

.pb-8x {
  padding-bottom: 64px !important; }

.px-8x {
  padding-left: 64px !important;
  padding-right: 64px !important; }

.py-8x {
  padding-bottom: 64px !important;
  padding-top: 64px !important; }

.p-9x {
  padding: 72px !important; }

.pt-9x {
  padding-top: 72px !important; }

.pb-9x {
  padding-bottom: 72px !important; }

.px-9x {
  padding-left: 72px !important;
  padding-right: 72px !important; }

.py-9x {
  padding-bottom: 72px !important;
  padding-top: 72px !important; }



.m-8x {
  margin: 64px !important; }

.mb-8x {
  margin-bottom: 64px !important; }

.mx-8x {
  margin-left: 64px !important;
  margin-right: 64px !important; }

.my-8x {
  margin-bottom: 64px !important;
  margin-top: 64px !important; }

@media (min-width: 480px) {
  .p-mobile-0x {
    padding: 0px !important; } }

@media (min-width: 480px) {
  .pt-mobile-0x {
    padding-top: 0px !important; } }

@media (min-width: 480px) {
  .pb-mobile-0x {
    padding-bottom: 0px !important; } }

@media (min-width: 480px) {
  .px-mobile-0x {
    padding-left: 0px !important;
    padding-right: 0px !important; } }

@media (min-width: 480px) {
  .py-mobile-0x {
    padding-bottom: 0px !important;
    padding-top: 0px !important; } }

@media (min-width: 480px) {
  .m-mobile-0x {
    margin: 0px !important; } }

@media (min-width: 480px) {
  .mb-mobile-0x {
    margin-bottom: 0px !important; } }

@media (min-width: 480px) {
  .mx-mobile-0x {
    margin-left: 0px !important;
    margin-right: 0px !important; } }

@media (min-width: 480px) {
  .my-mobile-0x {
    margin-bottom: 0px !important;
    margin-top: 0px !important; } }

@media (min-width: 480px) {
  .p-mobile-1x {
    padding: 8px !important; } }

@media (min-width: 480px) {
  .pt-mobile-1x {
    padding-top: 8px !important; } }

@media (min-width: 480px) {
  .pb-mobile-1x {
    padding-bottom: 8px !important; } }

@media (min-width: 480px) {
  .px-mobile-1x {
    padding-left: 8px !important;
    padding-right: 8px !important; } }

@media (min-width: 480px) {
  .py-mobile-1x {
    padding-bottom: 8px !important;
    padding-top: 8px !important; } }

@media (min-width: 480px) {
  .m-mobile-1x {
    margin: 8px !important; } }

@media (min-width: 480px) {
  .mb-mobile-1x {
    margin-bottom: 8px !important; } }

@media (min-width: 480px) {
  .mx-mobile-1x {
    margin-left: 8px !important;
    margin-right: 8px !important; } }

@media (min-width: 480px) {
  .my-mobile-1x {
    margin-bottom: 8px !important;
    margin-top: 8px !important; } }

@media (min-width: 480px) {
  .p-mobile-2x {
    padding: 16px !important; } }

@media (min-width: 480px) {
  .pt-mobile-2x {
    padding-top: 16px !important; } }

@media (min-width: 480px) {
  .pb-mobile-2x {
    padding-bottom: 16px !important; } }

@media (min-width: 480px) {
  .px-mobile-2x {
    padding-left: 16px !important;
    padding-right: 16px !important; } }

@media (min-width: 480px) {
  .py-mobile-2x {
    padding-bottom: 16px !important;
    padding-top: 16px !important; } }

@media (min-width: 480px) {
  .m-mobile-2x {
    margin: 16px !important; } }

@media (min-width: 480px) {
  .mb-mobile-2x {
    margin-bottom: 16px !important; } }

@media (min-width: 480px) {
  .mx-mobile-2x {
    margin-left: 16px !important;
    margin-right: 16px !important; } }

@media (min-width: 480px) {
  .my-mobile-2x {
    margin-bottom: 16px !important;
    margin-top: 16px !important; } }

@media (min-width: 480px) {
  .p-mobile-3x {
    padding: 24px !important; } }

@media (min-width: 480px) {
  .pt-mobile-3x {
    padding-top: 24px !important; } }

@media (min-width: 480px) {
  .pb-mobile-3x {
    padding-bottom: 24px !important; } }

@media (min-width: 480px) {
  .px-mobile-3x {
    padding-left: 24px !important;
    padding-right: 24px !important; } }

@media (min-width: 480px) {
  .py-mobile-3x {
    padding-bottom: 24px !important;
    padding-top: 24px !important; } }

@media (min-width: 480px) {
  .m-mobile-3x {
    margin: 24px !important; } }

@media (min-width: 480px) {
  .mb-mobile-3x {
    margin-bottom: 24px !important; } }

@media (min-width: 480px) {
  .mx-mobile-3x {
    margin-left: 24px !important;
    margin-right: 24px !important; } }

@media (min-width: 480px) {
  .my-mobile-3x {
    margin-bottom: 24px !important;
    margin-top: 24px !important; } }

@media (min-width: 480px) {
  .p-mobile-4x {
    padding: 32px !important; } }

@media (min-width: 480px) {
  .pt-mobile-4x {
    padding-top: 32px !important; } }

@media (min-width: 480px) {
  .pb-mobile-4x {
    padding-bottom: 32px !important; } }

@media (min-width: 480px) {
  .px-mobile-4x {
    padding-left: 32px !important;
    padding-right: 32px !important; } }

@media (min-width: 480px) {
  .py-mobile-4x {
    padding-bottom: 32px !important;
    padding-top: 32px !important; } }

@media (min-width: 480px) {
  .m-mobile-4x {
    margin: 32px !important; } }

@media (min-width: 480px) {
  .mb-mobile-4x {
    margin-bottom: 32px !important; } }

@media (min-width: 480px) {
  .mx-mobile-4x {
    margin-left: 32px !important;
    margin-right: 32px !important; } }

@media (min-width: 480px) {
  .my-mobile-4x {
    margin-bottom: 32px !important;
    margin-top: 32px !important; } }

@media (min-width: 480px) {
  .p-mobile-5x {
    padding: 40px !important; } }

@media (min-width: 480px) {
  .pt-mobile-5x {
    padding-top: 40px !important; } }

@media (min-width: 480px) {
  .pb-mobile-5x {
    padding-bottom: 40px !important; } }

@media (min-width: 480px) {
  .px-mobile-5x {
    padding-left: 40px !important;
    padding-right: 40px !important; } }

@media (min-width: 480px) {
  .py-mobile-5x {
    padding-bottom: 40px !important;
    padding-top: 40px !important; } }

@media (min-width: 480px) {
  .m-mobile-5x {
    margin: 40px !important; } }

@media (min-width: 480px) {
  .mb-mobile-5x {
    margin-bottom: 40px !important; } }

@media (min-width: 480px) {
  .mx-mobile-5x {
    margin-left: 40px !important;
    margin-right: 40px !important; } }

@media (min-width: 480px) {
  .my-mobile-5x {
    margin-bottom: 40px !important;
    margin-top: 40px !important; } }

@media (min-width: 480px) {
  .p-mobile-6x {
    padding: 48px !important; } }

@media (min-width: 480px) {
  .pt-mobile-6x {
    padding-top: 48px !important; } }

@media (min-width: 480px) {
  .pb-mobile-6x {
    padding-bottom: 48px !important; } }

@media (min-width: 480px) {
  .px-mobile-6x {
    padding-left: 48px !important;
    padding-right: 48px !important; } }

@media (min-width: 480px) {
  .py-mobile-6x {
    padding-bottom: 48px !important;
    padding-top: 48px !important; } }

@media (min-width: 480px) {
  .m-mobile-6x {
    margin: 48px !important; } }

@media (min-width: 480px) {
  .mb-mobile-6x {
    margin-bottom: 48px !important; } }

@media (min-width: 480px) {
  .mx-mobile-6x {
    margin-left: 48px !important;
    margin-right: 48px !important; } }

@media (min-width: 480px) {
  .my-mobile-6x {
    margin-bottom: 48px !important;
    margin-top: 48px !important; } }

@media (min-width: 480px) {
  .p-mobile-7x {
    padding: 56px !important; } }

@media (min-width: 480px) {
  .pt-mobile-7x {
    padding-top: 56px !important; } }

@media (min-width: 480px) {
  .pb-mobile-7x {
    padding-bottom: 56px !important; } }

@media (min-width: 480px) {
  .px-mobile-7x {
    padding-left: 56px !important;
    padding-right: 56px !important; } }

@media (min-width: 480px) {
  .py-mobile-7x {
    padding-bottom: 56px !important;
    padding-top: 56px !important; } }

@media (min-width: 480px) {
  .m-mobile-7x {
    margin: 56px !important; } }

@media (min-width: 480px) {
  .mb-mobile-7x {
    margin-bottom: 56px !important; } }

@media (min-width: 480px) {
  .mx-mobile-7x {
    margin-left: 56px !important;
    margin-right: 56px !important; } }

@media (min-width: 480px) {
  .my-mobile-7x {
    margin-bottom: 56px !important;
    margin-top: 56px !important; } }

@media (min-width: 480px) {
  .p-mobile-8x {
    padding: 64px !important; } }

@media (min-width: 480px) {
  .pt-mobile-8x {
    padding-top: 64px !important; } }

@media (min-width: 480px) {
  .pb-mobile-8x {
    padding-bottom: 64px !important; } }

@media (min-width: 480px) {
  .px-mobile-8x {
    padding-left: 64px !important;
    padding-right: 64px !important; } }

@media (min-width: 480px) {
  .py-mobile-8x {
    padding-bottom: 64px !important;
    padding-top: 64px !important; } }

@media (min-width: 480px) {
  .m-mobile-8x {
    margin: 64px !important; } }

@media (min-width: 480px) {
  .mb-mobile-8x {
    margin-bottom: 64px !important; } }

@media (min-width: 480px) {
  .mx-mobile-8x {
    margin-left: 64px !important;
    margin-right: 64px !important; } }

@media (min-width: 480px) {
  .my-mobile-8x {
    margin-bottom: 64px !important;
    margin-top: 64px !important; } }

@media (min-width: 480px) {
  .p-mobile-9x {
    padding: 72px !important; } }

@media (min-width: 480px) {
  .pt-mobile-9x {
    padding-top: 72px !important; } }

@media (min-width: 480px) {
  .pb-mobile-9x {
    padding-bottom: 72px !important; } }

@media (min-width: 480px) {
  .px-mobile-9x {
    padding-left: 72px !important;
    padding-right: 72px !important; } }

@media (min-width: 480px) {
  .py-mobile-9x {
    padding-bottom: 72px !important;
    padding-top: 72px !important; } }

@media (min-width: 480px) {
  .m-mobile-9x {
    margin: 72px !important; } }

@media (min-width: 480px) {
  .mb-mobile-9x {
    margin-bottom: 72px !important; } }

@media (min-width: 480px) {
  .mx-mobile-9x {
    margin-left: 72px !important;
    margin-right: 72px !important; } }

@media (min-width: 480px) {
  .my-mobile-9x {
    margin-bottom: 72px !important;
    margin-top: 72px !important; } }

@media (min-width: 480px) {
  .p-mobile-10x {
    padding: 80px !important; } }

@media (min-width: 480px) {
  .pt-mobile-10x {
    padding-top: 80px !important; } }

@media (min-width: 480px) {
  .pb-mobile-10x {
    padding-bottom: 80px !important; } }

@media (min-width: 480px) {
  .px-mobile-10x {
    padding-left: 80px !important;
    padding-right: 80px !important; } }

@media (min-width: 480px) {
  .py-mobile-10x {
    padding-bottom: 80px !important;
    padding-top: 80px !important; } }

@media (min-width: 480px) {
  .m-mobile-10x {
    margin: 80px !important; } }

@media (min-width: 480px) {
  .mb-mobile-10x {
    margin-bottom: 80px !important; } }

@media (min-width: 480px) {
  .mx-mobile-10x {
    margin-left: 80px !important;
    margin-right: 80px !important; } }

@media (min-width: 480px) {
  .my-mobile-10x {
    margin-bottom: 80px !important;
    margin-top: 80px !important; } }

@media (min-width: 760px) {
  .p-tablet-0x {
    padding: 0px !important; } }

@media (min-width: 760px) {
  .pt-tablet-0x {
    padding-top: 0px !important; } }

@media (min-width: 760px) {
  .pb-tablet-0x {
    padding-bottom: 0px !important; } }

@media (min-width: 760px) {
  .px-tablet-0x {
    padding-left: 0px !important;
    padding-right: 0px !important; } }

@media (min-width: 760px) {
  .py-tablet-0x {
    padding-bottom: 0px !important;
    padding-top: 0px !important; } }

@media (min-width: 760px) {
  .m-tablet-0x {
    margin: 0px !important; } }

@media (min-width: 760px) {
  .mb-tablet-0x {
    margin-bottom: 0px !important; } }

@media (min-width: 760px) {
  .mx-tablet-0x {
    margin-left: 0px !important;
    margin-right: 0px !important; } }

@media (min-width: 760px) {
  .my-tablet-0x {
    margin-bottom: 0px !important;
    margin-top: 0px !important; } }

@media (min-width: 760px) {
  .p-tablet-1x {
    padding: 8px !important; } }

@media (min-width: 760px) {
  .pt-tablet-1x {
    padding-top: 8px !important; } }

@media (min-width: 760px) {
  .pb-tablet-1x {
    padding-bottom: 8px !important; } }

@media (min-width: 760px) {
  .px-tablet-1x {
    padding-left: 8px !important;
    padding-right: 8px !important; } }

@media (min-width: 760px) {
  .py-tablet-1x {
    padding-bottom: 8px !important;
    padding-top: 8px !important; } }

@media (min-width: 760px) {
  .m-tablet-1x {
    margin: 8px !important; } }

@media (min-width: 760px) {
  .mb-tablet-1x {
    margin-bottom: 8px !important; } }

@media (min-width: 760px) {
  .mx-tablet-1x {
    margin-left: 8px !important;
    margin-right: 8px !important; } }

@media (min-width: 760px) {
  .my-tablet-1x {
    margin-bottom: 8px !important;
    margin-top: 8px !important; } }

@media (min-width: 760px) {
  .p-tablet-2x {
    padding: 16px !important; } }

@media (min-width: 760px) {
  .pt-tablet-2x {
    padding-top: 16px !important; } }

@media (min-width: 760px) {
  .pb-tablet-2x {
    padding-bottom: 16px !important; } }

@media (min-width: 760px) {
  .px-tablet-2x {
    padding-left: 16px !important;
    padding-right: 16px !important; } }

@media (min-width: 760px) {
  .py-tablet-2x {
    padding-bottom: 16px !important;
    padding-top: 16px !important; } }

@media (min-width: 760px) {
  .m-tablet-2x {
    margin: 16px !important; } }

@media (min-width: 760px) {
  .mb-tablet-2x {
    margin-bottom: 16px !important; } }

@media (min-width: 760px) {
  .mx-tablet-2x {
    margin-left: 16px !important;
    margin-right: 16px !important; } }

@media (min-width: 760px) {
  .my-tablet-2x {
    margin-bottom: 16px !important;
    margin-top: 16px !important; } }

@media (min-width: 760px) {
  .p-tablet-3x {
    padding: 24px !important; } }

@media (min-width: 760px) {
  .pt-tablet-3x {
    padding-top: 24px !important; } }

@media (min-width: 760px) {
  .pb-tablet-3x {
    padding-bottom: 24px !important; } }

@media (min-width: 760px) {
  .px-tablet-3x {
    padding-left: 24px !important;
    padding-right: 24px !important; } }

@media (min-width: 760px) {
  .py-tablet-3x {
    padding-bottom: 24px !important;
    padding-top: 24px !important; } }

@media (min-width: 760px) {
  .m-tablet-3x {
    margin: 24px !important; } }

@media (min-width: 760px) {
  .mb-tablet-3x {
    margin-bottom: 24px !important; } }

@media (min-width: 760px) {
  .mx-tablet-3x {
    margin-left: 24px !important;
    margin-right: 24px !important; } }

@media (min-width: 760px) {
  .my-tablet-3x {
    margin-bottom: 24px !important;
    margin-top: 24px !important; } }

@media (min-width: 760px) {
  .p-tablet-4x {
    padding: 32px !important; } }

@media (min-width: 760px) {
  .pt-tablet-4x {
    padding-top: 32px !important; } }

@media (min-width: 760px) {
  .pb-tablet-4x {
    padding-bottom: 32px !important; } }

@media (min-width: 760px) {
  .px-tablet-4x {
    padding-left: 32px !important;
    padding-right: 32px !important; } }

@media (min-width: 760px) {
  .py-tablet-4x {
    padding-bottom: 32px !important;
    padding-top: 32px !important; } }

@media (min-width: 760px) {
  .m-tablet-4x {
    margin: 32px !important; } }

@media (min-width: 760px) {
  .mb-tablet-4x {
    margin-bottom: 32px !important; } }

@media (min-width: 760px) {
  .mx-tablet-4x {
    margin-left: 32px !important;
    margin-right: 32px !important; } }

@media (min-width: 760px) {
  .my-tablet-4x {
    margin-bottom: 32px !important;
    margin-top: 32px !important; } }

@media (min-width: 760px) {
  .p-tablet-5x {
    padding: 40px !important; } }

@media (min-width: 760px) {
  .pt-tablet-5x {
    padding-top: 40px !important; } }

@media (min-width: 760px) {
  .pb-tablet-5x {
    padding-bottom: 40px !important; } }

@media (min-width: 760px) {
  .px-tablet-5x {
    padding-left: 40px !important;
    padding-right: 40px !important; } }

@media (min-width: 760px) {
  .py-tablet-5x {
    padding-bottom: 40px !important;
    padding-top: 40px !important; } }

@media (min-width: 760px) {
  .m-tablet-5x {
    margin: 40px !important; } }

@media (min-width: 760px) {
  .mb-tablet-5x {
    margin-bottom: 40px !important; } }

@media (min-width: 760px) {
  .mx-tablet-5x {
    margin-left: 40px !important;
    margin-right: 40px !important; } }

@media (min-width: 760px) {
  .my-tablet-5x {
    margin-bottom: 40px !important;
    margin-top: 40px !important; } }

@media (min-width: 760px) {
  .p-tablet-6x {
    padding: 48px !important; } }

@media (min-width: 760px) {
  .pt-tablet-6x {
    padding-top: 48px !important; } }

@media (min-width: 760px) {
  .pb-tablet-6x {
    padding-bottom: 48px !important; } }

@media (min-width: 760px) {
  .px-tablet-6x {
    padding-left: 48px !important;
    padding-right: 48px !important; } }

@media (min-width: 760px) {
  .py-tablet-6x {
    padding-bottom: 48px !important;
    padding-top: 48px !important; } }

@media (min-width: 760px) {
  .m-tablet-6x {
    margin: 48px !important; } }

@media (min-width: 760px) {
  .mb-tablet-6x {
    margin-bottom: 48px !important; } }

@media (min-width: 760px) {
  .mx-tablet-6x {
    margin-left: 48px !important;
    margin-right: 48px !important; } }

@media (min-width: 760px) {
  .my-tablet-6x {
    margin-bottom: 48px !important;
    margin-top: 48px !important; } }

@media (min-width: 760px) {
  .p-tablet-7x {
    padding: 56px !important; } }

@media (min-width: 760px) {
  .pt-tablet-7x {
    padding-top: 56px !important; } }

@media (min-width: 760px) {
  .pb-tablet-7x {
    padding-bottom: 56px !important; } }

@media (min-width: 760px) {
  .px-tablet-7x {
    padding-left: 56px !important;
    padding-right: 56px !important; } }

@media (min-width: 760px) {
  .py-tablet-7x {
    padding-bottom: 56px !important;
    padding-top: 56px !important; } }

@media (min-width: 760px) {
  .m-tablet-7x {
    margin: 56px !important; } }

@media (min-width: 760px) {
  .mb-tablet-7x {
    margin-bottom: 56px !important; } }

@media (min-width: 760px) {
  .mx-tablet-7x {
    margin-left: 56px !important;
    margin-right: 56px !important; } }

@media (min-width: 760px) {
  .my-tablet-7x {
    margin-bottom: 56px !important;
    margin-top: 56px !important; } }

@media (min-width: 760px) {
  .p-tablet-8x {
    padding: 64px !important; } }

@media (min-width: 760px) {
  .pt-tablet-8x {
    padding-top: 64px !important; } }

@media (min-width: 760px) {
  .pb-tablet-8x {
    padding-bottom: 64px !important; } }

@media (min-width: 760px) {
  .px-tablet-8x {
    padding-left: 64px !important;
    padding-right: 64px !important; } }

@media (min-width: 760px) {
  .py-tablet-8x {
    padding-bottom: 64px !important;
    padding-top: 64px !important; } }

@media (min-width: 760px) {
  .m-tablet-8x {
    margin: 64px !important; } }

@media (min-width: 760px) {
  .mb-tablet-8x {
    margin-bottom: 64px !important; } }

@media (min-width: 760px) {
  .mx-tablet-8x {
    margin-left: 64px !important;
    margin-right: 64px !important; } }

@media (min-width: 760px) {
  .my-tablet-8x {
    margin-bottom: 64px !important;
    margin-top: 64px !important; } }

@media (min-width: 760px) {
  .p-tablet-9x {
    padding: 72px !important; } }

@media (min-width: 760px) {
  .pt-tablet-9x {
    padding-top: 72px !important; } }

@media (min-width: 760px) {
  .pb-tablet-9x {
    padding-bottom: 72px !important; } }

@media (min-width: 760px) {
  .px-tablet-9x {
    padding-left: 72px !important;
    padding-right: 72px !important; } }

@media (min-width: 760px) {
  .py-tablet-9x {
    padding-bottom: 72px !important;
    padding-top: 72px !important; } }

@media (min-width: 760px) {
  .m-tablet-9x {
    margin: 72px !important; } }

@media (min-width: 760px) {
  .mb-tablet-9x {
    margin-bottom: 72px !important; } }

@media (min-width: 760px) {
  .mx-tablet-9x {
    margin-left: 72px !important;
    margin-right: 72px !important; } }

@media (min-width: 760px) {
  .my-tablet-9x {
    margin-bottom: 72px !important;
    margin-top: 72px !important; } }

@media (min-width: 760px) {
  .p-tablet-10x {
    padding: 80px !important; } }

@media (min-width: 760px) {
  .pt-tablet-10x {
    padding-top: 80px !important; } }

@media (min-width: 760px) {
  .pb-tablet-10x {
    padding-bottom: 80px !important; } }

@media (min-width: 760px) {
  .px-tablet-10x {
    padding-left: 80px !important;
    padding-right: 80px !important; } }

@media (min-width: 760px) {
  .py-tablet-10x {
    padding-bottom: 80px !important;
    padding-top: 80px !important; } }

@media (min-width: 760px) {
  .m-tablet-10x {
    margin: 80px !important; } }

@media (min-width: 760px) {
  .mb-tablet-10x {
    margin-bottom: 80px !important; } }

@media (min-width: 760px) {
  .mx-tablet-10x {
    margin-left: 80px !important;
    margin-right: 80px !important; } }

@media (min-width: 760px) {
  .my-tablet-10x {
    margin-bottom: 80px !important;
    margin-top: 80px !important; } }

@media (min-width: 1020px) {
  .p-desktop-0x {
    padding: 0px !important; } }

@media (min-width: 1020px) {
  .pt-desktop-0x {
    padding-top: 0px !important; } }

@media (min-width: 1020px) {
  .pb-desktop-0x {
    padding-bottom: 0px !important; } }

@media (min-width: 1020px) {
  .px-desktop-0x {
    padding-left: 0px !important;
    padding-right: 0px !important; } }

@media (min-width: 1020px) {
  .py-desktop-0x {
    padding-bottom: 0px !important;
    padding-top: 0px !important; } }

@media (min-width: 1020px) {
  .m-desktop-0x {
    margin: 0px !important; } }

@media (min-width: 1020px) {
  .mb-desktop-0x {
    margin-bottom: 0px !important; } }

@media (min-width: 1020px) {
  .mx-desktop-0x {
    margin-left: 0px !important;
    margin-right: 0px !important; } }

@media (min-width: 1020px) {
  .my-desktop-0x {
    margin-bottom: 0px !important;
    margin-top: 0px !important; } }

@media (min-width: 1020px) {
  .p-desktop-1x {
    padding: 8px !important; } }

@media (min-width: 1020px) {
  .pt-desktop-1x {
    padding-top: 8px !important; } }

@media (min-width: 1020px) {
  .pb-desktop-1x {
    padding-bottom: 8px !important; } }

@media (min-width: 1020px) {
  .px-desktop-1x {
    padding-left: 8px !important;
    padding-right: 8px !important; } }

@media (min-width: 1020px) {
  .py-desktop-1x {
    padding-bottom: 8px !important;
    padding-top: 8px !important; } }

@media (min-width: 1020px) {
  .m-desktop-1x {
    margin: 8px !important; } }

@media (min-width: 1020px) {
  .mb-desktop-1x {
    margin-bottom: 8px !important; } }

@media (min-width: 1020px) {
  .mx-desktop-1x {
    margin-left: 8px !important;
    margin-right: 8px !important; } }

@media (min-width: 1020px) {
  .my-desktop-1x {
    margin-bottom: 8px !important;
    margin-top: 8px !important; } }

@media (min-width: 1020px) {
  .p-desktop-2x {
    padding: 16px !important; } }

@media (min-width: 1020px) {
  .pt-desktop-2x {
    padding-top: 16px !important; } }

@media (min-width: 1020px) {
  .pb-desktop-2x {
    padding-bottom: 16px !important; } }

@media (min-width: 1020px) {
  .px-desktop-2x {
    padding-left: 16px !important;
    padding-right: 16px !important; } }

@media (min-width: 1020px) {
  .py-desktop-2x {
    padding-bottom: 16px !important;
    padding-top: 16px !important; } }

@media (min-width: 1020px) {
  .m-desktop-2x {
    margin: 16px !important; } }

@media (min-width: 1020px) {
  .mb-desktop-2x {
    margin-bottom: 16px !important; } }

@media (min-width: 1020px) {
  .mx-desktop-2x {
    margin-left: 16px !important;
    margin-right: 16px !important; } }

@media (min-width: 1020px) {
  .my-desktop-2x {
    margin-bottom: 16px !important;
    margin-top: 16px !important; } }

@media (min-width: 1020px) {
  .p-desktop-3x {
    padding: 24px !important; } }

@media (min-width: 1020px) {
  .pt-desktop-3x {
    padding-top: 24px !important; } }

@media (min-width: 1020px) {
  .pb-desktop-3x {
    padding-bottom: 24px !important; } }

@media (min-width: 1020px) {
  .px-desktop-3x {
    padding-left: 24px !important;
    padding-right: 24px !important; } }

@media (min-width: 1020px) {
  .py-desktop-3x {
    padding-bottom: 24px !important;
    padding-top: 24px !important; } }

@media (min-width: 1020px) {
  .m-desktop-3x {
    margin: 24px !important; } }

@media (min-width: 1020px) {
  .mb-desktop-3x {
    margin-bottom: 24px !important; } }

@media (min-width: 1020px) {
  .mx-desktop-3x {
    margin-left: 24px !important;
    margin-right: 24px !important; } }

@media (min-width: 1020px) {
  .my-desktop-3x {
    margin-bottom: 24px !important;
    margin-top: 24px !important; } }

@media (min-width: 1020px) {
  .p-desktop-4x {
    padding: 32px !important; } }

@media (min-width: 1020px) {
  .pt-desktop-4x {
    padding-top: 32px !important; } }

@media (min-width: 1020px) {
  .pb-desktop-4x {
    padding-bottom: 32px !important; } }

@media (min-width: 1020px) {
  .px-desktop-4x {
    padding-left: 32px !important;
    padding-right: 32px !important; } }

@media (min-width: 1020px) {
  .py-desktop-4x {
    padding-bottom: 32px !important;
    padding-top: 32px !important; } }

@media (min-width: 1020px) {
  .m-desktop-4x {
    margin: 32px !important; } }

@media (min-width: 1020px) {
  .mb-desktop-4x {
    margin-bottom: 32px !important; } }

@media (min-width: 1020px) {
  .mx-desktop-4x {
    margin-left: 32px !important;
    margin-right: 32px !important; } }

@media (min-width: 1020px) {
  .my-desktop-4x {
    margin-bottom: 32px !important;
    margin-top: 32px !important; } }

@media (min-width: 1020px) {
  .p-desktop-5x {
    padding: 40px !important; } }

@media (min-width: 1020px) {
  .pt-desktop-5x {
    padding-top: 40px !important; } }

@media (min-width: 1020px) {
  .pb-desktop-5x {
    padding-bottom: 40px !important; } }

@media (min-width: 1020px) {
  .px-desktop-5x {
    padding-left: 40px !important;
    padding-right: 40px !important; } }

@media (min-width: 1020px) {
  .py-desktop-5x {
    padding-bottom: 40px !important;
    padding-top: 40px !important; } }

@media (min-width: 1020px) {
  .m-desktop-5x {
    margin: 40px !important; } }

@media (min-width: 1020px) {
  .mb-desktop-5x {
    margin-bottom: 40px !important; } }

@media (min-width: 1020px) {
  .mx-desktop-5x {
    margin-left: 40px !important;
    margin-right: 40px !important; } }

@media (min-width: 1020px) {
  .my-desktop-5x {
    margin-bottom: 40px !important;
    margin-top: 40px !important; } }

@media (min-width: 1020px) {
  .p-desktop-6x {
    padding: 48px !important; } }

@media (min-width: 1020px) {
  .pt-desktop-6x {
    padding-top: 48px !important; } }

@media (min-width: 1020px) {
  .pb-desktop-6x {
    padding-bottom: 48px !important; } }

@media (min-width: 1020px) {
  .px-desktop-6x {
    padding-left: 48px !important;
    padding-right: 48px !important; } }

@media (min-width: 1020px) {
  .py-desktop-6x {
    padding-bottom: 48px !important;
    padding-top: 48px !important; } }

@media (min-width: 1020px) {
  .m-desktop-6x {
    margin: 48px !important; } }

@media (min-width: 1020px) {
  .mb-desktop-6x {
    margin-bottom: 48px !important; } }

@media (min-width: 1020px) {
  .mx-desktop-6x {
    margin-left: 48px !important;
    margin-right: 48px !important; } }

@media (min-width: 1020px) {
  .my-desktop-6x {
    margin-bottom: 48px !important;
    margin-top: 48px !important; } }

@media (min-width: 1020px) {
  .p-desktop-7x {
    padding: 56px !important; } }

@media (min-width: 1020px) {
  .pt-desktop-7x {
    padding-top: 56px !important; } }

@media (min-width: 1020px) {
  .pb-desktop-7x {
    padding-bottom: 56px !important; } }

@media (min-width: 1020px) {
  .px-desktop-7x {
    padding-left: 56px !important;
    padding-right: 56px !important; } }

@media (min-width: 1020px) {
  .py-desktop-7x {
    padding-bottom: 56px !important;
    padding-top: 56px !important; } }

@media (min-width: 1020px) {
  .m-desktop-7x {
    margin: 56px !important; } }

@media (min-width: 1020px) {
  .mb-desktop-7x {
    margin-bottom: 56px !important; } }

@media (min-width: 1020px) {
  .mx-desktop-7x {
    margin-left: 56px !important;
    margin-right: 56px !important; } }

@media (min-width: 1020px) {
  .my-desktop-7x {
    margin-bottom: 56px !important;
    margin-top: 56px !important; } }

@media (min-width: 1020px) {
  .p-desktop-8x {
    padding: 64px !important; } }

@media (min-width: 1020px) {
  .pt-desktop-8x {
    padding-top: 64px !important; } }

@media (min-width: 1020px) {
  .pb-desktop-8x {
    padding-bottom: 64px !important; } }

@media (min-width: 1020px) {
  .px-desktop-8x {
    padding-left: 64px !important;
    padding-right: 64px !important; } }

@media (min-width: 1020px) {
  .py-desktop-8x {
    padding-bottom: 64px !important;
    padding-top: 64px !important; } }

@media (min-width: 1020px) {
  .m-desktop-8x {
    margin: 64px !important; } }

@media (min-width: 1020px) {
  .mb-desktop-8x {
    margin-bottom: 64px !important; } }

@media (min-width: 1020px) {
  .mx-desktop-8x {
    margin-left: 64px !important;
    margin-right: 64px !important; } }

@media (min-width: 1020px) {
  .my-desktop-8x {
    margin-bottom: 64px !important;
    margin-top: 64px !important; } }

@media (min-width: 1020px) {
  .p-desktop-9x {
    padding: 72px !important; } }

@media (min-width: 1020px) {
  .pt-desktop-9x {
    padding-top: 72px !important; } }

@media (min-width: 1020px) {
  .pb-desktop-9x {
    padding-bottom: 72px !important; } }

@media (min-width: 1020px) {
  .px-desktop-9x {
    padding-left: 72px !important;
    padding-right: 72px !important; } }

@media (min-width: 1020px) {
  .py-desktop-9x {
    padding-bottom: 72px !important;
    padding-top: 72px !important; } }

@media (min-width: 1020px) {
  .m-desktop-9x {
    margin: 72px !important; } }

@media (min-width: 1020px) {
  .mb-desktop-9x {
    margin-bottom: 72px !important; } }

@media (min-width: 1020px) {
  .mx-desktop-9x {
    margin-left: 72px !important;
    margin-right: 72px !important; } }

@media (min-width: 1020px) {
  .my-desktop-9x {
    margin-bottom: 72px !important;
    margin-top: 72px !important; } }

@media (min-width: 1020px) {
  .p-desktop-10x {
    padding: 80px !important; } }

@media (min-width: 1020px) {
  .pt-desktop-10x {
    padding-top: 80px !important; } }

@media (min-width: 1020px) {
  .pb-desktop-10x {
    padding-bottom: 80px !important; } }

@media (min-width: 1020px) {
  .px-desktop-10x {
    padding-left: 80px !important;
    padding-right: 80px !important; } }

@media (min-width: 1020px) {
  .py-desktop-10x {
    padding-bottom: 80px !important;
    padding-top: 80px !important; } }

@media (min-width: 1020px) {
  .m-desktop-10x {
    margin: 80px !important; } }

@media (min-width: 1020px) {
  .mb-desktop-10x {
    margin-bottom: 80px !important; } }

@media (min-width: 1020px) {
  .mx-desktop-10x {
    margin-left: 80px !important;
    margin-right: 80px !important; } }

@media (min-width: 1020px) {
  .my-desktop-10x {
    margin-bottom: 80px !important;
    margin-top: 80px !important; } }

@media (min-width: 1200px) {
  .p-large-0x {
    padding: 0px !important; } }

@media (min-width: 1200px) {
  .pt-large-0x {
    padding-top: 0px !important; } }

@media (min-width: 1200px) {
  .pb-large-0x {
    padding-bottom: 0px !important; } }

@media (min-width: 1200px) {
  .px-large-0x {
    padding-left: 0px !important;
    padding-right: 0px !important; } }

@media (min-width: 1200px) {
  .py-large-0x {
    padding-bottom: 0px !important;
    padding-top: 0px !important; } }

@media (min-width: 1200px) {
  .m-large-0x {
    margin: 0px !important; } }

@media (min-width: 1200px) {
  .mb-large-0x {
    margin-bottom: 0px !important; } }

@media (min-width: 1200px) {
  .mx-large-0x {
    margin-left: 0px !important;
    margin-right: 0px !important; } }

@media (min-width: 1200px) {
  .my-large-0x {
    margin-bottom: 0px !important;
    margin-top: 0px !important; } }

@media (min-width: 1200px) {
  .p-large-1x {
    padding: 8px !important; } }

@media (min-width: 1200px) {
  .pt-large-1x {
    padding-top: 8px !important; } }

@media (min-width: 1200px) {
  .pb-large-1x {
    padding-bottom: 8px !important; } }

@media (min-width: 1200px) {
  .px-large-1x {
    padding-left: 8px !important;
    padding-right: 8px !important; } }

@media (min-width: 1200px) {
  .py-large-1x {
    padding-bottom: 8px !important;
    padding-top: 8px !important; } }

@media (min-width: 1200px) {
  .m-large-1x {
    margin: 8px !important; } }

@media (min-width: 1200px) {
  .mb-large-1x {
    margin-bottom: 8px !important; } }

@media (min-width: 1200px) {
  .mx-large-1x {
    margin-left: 8px !important;
    margin-right: 8px !important; } }

@media (min-width: 1200px) {
  .my-large-1x {
    margin-bottom: 8px !important;
    margin-top: 8px !important; } }

@media (min-width: 1200px) {
  .p-large-2x {
    padding: 16px !important; } }

@media (min-width: 1200px) {
  .pt-large-2x {
    padding-top: 16px !important; } }

@media (min-width: 1200px) {
  .pb-large-2x {
    padding-bottom: 16px !important; } }

@media (min-width: 1200px) {
  .px-large-2x {
    padding-left: 16px !important;
    padding-right: 16px !important; } }

@media (min-width: 1200px) {
  .py-large-2x {
    padding-bottom: 16px !important;
    padding-top: 16px !important; } }

@media (min-width: 1200px) {
  .m-large-2x {
    margin: 16px !important; } }

@media (min-width: 1200px) {
  .mb-large-2x {
    margin-bottom: 16px !important; } }

@media (min-width: 1200px) {
  .mx-large-2x {
    margin-left: 16px !important;
    margin-right: 16px !important; } }

@media (min-width: 1200px) {
  .my-large-2x {
    margin-bottom: 16px !important;
    margin-top: 16px !important; } }

@media (min-width: 1200px) {
  .p-large-3x {
    padding: 24px !important; } }

@media (min-width: 1200px) {
  .pt-large-3x {
    padding-top: 24px !important; } }

@media (min-width: 1200px) {
  .pb-large-3x {
    padding-bottom: 24px !important; } }

@media (min-width: 1200px) {
  .px-large-3x {
    padding-left: 24px !important;
    padding-right: 24px !important; } }

@media (min-width: 1200px) {
  .py-large-3x {
    padding-bottom: 24px !important;
    padding-top: 24px !important; } }

@media (min-width: 1200px) {
  .m-large-3x {
    margin: 24px !important; } }

@media (min-width: 1200px) {
  .mb-large-3x {
    margin-bottom: 24px !important; } }

@media (min-width: 1200px) {
  .mx-large-3x {
    margin-left: 24px !important;
    margin-right: 24px !important; } }

@media (min-width: 1200px) {
  .my-large-3x {
    margin-bottom: 24px !important;
    margin-top: 24px !important; } }

@media (min-width: 1200px) {
  .p-large-4x {
    padding: 32px !important; } }

@media (min-width: 1200px) {
  .pt-large-4x {
    padding-top: 32px !important; } }

@media (min-width: 1200px) {
  .pb-large-4x {
    padding-bottom: 32px !important; } }

@media (min-width: 1200px) {
  .px-large-4x {
    padding-left: 32px !important;
    padding-right: 32px !important; } }

@media (min-width: 1200px) {
  .py-large-4x {
    padding-bottom: 32px !important;
    padding-top: 32px !important; } }

@media (min-width: 1200px) {
  .m-large-4x {
    margin: 32px !important; } }

@media (min-width: 1200px) {
  .mb-large-4x {
    margin-bottom: 32px !important; } }

@media (min-width: 1200px) {
  .mx-large-4x {
    margin-left: 32px !important;
    margin-right: 32px !important; } }

@media (min-width: 1200px) {
  .my-large-4x {
    margin-bottom: 32px !important;
    margin-top: 32px !important; } }

@media (min-width: 1200px) {
  .p-large-5x {
    padding: 40px !important; } }

@media (min-width: 1200px) {
  .pt-large-5x {
    padding-top: 40px !important; } }

@media (min-width: 1200px) {
  .pb-large-5x {
    padding-bottom: 40px !important; } }

@media (min-width: 1200px) {
  .px-large-5x {
    padding-left: 40px !important;
    padding-right: 40px !important; } }

@media (min-width: 1200px) {
  .py-large-5x {
    padding-bottom: 40px !important;
    padding-top: 40px !important; } }

@media (min-width: 1200px) {
  .m-large-5x {
    margin: 40px !important; } }

@media (min-width: 1200px) {
  .mb-large-5x {
    margin-bottom: 40px !important; } }

@media (min-width: 1200px) {
  .mx-large-5x {
    margin-left: 40px !important;
    margin-right: 40px !important; } }

@media (min-width: 1200px) {
  .my-large-5x {
    margin-bottom: 40px !important;
    margin-top: 40px !important; } }

@media (min-width: 1200px) {
  .p-large-6x {
    padding: 48px !important; } }

@media (min-width: 1200px) {
  .pt-large-6x {
    padding-top: 48px !important; } }

@media (min-width: 1200px) {
  .pb-large-6x {
    padding-bottom: 48px !important; } }

@media (min-width: 1200px) {
  .px-large-6x {
    padding-left: 48px !important;
    padding-right: 48px !important; } }

@media (min-width: 1200px) {
  .py-large-6x {
    padding-bottom: 48px !important;
    padding-top: 48px !important; } }

@media (min-width: 1200px) {
  .m-large-6x {
    margin: 48px !important; } }

@media (min-width: 1200px) {
  .mb-large-6x {
    margin-bottom: 48px !important; } }

@media (min-width: 1200px) {
  .mx-large-6x {
    margin-left: 48px !important;
    margin-right: 48px !important; } }

@media (min-width: 1200px) {
  .my-large-6x {
    margin-bottom: 48px !important;
    margin-top: 48px !important; } }

@media (min-width: 1200px) {
  .p-large-7x {
    padding: 56px !important; } }

@media (min-width: 1200px) {
  .pt-large-7x {
    padding-top: 56px !important; } }

@media (min-width: 1200px) {
  .pb-large-7x {
    padding-bottom: 56px !important; } }

@media (min-width: 1200px) {
  .px-large-7x {
    padding-left: 56px !important;
    padding-right: 56px !important; } }

@media (min-width: 1200px) {
  .py-large-7x {
    padding-bottom: 56px !important;
    padding-top: 56px !important; } }

@media (min-width: 1200px) {
  .m-large-7x {
    margin: 56px !important; } }

@media (min-width: 1200px) {
  .mb-large-7x {
    margin-bottom: 56px !important; } }

@media (min-width: 1200px) {
  .mx-large-7x {
    margin-left: 56px !important;
    margin-right: 56px !important; } }

@media (min-width: 1200px) {
  .my-large-7x {
    margin-bottom: 56px !important;
    margin-top: 56px !important; } }

@media (min-width: 1200px) {
  .p-large-8x {
    padding: 64px !important; } }

@media (min-width: 1200px) {
  .pt-large-8x {
    padding-top: 64px !important; } }

@media (min-width: 1200px) {
  .pb-large-8x {
    padding-bottom: 64px !important; } }

@media (min-width: 1200px) {
  .px-large-8x {
    padding-left: 64px !important;
    padding-right: 64px !important; } }

@media (min-width: 1200px) {
  .py-large-8x {
    padding-bottom: 64px !important;
    padding-top: 64px !important; } }

@media (min-width: 1200px) {
  .m-large-8x {
    margin: 64px !important; } }

@media (min-width: 1200px) {
  .mb-large-8x {
    margin-bottom: 64px !important; } }

@media (min-width: 1200px) {
  .mx-large-8x {
    margin-left: 64px !important;
    margin-right: 64px !important; } }

@media (min-width: 1200px) {
  .my-large-8x {
    margin-bottom: 64px !important;
    margin-top: 64px !important; } }

@media (min-width: 1200px) {
  .p-large-9x {
    padding: 72px !important; } }

@media (min-width: 1200px) {
  .pt-large-9x {
    padding-top: 72px !important; } }

@media (min-width: 1200px) {
  .pb-large-9x {
    padding-bottom: 72px !important; } }

@media (min-width: 1200px) {
  .px-large-9x {
    padding-left: 72px !important;
    padding-right: 72px !important; } }

@media (min-width: 1200px) {
  .py-large-9x {
    padding-bottom: 72px !important;
    padding-top: 72px !important; } }

@media (min-width: 1200px) {
  .m-large-9x {
    margin: 72px !important; } }

@media (min-width: 1200px) {
  .mb-large-9x {
    margin-bottom: 72px !important; } }

@media (min-width: 1200px) {
  .mx-large-9x {
    margin-left: 72px !important;
    margin-right: 72px !important; } }

@media (min-width: 1200px) {
  .my-large-9x {
    margin-bottom: 72px !important;
    margin-top: 72px !important; } }

@media (min-width: 1200px) {
  .p-large-10x {
    padding: 80px !important; } }

@media (min-width: 1200px) {
  .pt-large-10x {
    padding-top: 80px !important; } }

@media (min-width: 1200px) {
  .pb-large-10x {
    padding-bottom: 80px !important; } }

@media (min-width: 1200px) {
  .px-large-10x {
    padding-left: 80px !important;
    padding-right: 80px !important; } }

@media (min-width: 1200px) {
  .py-large-10x {
    padding-bottom: 80px !important;
    padding-top: 80px !important; } }

@media (min-width: 1200px) {
  .m-large-10x {
    margin: 80px !important; } }

@media (min-width: 1200px) {
  .mb-large-10x {
    margin-bottom: 80px !important; } }

@media (min-width: 1200px) {
  .mx-large-10x {
    margin-left: 80px !important;
    margin-right: 80px !important; } }

@media (min-width: 1200px) {
  .my-large-10x {
    margin-bottom: 80px !important;
    margin-top: 80px !important; } }

.no-transition,
.no-transition * {
  -webkit-transition: none !important;
  transition: none !important; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.align-top {
  vertical-align: top !important; }

.align-middle {
  vertical-align: middle !important; }

.align-bottom {
  vertical-align: bottom !important; }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

@media (min-width: 480px) {
  .text-center-mobile {
    text-align: center !important; } }

@media (min-width: 480px) {
  .text-left-mobile {
    text-align: left !important; } }

@media (min-width: 480px) {
  .text-right-mobile {
    text-align: right !important; } }

@media (min-width: 760px) {
  .text-center-tablet {
    text-align: center !important; } }

@media (min-width: 760px) {
  .text-left-tablet {
    text-align: left !important; } }

@media (min-width: 760px) {
  .text-right-tablet {
    text-align: right !important; } }

@media (min-width: 1020px) {
  .text-center-desktop {
    text-align: center !important; } }

@media (min-width: 1020px) {
  .text-left-desktop {
    text-align: left !important; } }

@media (min-width: 1020px) {
  .text-right-desktop {
    text-align: right !important; } }

@media (min-width: 1200px) {
  .text-center-large {
    text-align: center !important; } }

@media (min-width: 1200px) {
  .text-left-large {
    text-align: left !important; } }

@media (min-width: 1200px) {
  .text-right-large {
    text-align: right !important; } }

@media (max-width: 479px) {
  .hidden-mobile-down {
    display: none !important; } }

@media (max-width: 759px) {
  .hidden-tablet-down {
    display: none !important; } }

@media (max-width: 1019px) {
  .hidden-desktop-down {
    display: none !important; } }

@media (max-width: 1199px) {
  .hidden-large-down {
    display: none !important; } }

@media (min-width: 480px) {
  .hidden-mobile {
    display: none !important; } }

@media (min-width: 760px) {
  .hidden-tablet {
    display: none !important; } }

@media (min-width: 1020px) {
  .hidden-desktop {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-large {
    display: none !important; } }


.hidden {
  display: none;
}

// Extra large spacings

.mb-desktop-21x {
  @media (min-width: $desktop) {
    margin-bottom: 168px !important;
  }
}
