<!-- include "meta-head.html" -->
@@include('inc/meta-head.html')

<body>
	<!-- include "partial-header.html" -->
	@@include('inc/partial-header.html')

	<!-- Main -->
	<main class="main">

		<!-- Banner -->
		<section class="banner banner--cover">
			<div class="banner__img">
				<div style="background-image: url('img/cover-xl-open-arms.jpg')"></div>
			</div>
			<div class="wrapper">
				<div class="row">
					<div class="col-desktop-8">
						<h1 class="h1 type-black title-underlined title-underlined--primary color-alt">A Headline for the Big Banner Key Message</h1>
						<div class="row">
							<div class="col-desktop-6">
								<p class="color-alt">
									<strong>
										This is a short description of the section to help navigation
									</strong>
								</p>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Banner ./end-->
		
		<div class="trimmer">
			<div class="wrapper wrapper--extend-right text-right">
				<div class="toolbox">
					<ul>
						<li>
							<button type="button" class="js-type-decrease">A-</button>
						</li>
						<li>
							<button type="button" class="js-type-increase">A+</button>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="trimmer">
			<div class="wrapper wrapper--md-sm bgr-white wrapper--md-sm-extend-right">
				<div class="wrapper wrapper--collapse-desktop-down">
					<section class="section-md">
						<div class="row">
			
							<!-- Left -->
							<div class="col-tablet-8 col-desktop-9">
								<!-- Breadcrumbs -->
								<ol class="bread">
									<li><a href="#" class="bread__link">Resourses</a></li>
									<li><a href="#" class="bread__link">Europe Reports</a></li>
									<li>Here</li>
								</ol>					
								<!-- Breadcrumbs ./end-->
								
								<div class="size-adjust">
									<h4 class="h4 color-alt type-serif mb-4x mb-mobile-5x">
										<strong>
											European Monitoring Centre for Drugs and Drug Addiction. (2017) Perspectives on drugs: Wastewater analysis and drugs — a European multi-city study.									
										</strong>
									</h4>
								</div>
								<h6 class="color-primary title-sub">
									<strong>
										European Monitoring Centre for Drugs and Drug Addiction. (2017) Perspectives on drugs: Wastewater analysis and drugs — a European multi-city study. Lisbon: European Monitoring Centre for Drugs and Drug Addiction									
									</strong>
								</h6>
			
								<hr>
			
								<div class="row">
									<div class="col-tablet-4 mb-5x mb-tablet-0x">
										<h6 class="title-strike mb-4x"><strong>References</strong></h6>
										<p>
											<a href="#">Download 1</a>
										</p>
										<p>
											<a href="#">Download 2</a>
										</p>
										<p>
											<a href="#">Link</a>
										</p>
										<p>
											<a href="#">Link</a>
										</p>
			
										
									</div>
			
									<div class="col-tablet-8">
										<p class="">
											Text strip copy here – Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.					
										</p>
									</div>
			
								</div>
			
								<hr>
			
								<!-- Standard inner -->
								<div class="standard-inner size-adjust">
									<h2>Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
			
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
										cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
										proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									</p>
			
									<h3>H3 Title</h3>
			
									<p>
										Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipi.
									</p>
			
									<h5><span>Ordered list example</span></h5>
			
									<ol>
										<li>List example <br> two rows</li>
										<li>List example</li>
										<li>List example</li>
										<li><a href="#">List example</a></li>
										<li>List example</li>
										<li>List example</li>
										<li>List example</li>
										<li>List example</li>
										<li>List example</li>
										<li>List example</li>
									</ol>
			
									<img src="img/std-backpack.jpg" alt="">
									<p class="img-caption">Image captions</p>
			
									<h4>H4 Title - Used for long titles taking on (most probably) two or more lines</h4>
			
									<p>
										In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris. Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit, eu bibendum nibh aliquet.
									</p>
			
									<h5><span>Unordered list example</span></h5>
			
									<ul>
										<li>List example <br> two rows</li>
										<li>List example</li>
										<li>List example</li>
										<li><a href="#">List example</a></li>
										<li>List example</li>
										<li>List example</li>
										<li>List example</li>
										<li>List example</li>
										<li>List example</li>
										<li>List example</li>
									</ul>
									
									<h5>H5 Title</h5>
			
									<p>
										Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt mattis lorem luctus id. Donec eget massa a diam condimentum pretium. Aliquam erat vo.
									</p>
			
									<blockquote>
										More than 240 young people and children are now being hospitalised annually due to alcohol and drugs related problems.
										<br>
			
			
										<a href="#!">Mark O'Regan, <span>Independent.ie</span></a>
									</blockquote>
			
									<h6>H6 Title</h6>
			
									<p>
										Article text . Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipi.
									</p>
			
								</div>
								<!-- Standard inner ./end-->
			
							</div>
			
							<!-- Right -->
							<div class="col-tablet-4 col-desktop-3">
								<aside class="nav-aside collapse-wrapper" data-breakpoint="0">
									<h6 class="nav-aside__title color-alt">
										In this section
									</h6>
			
									<!-- Collapses -->
			
									<div class="collapse">
										<h6 role="button" class="nav-aside__toggle">
											<a href="#" class="p-0x"><strong>Awards</strong></a>
											<a href="#" role="button" class="nav-aside__symbol collapse__toggle"><i class="icon-caret"></i></a>
										</h6>
										<div class="collapse__content nav-aside__content">
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Global reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>
			
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Guides and support booklets</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>
			
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>National strategy documents and reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean border-clear pb-0x">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>
			
										</div>
									</div>
			
									<div class="collapse">
										<h6 role="button" class="nav-aside__toggle">
											<a href="#" class="p-0x"><strong>Research</strong></a>
											<a href="#" role="button" class="nav-aside__symbol collapse__toggle"><i class="icon-caret"></i></a>
										</h6>
										<div class="collapse__content nav-aside__content">
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Global reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>
			
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Guides and support booklets</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>
			
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>National strategy documents and reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean border-clear pb-0x">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>
			
										</div>
									</div>
			
									<div class="collapse">
										<h6 role="button" class="nav-aside__toggle">
											<a href="#" class="p-0x"><strong>Community detox</strong></a>
											<a href="#" role="button" class="nav-aside__symbol collapse__toggle"><i class="icon-caret"></i></a>
										</h6>
										<div class="collapse__content nav-aside__content">
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Global reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>
			
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Guides and support booklets</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>
			
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>National strategy documents and reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean border-clear pb-0x">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>
			
										</div>
									</div>
			
									<div class="collapse">
										<h6 role="button" class="nav-aside__toggle">
											<a href="#" class="p-0x"><strong>National standards for safer <br> better healthcares</strong></a>
											<a href="#" role="button" class="nav-aside__symbol collapse__toggle"><i class="icon-caret"></i></a>
										</h6>
										<div class="collapse__content nav-aside__content">
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Global reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>
			
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Guides and support booklets</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>
			
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>National strategy documents and reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean border-clear pb-0x">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>
			
										</div>
									</div>
			
									<div class="collapse">
										<h6 role="button" class="nav-aside__toggle">
											<a href="#" class="p-0x"><strong>The drug related <br> intimidation programme</strong></a>
											<a href="#" role="button" class="nav-aside__symbol collapse__toggle"><i class="icon-caret"></i></a>
										</h6>
										<div class="collapse__content nav-aside__content">
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Global reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>
			
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Guides and support booklets</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>
			
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>National strategy documents and reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean border-clear pb-0x">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>
			
										</div>
									</div>
			
									<div class="collapse">
										<h6 role="button" class="nav-aside__toggle">
											<a href="#" class="p-0x"><strong>Supervised injecting facilities frequently asked questions</strong></a>
											<a href="#" role="button" class="nav-aside__symbol collapse__toggle"><i class="icon-caret"></i></a>
										</h6>
										<div class="collapse__content nav-aside__content">
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Global reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>
			
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Guides and support booklets</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>
			
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>National strategy documents and reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean border-clear pb-0x">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>
			
										</div>
									</div>
			
									<div class="collapse">
										<h6 role="button" class="nav-aside__toggle">
											<a href="#" class="p-0x"><strong>Naloxone <br>Userful Links</strong></a>
											<a href="#" role="button" class="nav-aside__symbol collapse__toggle"><i class="icon-caret"></i></a>
										</h6>
										<div class="collapse__content nav-aside__content">
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Global reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>
			
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Guides and support booklets</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>
			
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>National strategy documents and reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean border-clear pb-0x">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>
			
										</div>
									</div>
			
								</aside>
							</div>
			
						</div>
					</section>
				</div>
			</div>
		</div>

		<!-- Section: half-half -->
		<section class="section-half section-half--light mb-0x">
			<div class="section-half__block section-half__block--alt"></div>
			<div class="section-half__block section-half__block--alt"></div>
			<div class="wrapper">
				<div class="wrapper">
					<h6 class="title-quart mb-desktop-0x">Related Info</h6>
					<p class="text-right hidden-tablet-down mb-desktop-1x">
						<a href="#" class="link-symbol-underlined type-mobile-sm-down"">All campaigns<i class="icon-arrow-r symbol-arrow"></i></a>
					</p>

					<div class="row">

						<div class="col-mobile-6 col-desktop-3">
							<a href="#" class="article">
								<div class="article__image">
									<img src="img/cover-sm-letters.jpg" alt="" class="img-responsive mb-4x">
								</div>
								<div class="article__title">
									<h6>
										<span>28th September 2017</span>
									</h6>								
								</div>
								<p class="article__copy type-md">
									Alcohol, what’s the harm? workshop held at Tallaght stadium
								</p>
							</a>
						</div>

						<div class="col-mobile-6 col-desktop-3">
							<a href="#" class="article">
								<div class="article__image">
									<img src="img/cover-sm-back.jpg" alt="" class="img-responsive mb-4x">
								</div>
								<div class="article__title">
									<h6>
										<span>28th September 2017</span>
									</h6>								
								</div>
								<p class="article__copy type-md">
									Research shows impact of drugs and alcohol on health of homeless people
								</p>
							</a>
						</div>

						<div class="col-mobile-6 col-desktop-3 hidden-mobile-down">
							<a href="#" class="article">
								<div class="article__image">
									<img src="img/cover-sm-hands.jpg" alt="" class="img-responsive mb-4x">
								</div>
								<div class="article__title">
									<h6>
										<span>28th September 2017</span>
									</h6>								
								</div>
								<p class="article__copy type-md">
									Overcoming addiction with sailing: ‘It’s a way of life I never knew existed and better than any drug
								</p>
							</a>
						</div>

						<div class="col-mobile-6 col-desktop-3 hidden-mobile-down">
							<a href="#" class="article">
								<div class="article__image">
									<img src="img/cover-sm-ruins.jpg" alt="" class="img-responsive mb-4x">
								</div>
								<div class="article__title">
									<h6>
										<span>28th September 2017</span>
									</h6>								
								</div>
								<p class="article__copy type-md">
									Decriminalising drugs: could it work in Ireland?
								</p>
							</a>
						</div>

					</div>

					<p class="text-center hidden-tablet">
						<a href="#" class="link-symbol-underlined type-mobile-sm-down"">See all<i class="icon-arrow-r symbol-arrow"></i></a>
					</p>

				</div>
			</div>
		</section>
		<!-- Section: half-half ./end-->


		<!-- Section: form -->
		<section class="section-shaded">
			<div class="wrapper text-center">
				<h5 class="type-uppercase mb-4x mb-desktop-4x">Get updates</h5>
				<form action="">
					<div class="form-group">
						<input type="email" class="textbox" placeholder="Your email">
						<button class="btn-square"><i class="icon-arrow-r"></i></button>
					</div>
				</form>
			</div>
		</section>
		<!-- Section: form ./end-->



	</main>
	<!-- Main ./end -->

	@@include('inc/partial-footer.html', {"variant": "bgr-shaded"})

	@@include('inc/meta-foot.html')	
</body>
</html>