<!-- include "meta-head.html" -->
@@include('inc/meta-head.html')

<body>
	<!-- include "partial-header.html" -->
	@@include('inc/partial-header.html')

	<!-- Main -->
	<main class="main">

		<!-- Banner -->
		<section class="banner position-rel">
			<div class="wrapper">
				<div class="row">
					<div class="col-desktop-8">
						<h1 class="h1 type-black title-underlined title-underlined--primary title-underlined--mobile">National Directory of Drugs and Alcohol Services</h1>
						<p>
							<strong>
								Use the simple search to find services in your area. Choose the type of service and your county - and click search. Use the map search or advanced search for more detailed options.
							</strong>
						</p>
					</div>
				</div>
			</div>
			<div class="banner__gradient"></div>  
		</section>
		<!-- Banner ./end-->

		<div class="wrapper wrapper--extend-right text-right">
			<div class="toolbox">
				<ul>
					<li>
						<button type="button" class="js-type-decrease">A-</button>
					</li>
					<li>
						<button type="button" class="js-type-increase">A+</button>
					</li>
				</ul>
			</div>
		</div>

		<div class="wrapper wrapper--md-sm bgr-white wrapper--md-sm-extend-right">
			<div class="wrapper wrapper--collapse-desktop-down">
				<section class="section-md">
					<div class="row">

						<!-- Left -->
						<div class="col-desktop-9 col-large-8">
							<!-- Breadcrumbs -->
							<ol class="bread mb-tablet-8x">
								<li><a href="#" class="bread__link">Service Finder</a></li>
								<li>Abbeyfeale &amp; District Initiative§</li>
							</ol>					
							<!-- Breadcrumbs ./end-->

							<div class="row mb-tablet-4x">
								<div class="col-desktop-6">
									<div class="select mb-5x select--full">
										<select>
											<option value="opt">Filter by service type</option>
											<option value="">Service 1</option>
											<option value="">Service 2</option>
											<option value="">Service 3</option>
										</select>
										<i class="icon-caret"></i>
									</div>									
								</div>
								<div class="col-desktop-6">
									<div class="select mb-5x select--full">
										<select>
											<option value="opt">Filter by country</option>
											<option value="">Ireland</option>
											<option value="">Germany</option>
											<option value="">Serbia</option>
											<option value="">Greece</option>
										</select>
										<i class="icon-caret"></i>
									</div>									
								</div>
							</div>


							<!-- Listing -->
							<article class="listing">
								<h4 class="h4 color-alt type-serif mb-2x mb-mobile-3x">
									<strong>
										Abbeyfeale &amp; District Initiative								
									</strong>
								</h4>
								<h6 class="color-primary title-sub">
									<strong>
										Parish Office, Convent Street, Abbeyfeale, Limerick							
									</strong>
								</h6>

								<hr class="hr-default">

								<div class="row">
									<div class="col-desktop-5">
										<table class="table-justifize">
											<tbody>
												<tr>
													<td>Phone</td>
													<td><a href="#">(01) 8787700</a></td>
												</tr>
												<tr>
													<td>Email</td>
													<td><a href="#">dublin@acet.ie</a></td>
												</tr>
												<tr>
													<td>Website</td>
													<td><a href="#">www.acet.ie</a></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>

								<div class="pill-container">
									<ul>
										<li>
											<div class="pill">
												<span class="color-white">Support</span>
											</div>
										</li>
										<li>
											<div class="pill">
												<span class="color-grey">Family Support</span>
											</div>
										</li>
										<li>
											<div class="pill">
												<span class="color-grey">Counselling and Psychotherapy</span>
											</div>
										</li>
										<li>
											<div class="pill">
												<span class="color-grey">Counselling and Psychotherapy</span>
											</div>
										</li>
										<li>
											<div class="pill">
												<span class="color-grey">Awareness, Prevention, Education and Training programmes</span>
											</div>
										</li>
									</ul>
								</div>
							</article>
							<!-- Listing ./end-->

							<!-- Listing -->
							<article class="listing">
								<h4 class="color-alt type-serif mb-5x">
									<strong>
										ACET (AIDS Care Education & Training)						
									</strong>
								</h4>
								<h6 class="color-primary title-sub">
									<strong>
										50, Lower Gardiner Street, Dublin 1, Dublin
									</strong>
								</h6>

								<hr class="hr-default">

								<div class="row">
									<div class="col-desktop-5">
										<table class="table-justifize">
											<tbody>
												<tr>
													<td>Phone</td>
													<td><a href="#">(01) 8787700</a></td>
												</tr>
												<tr>
													<td>Email</td>
													<td><a href="#">dublin@acet.ie</a></td>
												</tr>
												<tr>
													<td>Website</td>
													<td><a href="#">www.acet.ie</a></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>

								<div class="pill-container">
									<ul>
										<li>
											<div class="pill">
												<span class="color-white">Support</span>
											</div>
										</li>
										<li>
											<div class="pill">
												<span class="color-grey">Family Support</span>
											</div>
										</li>
										<li>
											<div class="pill">
												<span class="color-grey">Counselling and Psychotherapy</span>
											</div>
										</li>
										<li>
											<div class="pill">
												<span class="color-grey">Counselling and Psychotherapy</span>
											</div>
										</li>
										<li>
											<div class="pill">
												<span class="color-grey">Awareness, Prevention, Education and Training programmes</span>
											</div>
										</li>
									</ul>
								</div>
							</article>
							<!-- Listing ./end-->

							<!-- Listing -->
							<article class="listing">
								<h4 class="color-alt type-serif mb-5x">
									<strong>
										ACRG (Aftercare Recovery Group)					
									</strong>
								</h4>
								<h6 class="color-primary title-sub">
									<strong>
										48 Seville Place, Dublin 1
									</strong>
								</h6>

								<hr class="hr-default">

								<div class="row">
									<div class="col-desktop-5">
										<table class="table-justifize">
											<tbody>
												<tr>
													<td>Phone</td>
													<td><a href="#">(01) 8557611</a></td>
												</tr>
												<tr>
													<td>Email</td>
													<td><a href="#">tkacrg@gmail.com</a></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>

								<div class="pill-container">
									<ul>
										<li>
											<div class="pill">
												<span class="color-white">Support</span>
											</div>
										</li>
										<li>
											<div class="pill">
												<span class="color-grey">Family Support</span>
											</div>
										</li>
										<li>
											<div class="pill">
												<span class="color-grey">Counselling and Psychotherapy</span>
											</div>
										</li>
										<li>
											<div class="pill">
												<span class="color-grey">Counselling and Psychotherapy</span>
											</div>
										</li>
										<li>
											<div class="pill">
												<span class="color-grey">Awareness, Prevention, Education and Training programmes</span>
											</div>
										</li>
									</ul>
								</div>
								
							</article>
							<!-- Listing ./end-->
						</div>

						<!-- Right -->
						<div class="col-desktop-3 col-large-3 col-large-offset-1 hidden-desktop-down">
							<aside class="nav-aside collapse-wrapper" data-breakpoint="0">
								<h6 class="nav-aside__title color-alt">
									Our online 'live help' chat service offers you a person to talk to.
								</h6>
								<p class="color-black">
									This is a free, secure and confidential online chat service - your identity is not made known to the staff member.Click the button below to launch the chat service.
								</p>
								<a href="#" class="btn btn--primary">Get help</a>
							</aside>
						</div>

					</div>
				</section>
			</div>
		</div>

		<!-- Section: pagination -->
		<section class="section-shaded section-shaded--thick text-left">
			<div class="wrapper text-center clipped">
				<div class="row">
					<!-- Left -->
					<div class="col-desktop-9 px-tablet-down-0x">
						<div class="pagination">
							<ol>
								<li>
									<a class="btn-square btn-square--sm btn-square--inverse"><i class="icon-arrow-l"></i></a>
								</li>
								<li><span>&middot;&middot;&middot;</span></li>
								<li class="hidden-desktop-down"><a href="#">98</a></li>
								<li><a href="#">99</a></li>
								<li class="active"><span>100</span></li>
								<li><a href="#">101</a></li>
								<li class="hidden-desktop-down"><a href="#">102</a></li>
								<li><span>&middot;&middot;&middot;</span></li>
								<li>
									<a class="btn-square btn-square--sm"><i class="icon-arrow-r"></i></a>
								</li>
							</ol>							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Section: pagination ./end-->
	</main>
	<!-- Main ./end -->

	@@include('inc/partial-footer.html', {"variant": "bgr-shaded"})

	@@include('inc/meta-foot.html')	
</body>
</html>