<!-- include "meta-head.html" -->
@@include('inc/meta-head.html')

<body>
	<!-- include "partial-header.html" -->
	@@include('inc/partial-header.html')

	<!-- Modal -->
	<!-- <div class="modal modal-flat fade" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="modal-video">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-close"></i></span></button>
	            </div>
	            <div class="modal-body p-0x">
	                <div data-type="youtube" data-video-id="bTqVqk7FSmY"></div>
	            </div>
	        </div>
	    </div>
	</div> -->
	<!-- Modal ./end -->


	<!-- Main -->
	<main class="main">
		
		<!-- Hero -->
		<div class="slider-hero" id="slider-hero">
			<div>
				<div class="large-banner hero">
					<picture class="bg-image">
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="img/large-banner/cover-lg-desktop-peer.jpg" media="(min-width: 1000px)">
						<source srcset="img/large-banner/cover-lg-tablet-peer.jpg" media="(min-width: 760px)">
						<!--[if IE 9]></video><![endif]-->
						<img srcset="img/large-banner/cover-lg-mobile-peer.jpg" alt="" />
					</picture>
					
					<div class="overlay">
						<div class="wrapper">
							<h1 class="hero__title">A movement towards a better drinking culture.</h1>
							<p class="text-left">
								<a href="#" class="hero__link">Hello sunday morning <i class="icon-arrow-r symbol-arrow"></i></a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="large-banner hero">
					<picture class="bg-image">
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="img/large-banner/cover-lg-desktop-peer-inverse.jpg" media="(min-width: 1000px)">
						<source srcset="img/large-banner/tablet.jpg" media="(min-width: 760px)">
						<!--[if IE 9]></video><![endif]-->
						<img srcset="img/large-banner/mobile.jpg" alt="" />
					</picture>
					
					<div class="overlay">
						<div class="wrapper">
							<h1 class="hero__title">Lorem ipsum dolor sit..</h1>
							<p class="text-left">
								<a href="#" class="hero__link">Hello sunday morning <i class="icon-arrow-r symbol-arrow"></i></a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="large-banner hero">
					<picture class="bg-image">
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="img/large-banner/cover-lg-desktop-peer.jpg" media="(min-width: 1000px)">
						<source srcset="img/large-banner/tablet.jpg" media="(min-width: 760px)">
						<!--[if IE 9]></video><![endif]-->
						<img srcset="img/large-banner/mobile.jpg" alt="" />
					</picture>
					
					<div class="overlay">
						<div class="wrapper">
							<h1 class="hero__title">Kooba digital agency.</h1>
							<p class="text-left">
								<a href="#" class="hero__link">Hello sunday morning <i class="icon-arrow-r symbol-arrow"></i></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Hero ./end -->

		<!-- Section: cards (spread) -->
		<section class="clipped">
			<div class="wrapper wrapper--full px-0x">
				<div class="flex-row">

					<div class="flex-col-desktop-5 flex">
						<div class="card-cover text-center text-left-desktop mb-1x mb-desktop-0x">
							<div class="card-cover__image" style="background-image:url('img/cover-box-symbols.jpg');"></div>
							<div class="card-cover__content card-cover__content--primary">
								<img src="img/vector/sheet.svg" alt="" class="card-cover__symbol">

								<h5 class="type-uppercase card-cover__title">Drug Test</h5>

								<p class="card-cover__copy">
									Text strip copy here – Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
								</p>
								<p>
									<a href="#" class="link-symbol type-mobile-sm-down link-alt">Find out more <i class="icon-arrow-r symbol-arrow"></i></a>
								</p>
							</div>
						</div>
					</div>

					<div class="flex-col-desktop-3 flex">
						<div class="card-cover mb-1x mb-desktop-0x">
							<div class="card-cover__image" style="background-image:url('img/cover-box-keyboard.jpg');"></div>
							<div class="card-cover__content card-cover__content--alt text-center">
								<img src="img/vector/chat.svg" alt="" class="card-cover__symbol">

								<h5 class="type-uppercase card-cover__title">Chat with us</h5>

								<p class="card-cover__copy">
									Text strip copy here – Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
								</p>
								<p>
									<a href="#" class="link-symbol type-mobile-sm-down link-ter">Find out more <i class="icon-arrow-r symbol-arrow"></i></a>
								</p>
							</div>
						</div>						
					</div>

					<div class="flex-col-desktop-4 flex">
						<div class="card-cover">
							<div class="card-cover__image" style="background-image:url('img/cover-box-portrait.jpg');"></div>
							<div class="card-cover__content card-cover__content--alt text-center">
								<img src="img/vector/phone.svg" alt="" class="card-cover__symbol">

								<h5 class="type-uppercase card-cover__title">Call: 1800 459 459</h5>

								<p class="card-cover__copy">
									Text strip copy here – Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
								</p>
								<p>
									<a href="#" class="link-symbol type-mobile-sm-down link-quart">Find out more <i class="icon-arrow-r symbol-arrow"></i></a>
								</p>
							</div>
						</div>												
					</div>
				</div>				
			</div>
		</section>
		<!-- Section: cards (spread) ./end-->

		<!-- Section: half-half -->
		<section class="section-half">
			<div class="section-half__block"></div>
			<div class="section-half__block"></div>
			<div class="wrapper">
				<div class="wrapper wrapper--collapse-mobile">
					<h6 class="h6 title-primary mb-desktop-0x">Featured Campaigns</h6>
					<p class="text-right hidden-tablet-down mb-desktop-1x">
						<a href="#" class="link-symbol-underlined type-mobile-sm-down"">All campaigns<i class="icon-arrow-r symbol-arrow"></i></a>
					</p>
					<div class="row">

						<div class="col-desktop-4 col-tablet-6">
							<a href="#" class="card-bar-wrapper">
								<div class="card-bar">
									<div class="img-zoom on-screen">
										<img src="img/cover-md-hands.jpg" alt="">
									</div>
									<div class="card-bar__content">
										<p>Campaign</p>
									</div>
								</div>

								<div class="text-center mb-6x">
									<h6 class="type-normal mb-2x type-serif type-bold">Hello Sunday Morning</h6>
									<p class="copy color-black">A movement towards a <br> better drinking culture.</p>
								</div>
							</a>
						</div>

						<div class="col-desktop-4 col-tablet-6">
							<a href="#" class="card-bar-wrapper">
								<div class="card-bar">
									<div class="img-zoom on-screen">
										<img src="img/cover-md-shirt.jpg" alt="">
									</div>
									<div class="card-bar__content">
										<p>Campaign</p>
									</div>
								</div>

								<div class="text-center mb-6x">
									<h6 class="type-normal mb-2x type-serif type-bold">Hello Sunday Morning</h6>
									<p class="copy color-black">A movement towards a <br> better drinking culture.</p>
								</div>
							</a>
						</div>

						<div class="col-desktop-4 col-desktop-offset-0 col-tablet-6 col-tablet-offset-3">
							<a href="#" class="card-bar-wrapper">
								<div class="card-bar">
									<div class="img-zoom on-screen">
										<img src="img/cover-md-building.jpg" alt="">
									</div>
									<div class="card-bar__content">
										<p>Campaign</p>
									</div>
								</div>

								<div class="text-center mb-6x">
									<h6 class="type-normal mb-2x type-serif type-bold">Hello Sunday Morning</h6>
									<p class="copy color-black">A movement towards a <br> better drinking culture.</p>
								</div>
							</a>

						</div>

						<p class="text-center hidden-tablet">
							<a href="#" class="link-symbol-underlined type-mobile-sm-down" type-mobile-sm-down">See all<i class="icon-arrow-r symbol-arrow"></i></a>
						</p>

					</div>
				</div>
			</div>
		</section>
		<!-- Section: half-half ./end-->

		<!-- Section: articles -->
		<section class="section">
			<div class="wrapper">
				<h6 class="type-uppercase text-center mb-5x mb-tablet-1x">Latest news</h6>

				<p class="text-right hidden-tablet-down">
					<a href="#" class="link-symbol-underlined type-mobile-sm-down"">All news<i class="icon-arrow-r symbol-arrow"></i></a>
				</p>

				<div class="row">

					<div class="col-mobile-6 col-desktop-3">
						<a href="#" class="article">
							<div class="article__image">
								<img src="img/cover-sm-letters.jpg" alt="" class="img-responsive mb-4x">
							</div>
							<div class="article__title">
								<h6>
									<span>28th September 2017</span>
								</h6>								
							</div>
							<p class="article__copy">
								Alcohol, what’s the harm? workshop held at Tallaght stadium
							</p>
						</a>
					</div>

					<div class="col-mobile-6 col-desktop-3">
						<a href="#" class="article">
							<div class="article__image">
								<img src="img/cover-sm-back.jpg" alt="" class="img-responsive mb-4x">
							</div>
							<div class="article__title">
								<h6>
									<span>28th September 2017</span>
								</h6>								
							</div>
							<p class="article__copy">
								Research shows impact of drugs and alcohol on health of homeless people
							</p>
						</a>
					</div>

					<div class="col-mobile-6 col-desktop-3 hidden-mobile-down">
						<a href="#" class="article">
							<div class="article__image">
								<img src="img/cover-sm-hands.jpg" alt="" class="img-responsive mb-4x">
							</div>
							<div class="article__title">
								<h6>
									<span>28th September 2017</span>
								</h6>								
							</div>
							<p class="article__copy">
								Overcoming addiction with sailing: ‘It’s a way of life I never knew existed and better than any drug
							</p>
						</a>
					</div>

					<div class="col-mobile-6 col-desktop-3 hidden-mobile-down">
						<a href="#" class="article">
							<div class="article__image">
								<img src="img/cover-sm-ruins.jpg" alt="" class="img-responsive mb-4x">
							</div>
							<div class="article__title">
								<h6>
									<span>28th September 2017</span>
								</h6>								
							</div>
							<p class="article__copy">
								Decriminalising drugs: could it work in Ireland?
							</p>
						</a>
					</div>

				</div>

				<p class="text-center hidden-tablet">
					<a href="#" class="link-symbol-underlined type-mobile-sm-down"">See all<i class="icon-arrow-r symbol-arrow"></i></a>
				</p>

			</div>
		</section>
		<!-- Section: articles ./end-->

		<!-- Section: cover -->
		<section class="section-cover bgr-primary color-white clipped">
			<div class="section-cover__bgr" style="background-image: url('img/cover-lg-face.jpg');">
			</div>
			<div class="wrapper">
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1 col-desktop-6 col-desktop-offset-1">
						<h2 class="color-alt type-black line-flat title-underlined type-uppercase">Worried about drug use?</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1 col-desktop-5 col-desktop-offset-1">
						<p class="color-white type-bold type-md mb-4x">
							Text strip copy here – Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</p>

						<a href="#" class="btn btn--ter btn--lg"><span>Get help</span><pre></pre></a>
					</div>
				</div>
			</div>
		</section>
		<!-- Section: cover ./end-->

		<!-- Section: section offset left -->
		<div class="overlay-top hidden-tablet"></div>
		<section class="section-offset-left section-offset-left--extend-primary clipped">
			<div class="wrapper wrapper--flat-mobile">
				<div class="wrapper wrapper--collapse-mobile">
					<div class="row">
						<div class="col-desktop-7 col-desktop-offset-5">
							<h5 class="title-alt text-center text-left-mobile">Key info about drugs</h5>
						</div>
					</div>

					<div class="row">
						<div class="col-desktop-5">
							<img src="img/cover-lg-gloves.jpg" alt="" class="section-offset-left__img">
						</div>

						<div class="col-desktop-7">

							<!-- Collapses -->
							<div class="collapse-wrapper accordion" data-breakpoint="0">
								<!-- #01 -->
								<div class="collapse">
									<a href="#" role="button" class="collapse__toggle box in">
										<strong>
											<dl class="box__title">
												<dt class="box__symbol box__symbol--large">
													<i class="icon-info"></i>
												</dt>
												<dd>
													Get informed about drugs
												</dd>
											</dl>
										</strong>
										<span class="box__toggle"><i class="icon-caret"></i></span>
									</a>
									<div class="collapse__content box__copy" style="display: block;">
										<p class="mb-desktop-5x">
											Text strip copy here – Lorem ipsum dolor sit amet, <a href="#">text link, status: default</a> , sed do eiusmod tempor this is a hovered link et dolore magna aliqua. Ut enim ad minim veniam.orem ipsum dolor sit amet, consectetur adipisicing eli.
										</p>
										<p>
											<a href="#" class="link-symbol link-primary type-mid">More about drugs <i class="icon-arrow-r symbol-arrow"></i></a>
										</p>
									</div>								
								</div>

								<!-- #02 -->
								<div class="collapse">
									<a href="#" role="button" class="collapse__toggle box">
										<strong>
											<dl class="box__title">
												<dt class="box__symbol">
													<i class="icon-chat"></i>
												</dt>
												<dd>
													Drugs Info for Parents or Family
												</dd>
											</dl>
										</strong>
										<span class="box__toggle"><i class="icon-caret"></i></span>
									</a>
									<div class="collapse__content box__copy">
										<p class="mb-desktop-5x">
											Text strip copy here – Lorem ipsum dolor sit amet, <a href="#">text link, status: default</a> , sed do eiusmod tempor this is a hovered link et dolore magna aliqua. Ut enim ad minim veniam.orem ipsum dolor sit amet, consectetur adipisicing eli.
										</p>
										<p>
											<a href="#" class="link-symbol link-primary type-mid">More about drugs <i class="icon-arrow-r symbol-arrow"></i></a>
										</p>
									</div>								
								</div>

								<!-- #03 -->
								<div class="collapse">
									<a href="#" role="button" class="collapse__toggle box">
										<strong>
											<dl class="box__title">
												<dt class="box__symbol box__symbol--large">
													<i class="icon-exclamation"></i>
												</dt>
												<dd>
													Drugs Info for Teens
												</dd>
											</dl>
										</strong>
										<span class="box__toggle"><i class="icon-caret"></i></span>
									</a>
									<div class="collapse__content box__copy">
										<p class="mb-desktop-5x">
											Text strip copy here – Lorem ipsum dolor sit amet, <a href="#">text link, status: default</a> , sed do eiusmod tempor this is a hovered link et dolore magna aliqua. Ut enim ad minim veniam.orem ipsum dolor sit amet, consectetur adipisicing eli.
										</p>
										<p>
											<a href="#" class="link-symbol link-primary type-mid">More about drugs <i class="icon-arrow-r symbol-arrow"></i></a>
										</p>
									</div>								
								</div>
								
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Section: section offset left ./end-->

		<!-- Section: section offset right -->
		<section class="section-offset-right">
			<div class="wrapper wrapper--sm">
				<h6 class="h6 title-ter color-white">More updates</h6>
			</div>
			<div class="wrapper wrapper--md tile-container">
				<div class="flex-row">

					<div class="flex-col-tablet-7 flex-col-large-6 tile-spacing">
						<a href="#" class="tile tile--lg">
							<div class="tile__cover">
								<div style="background-image: url('img/cover-box-symbols.jpg');"></div>
							</div>
							<div class="tile__body">
								<dl class="tile__header">
									<dt>
										<span class="symbol-play symbol-play--dark symbol-play--lg">
											<i class="icon-play"></i>
										</span>									
									</dt>
									<dd>Play video</dd>
								</dl>
								<h5 class="tile__heading">
									National Youth Media Awards 2017 
									Winners &amp; Runner
								</h5>
							</div>
						</a>
					</div>	

					<div class="flex-col-tablet-5 flex-col-large-3 tile-spacing">
						<a href="#" class="tile tile--md">
							<div class="tile__cover">
								<div style="background-image: url('img/cover-box-phones.jpg');"></div>
							</div>
							<div class="tile__body tile__body--md text-center-tablet">
								<dl class="tile__header tile__header--alt">
									<dt>
										<img src="img/vector/mic.svg" alt="" class="title__symbol title__symbol--alt">
									</dt>
									<dd>
										<h6 class="mb-0x mb-desktop-3x">
											Podcast playlist
										</h6>										
									</dd>
								</dl>
								<p>
									Text strip copy here – Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
								</p>
							</div>
						</a>
					</div>	

					<div class="flex-col-large-3">
						<a href="#" class="tile tile--sm" data-title="01" data-break="1020">
							<div class="tile__cover bgr-primary"></div>
							<div class="tile__body">
								<img src="img/vector/book.svg" alt="" class="img-responsive tile__symbol--book">
								<h6 class="type-uppercase mb-1x mb-tablet-2x">
									Book launch event
								</h6>
								<span class="tile__link link-symbol color-alt type-uppercase type-bold">Find out more <i class="icon-arrow-r symbol-arrow"></i></span>
							</div>
						</a>
						<a href="#" class="tile tile--sm tile--call" data-title="02" data-break="1020">
							<div class="tile__cover">
								<div style="background-image: url('img/cover-sm-face.jpg');"></div>
							</div>
							<div class="tile__body">
								<h6 class="type-uppercase mb-1x mb-tablet-2x">
									Call: 1800 459 459
								</h6>
								<span class="tile__link link-symbol type-uppercase type-bold">Find out more <i class="icon-arrow-r symbol-arrow"></i></span>
							</div>
						</a>
					</div>			
				</div>
			</div>
		</section>
		<!-- Section: section offset right ./end-->
		
		<!-- Section: cover right side -->
		<section class="section section-cover-right">
			<div class="wrapper relative">
				<img src="img/cover-lg-pills.jpg" alt="" class="section-cover-right__img">
				
				<div class="row">
					<div class="col-desktop-8 col-desktop-offset-1">
						<blockquote class="quote">
							<div class="quote__header"><i class="icon-quotes"></i>
								<strong><span>Mark O'regan,</span> independent.ie</strong>
							</div>
							<p class="quote__copy">
								<strong>
									<!-- <span class="mark mark--primary py-tablet-1x">
										More than 240 young people and children are
									</span>
									<span class="mark mark--primary py-tablet-1x">
										now being hospitalised annually due
										to
									</span>
									<span class="mark mark--primary py-tablet-1x mb-0x"> 
										alcohol and drugs related problems.
									</span> -->
									<mark>
										More than 240 young people and children are <br> now being hospitalised annually due to <br> alcohol and drugs related problems.
									</mark>
								</strong>
							</p>
							<a href="#" class="link-symbol link-primary quote__link">Go to resources <i class="icon-arrow-r symbol-arrow"></i></a>
						</blockquote>
					</div>
				</div>

			</div>
		</section>
		<!-- Section: cover right side ./end-->

		<!-- Section: form -->
		<section class="section-shaded">
			<div class="wrapper text-center">
				<h5 class="type-uppercase mb-4x mb-desktop-4x">Get updates</h5>
				<form action="">
					<div class="form-group">
						<input type="email" class="textbox" placeholder="Your email">
						<button class="btn-square"><i class="icon-arrow-r"></i></button>
					</div>
				</form>
			</div>
		</section>
		<!-- Section: form ./end-->
	</main>
	<!-- Main ./end -->

	@@include('inc/partial-footer.html', {"variant": "bgr-shaded"})

	@@include('inc/meta-foot.html')	
</body>
</html>