<!-- include "meta-head.html" -->
@@include('inc/meta-head.html')

<body>
	<!-- include "partial-header.html" -->
	@@include('inc/partial-header.html')

	<!-- Main -->
	<main class="main">

		<!-- Banner -->
		<section class="banner banner--cover">
			<div class="banner__img">
				<div style="background-image: url('img/cover-xl-open-arms.jpg')"></div>
			</div>
			<div class="wrapper">
				<div class="row">
					<div class="col-desktop-8 col-desktop-offset-1">
						<h1 class="h1 type-black title-underlined title-underlined--primary color-alt">A Headline for the Big Banner Key Message</h1>
						<div class="row">
							<div class="col-desktop-6">
								<p class="color-alt">
									<strong>
										This is a short description of the section to help navigation
									</strong>
								</p>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Banner ./end-->

		<div class="trimmer">
			<div class="wrapper wrapper--extend-right text-right">
				<div class="toolbox">
					<ul>
						<li>
							<button type="button" class="js-type-decrease">A-</button>
						</li>
						<li>
							<button type="button" class="js-type-increase">A+</button>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="trimmer">
			<div class="wrapper wrapper--md-sm bgr-white wrapper--md-sm-extend-right">
				<div class="wrapper wrapper--collapse-desktop-down">
					<section class="section-md">
						<h6 class="h6 title-quart title-extend--light mb-desktop-8x">Featured media</h6>
			
						<div class="row pb-8x pb-desktop-0x">
							<div class="col-tablet-6 col-desktop-5">
			
								<a href="#" class="article article--full">
									<div class="article__image article__image--overlay">
										<img src="img/cover-sm-video-01.jpg" alt="" class="img-responsive mb-4x">
			
										<span class="symbol-play symbol-play--dark symbol-play--lg">
											<i class="icon-play"></i>
										</span>					
									</div>
			
									<p class="article__copy article__copy--primary type-md">
										<span>Watch:</span> National Youth Media Awards 2017 Winners &amp; Runner
									</p>
								</a>
			
			
							</div>
			
							<div class="col-tablet-6 col-desktop-5">
								
								<a href="#" class="article article--full">
									<div class="article__image article__image--overlay">
										<img src="img/cover-sm-video-02.jpg" alt="" class="img-responsive mb-4x">
			
										<span class="symbol-play symbol-play--dark symbol-play--lg">
											<i class="icon-play"></i>
										</span>					
									</div>
			
									<p class="article__copy article__copy--primary type-md">
										<span>Watch:</span> National Youth Media Awards 2017 Winners &amp; Runner
									</p>
								</a>
							</div>
			
							<div class="col-tablet-12 col-desktop-2">
								<a class="card-panel">
									<div class="card-panel__header">
										<img src="img/vector/video.svg" alt="">
									</div>
									<p class="card-panel__copy card-panel__copy--aligned">
										<span>
											More videos
											<i class="icon-arrow-r"></i>
										</span>
									</p>
								</a>
							</div>
						</div>
			
						<div class="row row-flex-reverse-col-desktop-down">
							<div class="col-desktop-2">
								<a class="card-panel mb-2x">
									<div class="card-panel__header card-panel__header--mic">
										<img src="img/vector/mic.svg" alt="">
									</div>
									<p class="card-panel__copy">
										All podcast
										<i class="icon-arrow-r"></i>
									</p>
								</a>
							</div>						
			
							<div class="col-desktop-3 col-desktop-3i">
								<a class="card-spread">
									<div class="card-spread__cover">
										<div style="background-image: url('img/cover-md-phones.jpg');"></div>
									</div>
									<div class="card-spread__content match-height">
										<div>
											<h6 class="card-spread__title">Podcast Playlist</h6>
											<p class="card-spread__body">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur hic minima blanditiis, laudantium ex quam sit ipsum adipisci rerum repudiandae!
											</p>										
										</div>
										<p class="card-spread__footer">
											Find out more <i class="icon-arrow-r"></i>
										</p>
										
									</div>
			
								</a>
							</div>
			
							<div class="col-desktop-3 col-desktop-3i">
								<a class="card-spread">
									<div class="card-spread__cover">
										<div style="background-image: url('img/cover-md-drums.jpg');"></div>
									</div>
									<div class="card-spread__content match-height">
										<div>									
											<h6 class="card-spread__title">Podcast Playlist</h6>
											<p class="card-spread__body">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur hic minima blanditiis.
											</p>
										</div>
										<p class="card-spread__footer">
											Find out more <i class="icon-arrow-r"></i>
										</p>
										
									</div>
			
								</a>
							</div>
			
							<div class="col-desktop-3 col-desktop-3i">
								<a class="card-spread">
									<div class="card-spread__cover">
										<div style="background-image: url('img/cover-md-smoke.jpg');"></div>
									</div>
									<div class="card-spread__content match-height">
										<div>
											<h6 class="card-spread__title">Podcast Playlist</h6>
											<p class="card-spread__body">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi facere sit, voluptates, ab voluptate harum officiis atque ullam perferendis. Esse in incidunt ex quibusdam libero ea, facere fugiat consequuntur modi.
											</p>										
										</div>
										<p class="card-spread__footer">
											Find out more <i class="icon-arrow-r"></i>
										</p>
										
									</div>
			
								</a>
							</div>
			
						</div>
			
					</section>
			
					<!-- Section: publications -->
					<section class="section pt-8x">
						<div class="wrapper">
							<div class="flex-row top-tablet mb-tablet-6x">
								<div class="flex-col-tablet-6">
									<h6 class="mb-4x mb-desktop-0x type-uppercase h6 line-height-justifize">Latest publications</h6>
								</div>
								<div class="flex-col-tablet-6 hidden-tablet-down text-right-tablet">
									<a href="#" class="link-symbol-underlined type-mobile-sm-down"">All news<i class="icon-arrow-r symbol-arrow"></i></a>
								</div>
							</div>
			
							<div class="row">
			
								<div class="col-mobile-6 col-desktop-3">
									<a href="#" class="article">
										<div class="article__image">
											<img src="img/cover-sm-letters.jpg" alt="" class="img-responsive mb-4x">
										</div>
										<div class="article__title">
											<h6>
												<span>28th September 2017</span>
											</h6>								
										</div>
										<p class="article__copy">
											Alcohol, what’s the harm? workshop held at Tallaght stadium
										</p>
									</a>
								</div>
			
								<div class="col-mobile-6 col-desktop-3">
									<a href="#" class="article">
										<div class="article__image">
											<img src="img/cover-sm-back.jpg" alt="" class="img-responsive mb-4x">
										</div>
										<div class="article__title">
											<h6>
												<span>28th September 2017</span>
											</h6>								
										</div>
										<p class="article__copy">
											Research shows impact of drugs and alcohol on health of homeless people
										</p>
									</a>
								</div>
			
								<div class="col-mobile-6 col-desktop-3 hidden-mobile-down">
									<a href="#" class="article">
										<div class="article__image">
											<img src="img/cover-sm-hands.jpg" alt="" class="img-responsive mb-4x">
										</div>
										<div class="article__title">
											<h6>
												<span>28th September 2017</span>
											</h6>								
										</div>
										<p class="article__copy">
											Overcoming addiction with sailing: ‘It’s a way of life I never knew existed and better than any drug
										</p>
									</a>
								</div>
			
								<div class="col-mobile-6 col-desktop-3 hidden-mobile-down">
									<a href="#" class="article">
										<div class="article__image">
											<img src="img/cover-sm-ruins.jpg" alt="" class="img-responsive mb-4x">
										</div>
										<div class="article__title">
											<h6>
												<span>28th September 2017</span>
											</h6>								
										</div>
										<p class="article__copy">
											Decriminalising drugs: could it work in Ireland?
										</p>
									</a>
								</div>
			
							</div>
			
							<p class="text-center hidden-tablet">
								<a href="#" class="link-symbol-underlined type-mobile-sm-down"">See all<i class="icon-arrow-r symbol-arrow"></i></a>
							</p>
						</div>
					</section>
					<!-- Section: publications ./end-->
				</div>
			</div>
		</div>

		<!-- Section: half-half -->
		<section class="section bgr-primary clipped">
				<div class="wrapper wrapper--left-adjust">
					<div class="row">
						<div class="col-desktop-7">
							<h2 class="color-alt type-black line-flat title-underlined">Let's Talk About Drugs Media Awards 2018</h2>
							<p class="color-white type-bold type-md mb-4x">
								The competition encourages the public discussion of drug-related issues by inviting secondary school students and aspiring journalists to create a feature about drugs.
							</p>
							<p class="mb-3x">
								<a href="#" class="link-symbol link-alt type18x">
									Find out more <i class="icon-arrow-r"></i>
								</a>
							</p>
						</div>	

						<div class="col-desktop-5">
							<div class="box-cover">
								<img src="img/std-corridor.jpg" alt="" class="img-responsive box-cover__img">

								<div class="box-cover__content">
									<span class="mark">
										Two words of advice
									</span>
									<br>
									<span class="mark">
										you rarely hear
									</span>
									<p class="box-cover__copy">
										Efe Kurnaz, Winner <br>
										“Best article 2016” 
									</p>
								</div>
								
							</div>
						</div>					
					</div>
				</div>
		</section>
		<!-- Section: half-half ./end-->

		<!-- Section: half-half -->
		<section class="section-half">
			<div class="section-half__block"></div>
			<div class="section-half__block"></div>
			<div class="wrapper">
				<div class="wrapper">
					<h6 class="title-primary mb-desktop-0x h6 js-left-align-master">Latest Reasearch</h6>
					<p class="text-right hidden-tablet-down mb-desktop-1x">
						<a href="#" class="link-symbol-underlined type-mobile-sm-down"">All research<i class="icon-arrow-r symbol-arrow"></i></a>
					</p>
					<div class="row">

						<div class="col-desktop-4 col-tablet-6">
							<a href="#" class="card-bar-wrapper">
								<div class="card-bar">
									<div class="img-zoom">
										<img src="img/cover-md-stairs.jpg" alt="">
									</div>
									<div class="card-bar__content">
										<p>Campaign</p>
									</div>
								</div>

								<div class="text-center mb-6x">
									<h6 class="type-normal mb-2x type-serif type-bold">
										European Monitoring Centre for Drugs and Drug Addiction. (2017) <br> …
									</h6>
								</div>
							</a>
						</div>

						<div class="col-desktop-4 col-tablet-6">
							<a href="#" class="card-bar-wrapper">
								<div class="card-bar">
									<div class="img-zoom">
										<img src="img/cover-md-cleveage.jpg" alt="">
									</div>
									<div class="card-bar__content">
										<p>Campaign</p>
									</div>
								</div>

								<div class="text-center mb-6x">
									<h6 class="type-normal mb-2x type-serif type-bold">
										Perspectives on drugs: <br>
										preventing overdose <br>
										deaths in Europe
									</h6>
								</div>
							</a>
						</div>

						<div class="col-desktop-4 col-desktop-offset-0 col-tablet-6 col-tablet-offset-3">

							<a href="#" class="card-bar-wrapper">
								<div class="card-bar">
									<div class="img-zoom">
										<img src="img/cover-md-swing.jpg" alt="">
									</div>
									<div class="card-bar__content">
										<p>Campaign</p>
									</div>
								</div>

								<div class="text-center mb-6x">
									<h6 class="type-normal mb-2x type-serif type-bold">
										Alcohol and society. Theme 2016/2017: alcohol and cancer
									</h6>
								</div>
							</a>
						</div>

						<p class="text-center hidden-tablet">
							<a href="#" class="link-symbol-underlined type-mobile-sm-down"">See all<i class="icon-arrow-r symbol-arrow"></i></a>
						</p>

					</div>
				</div>
			</div>
		</section>
		<!-- Section: half-half ./end-->

		<!-- Section: cards -->
		<section class="section">
			<div class="wrapper">
					<h6 class="text-center mb-4x mb-desktop-0x type-uppercase color-alt h6">Stats</h6>
					<p class="text-right hidden-tablet-down mb-desktop-1x">
						<a href="#" class="link-symbol-underlined type-mobile-sm-down"">See all<i class="icon-arrow-r symbol-arrow"></i></a>
					</p>
					<div class="row">

						<div class="col-desktop-4 col-tablet-6">
							<a href="#" class="card-bar-wrapper">
								<div class="card-bar">
									<div class="img-zoom on-screen">
										<img src="img/cover-md-stats-01.jpg" alt="">
									</div>
									<div class="card-bar__content">
										<p class="bgr-white">Stats</p>
									</div>
								</div>

								<div class="text-center mb-6x">
									<h6 class="type-normal mb-2x type-serif type-bold">Hello Sunday Morning</h6>
									<p class="type-md color-black">A movement towards a <br> better drinking culture.</p>
								</div>
							</a>
						</div>

						<div class="col-desktop-4 col-tablet-6">
							<a href="#" class="card-bar-wrapper">
								<div class="card-bar">
									<div class="img-zoom on-screen">
										<img src="img/cover-md-stats-02.jpg" alt="">
									</div>
									<div class="card-bar__content">
										<p class="bgr-white">Stats</p>
									</div>
								</div>

								<div class="text-center mb-6x">
									<h6 class="type-normal mb-2x type-serif type-bold">Hello Sunday Morning</h6>
									<p class="type-md color-black">A movement towards a <br> better drinking culture.</p>
								</div>
							</a>
						</div>

						<div class="col-desktop-4 col-desktop-offset-0 col-tablet-6 col-tablet-offset-3">
							<a href="#" class="card-bar-wrapper">
								<div class="card-bar">
									<div class="img-zoom on-screen">
										<img src="img/cover-md-stats-03.jpg" alt="">
									</div>
									<div class="card-bar__content">
										<p class="bgr-white">Stats</p>
									</div>
								</div>

								<div class="text-center mb-6x">
									<h6 class="type-normal mb-2x type-serif type-bold">Hello Sunday Morning</h6>
									<p class="type-md color-black">A movement towards a <br> better drinking culture.</p>
								</div>
							</a>
						</div>

						<p class="text-center hidden-tablet">
							<a href="#" class="link-symbol-underlined type-mobile-sm-down"">See all<i class="icon-arrow-r symbol-arrow"></i></a>
						</p>

					</div>
				</div>
		</section>
		<!-- Section: cards ./end-->

		<!-- Section: section offset right -->
		<section class="section-offset-right mb-desktop-21x">
			<div class="wrapper wrapper--sm">
				<h6 class="title-ter color-white h6">More updates</h6>
			</div>
			<div class="wrapper wrapper--md tile-container">
				<div class="flex-row">

					<div class="flex-col-tablet-7 flex-col-desktop-6 tile-spacing">
						<a href="#" class="tile tile--lg">
							<div class="tile__cover">
								<div style="background-image: url('img/cover-box-symbols.jpg');"></div>
							</div>
							<div class="tile__body tile__body--bottom">
								<h5 class="tile__heading tile__heading--lg type-black color-alt mb-4x">
									Community detox programs
								</h5>
								<p class="btn btn--ter">More info</p>
							</div>
						</a>
					</div>	

					<div class="flex-col-tablet-5 flex-col-desktop-3 tile-spacing">
						<a href="#" class="tile tile--md">
							<div class="tile__cover">
								<div style="background-image: url('img/cover-box-phones.jpg');"></div>
							</div>
							<div class="tile__body tile__body--md tile__body--md-bottom text-center-tablet">
								<dl class="tile__header tile__header--alt mb-4x">
									<dt>
										<img src="img/vector/mic.svg" alt="" class="title__symbol title__symbol--alt">
									</dt>
									<dd>
										<h6 class="mb-0x mb-desktop-3x">
											Podcast playlist
										</h6>										
									</dd>
								</dl>
								<p class="mb-6x mb-mobile-6x">
									Text strip copy here – Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
								</p>
								<p>
									<span class="tile__link link-symbol type-uppercase type-bold">Find out more <i class="icon-arrow-r symbol-arrow"></i></span>
								</p>
							</div>
						</a>
					</div>	

					<div class="flex-col-desktop-3">
						<a href="#" class="tile tile--sm" data-title="01" data-break="1020">
							<div class="tile__cover bgr-primary"></div>
							<div class="tile__body">
								<img src="img/vector/book.svg" alt="" class="img-responsive tile__symbol--book">
								<h6 class="type-uppercase mb-1x mb-tablet-2x">
									Protocols and list of brokers
								</h6>
								<span class="tile__link link-symbol color-alt type-uppercase type-bold">Find out more <i class="icon-arrow-r symbol-arrow"></i></span>
							</div>
						</a>
						<a href="#" class="tile tile--sm tile--call" data-title="02" data-break="1020">
							<div class="tile__cover">
								<div style="background-image: url('img/cover-sm-face.jpg');"></div>
							</div>
							<div class="tile__body">
								<h6 class="type-uppercase mb-1x mb-tablet-2x">
									FAQ for Community Detox
								</h6>
								<span class="tile__link link-symbol type-uppercase type-bold">Find out more <i class="icon-arrow-r symbol-arrow"></i></span>
							</div>
						</a>
					</div>			
				</div>
			</div>
		</section>
		<!-- Section: section offset right ./end-->

		<!-- Section: half-half -->
		<section class="section-half bgr-white mb-0x section-half--spaced">
			<div class="section-half__block section-half__block--alt"></div>
			<div class="section-half__block section-half__block--alt section-half__block--white"></div>
			<div class="wrapper bgr-white">
				<div class="wrapper wrapper--flat-mobile">
					<h6 class="title-quart mb-desktop-0x h6">Usefull links</h6>
					<p class="text-right hidden-tablet-down mb-desktop-1x square-align">
						<a href="#" class="link-symbol-underlined type-mobile-sm-down"">All links<i class="icon-arrow-r symbol-arrow"></i></a>
					</p>

					<div class="square">
						<ul>
							<li>
								<div>
									<h6 class="square__title">
										National Standards for Safer Better Healthcare
									</h6>
									<a href="#" class="square__link link-symbol-underlined">
										All links <i class="icon-arrow-r symbol-arrow"></i>
									</a>
								</div>
							</li>
							<li>
								<div class="bgr-primary">
									<h6 class="square__title">
										QuADS Organisational Standards
									</h6>
									<a href="#" class="square__link link-symbol-underlined">
										All links <i class="icon-arrow-r symbol-arrow"></i>
									</a>
								</div>
							</li>
							<li>
								<div>
									<h6 class="square__title">
										NDRIC
									</h6>
									<a href="#" class="square__link link-symbol-underlined">
										All links <i class="icon-arrow-r symbol-arrow"></i>
									</a>
								</div>
							</li>
							<li>
								<div class="bgr-primary-flat">
									<h6 class="square__title">
										The drug related intimidation programme
									</h6>
									<a href="#" class="square__link link-symbol-underlined">
										All links <i class="icon-arrow-r symbol-arrow"></i>
									</a>
								</div>
							</li>
							<li>
								<div class="bgr-primary-flat">
									<h6 class="square__title">
										Naloxone
									</h6>
									<a href="#" class="square__link link-symbol-underlined">
										All links <i class="icon-arrow-r symbol-arrow"></i>
									</a>
								</div>
							</li>
							<li>
								<div>
									<h6 class="square__title">
										Dealing with drug litter
									</h6>
									<a href="#" class="square__link link-symbol-underlined">
										All links <i class="icon-arrow-r symbol-arrow"></i>
									</a>
								</div>
							</li>
							<li>
								<div class="bgr-primary">
									<h6 class="square__title">
										Supervised injecting facilities frequently asked questions
									</h6>
									<a href="#" class="square__link link-symbol-underlined">
										All links <i class="icon-arrow-r symbol-arrow"></i>
									</a>
								</div>
							</li>
							<li>
								<div>
									<h6 class="square__title">
										National Standards for Safer Better Healthcare
									</h6>
									<a href="#" class="square__link link-symbol-underlined">
										All links <i class="icon-arrow-r symbol-arrow"></i>
									</a>
								</div>
							</li>
						</ul>
					</div>

					<p class="text-center hidden-tablet">
						<a href="#" class="link-symbol-underlined type-mobile-sm-down"">See all<i class="icon-arrow-r symbol-arrow"></i></a>
					</p>

				</div>
			</div>
		</section>
		<!-- Section: half-half ./end-->


		<!-- Section: form -->
		<section class="section-shaded bgr-white">
			<div class="wrapper text-center">
				<h5 class="type-uppercase mb-4x mb-desktop-4x">Get updates</h5>
				<form action="">
					<div class="form-group">
						<input type="email" class="textbox" placeholder="Your email">
						<button class="btn-square"><i class="icon-arrow-r"></i></button>
					</div>
				</form>
			</div>
		</section>
		<!-- Section: form ./end-->



	</main>
	<!-- Main ./end -->

	@@include('inc/partial-footer.html', {"variant": ""})

	@@include('inc/meta-foot.html')	
</body>
</html>