<!-- include "meta-head.html" -->
@@include('inc/meta-head.html')

<body>
	<!-- include "partial-header.html" -->
	@@include('inc/partial-header.html')

	<!-- Main -->
	<main class="main">  

		<!-- Banner -->
		<section class="banner banner--sm">
		</section>
		<!-- Banner ./end-->
		
		<!-- Desktop View -->
		<div class="wrapper wrapper--md-sm bgr-white wrapper--md-sm-extend-right hidden-tablet-down">
			
			<section class="section-md">
				<div class="row">

					<!-- Left -->
					<div class="col-desktop-9 col-large-9">
						<div class="justifize-flex">
							<!-- Breadcrumbs -->
							<ol class="bread inline-block mb-tablet-8x">
								<li><a href="#" class="bread__link">Service Finder</a></li>
								<li class="color-alt">Abbeyfeale &amp; District Initiative§</li>
							</ol>					
							<!-- Breadcrumbs ./end-->

							<!-- A- A+ -->
							<div class="toolbox toolbox--flat hidden-tablet-down">  
								<ul>
									<li>
										<button type="button" class="js-type-decrease">A-</button>
									</li>
									<li>
										<button type="button" class="js-type-increase">A+</button>
									</li>
								</ul>
							</div>
							<!-- A- A+ ./end -->
						</div>

						<!-- Nav tabs -->
						<div class="tabs-container">
							<ul class="nav-tabs tabs" role="tablist">
								<li role="presentation" class="active"><a href="#overview" class="tabs__link" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>

				                <li role="presentation"><a href="#services" class="tabs__link" aria-controls="services" role="tab" data-toggle="tab">Services</a></li>

								<li role="presentation"><a href="#access" class="tabs__link" aria-controls="access" role="tab" data-toggle="tab">Access / Fees</a></li>

							  	<li role="presentation"><a href="#delivery" class="tabs__link" aria-controls="delivery" role="tab" data-toggle="tab">Service Delivery</a></li>
							</ul>
						</div>
						<!-- Nav tabs ./end -->

						<!-- Tab panes -->
						<div class="tab-content">
							<!-- Panel -->
							<div role="tabpanel" class="tab-pane fade active" id="overview">
								<article class="listing">
									<h4 class="h4 color-alt type-serif mb-4x mb-mobile-5x">
										<strong>
											Abbeyfeale &amp; District Initiative								
										</strong>
									</h4>
									<h6 class="color-primary type-md">
										<strong>
											Parish Office, Convent Street, Abbeyfeale, Limerick							
										</strong>
									</h6>

									<hr class="hr-default">

									<div class="row">
										<div class="col-desktop-6">
											<table class="table-justifize">
												<tbody>
													<tr>
														<td>Address</td>
														<td class="color-black">Parish Office Convent Street <br>Abbeyfeale<br> Limerick</td>
													</tr>
													<tr>
														<td>Phone</td>
														<td><a href="#" class="color-black">(01) 8787700</a></td>
													</tr>
													<tr>
														<td>Email</td>
														<td><a href="#" class="color-primary type-bold">dublin@acet.ie</a></td>
													</tr>
													<tr>
														<td>Website</td>
														<td><a href="#" class="color-primary type-bold">www.acet.ie</a></td>
													</tr>
												</tbody>
											</table>
										</div>

										<div class="col-desktop-6">
											<img src="img/map.jpg" class="img-responsive" alt="map">
										</div>
									</div>

									<hr class="hr-default hidden-desktop-down">
									
									<div class="mb-5x">
										<h6 class="color-alt type-medium">Service type</h6>
										<p>Community/Voluntary</p>
									</div>
									
									<div class="mb-5x">
										<h6 class="color-alt type-medium">Is the service a branch of or related to a larger organisation?</h6>
										<p>Community/Voluntary</p>
									</div>
									
									<div class="mb-5x">
										<h6 class="color-alt type-medium">Drug and Alcohol Task Force to which this service is linked:</h6>
										<p>Mid western RDATF</p>
									</div>

									<div class="row">
										<div class="col-desktop-9">
											<div class="pill-container">
												<ul>
													<li>
														<div class="pill">
															<span class="color-white">Support</span>
														</div>
													</li>
													<li>
														<div class="pill">
															<span class="color-grey">Family Support</span>
														</div>
													</li>
													<li>
														<div class="pill">
															<span class="color-grey">Counselling and Psychotherapy</span>
														</div>
													</li>
													<li>
														<div class="pill">
															<span class="color-grey">Counselling and Psychotherapy</span>
														</div>
													</li>
													<li>
														<div class="pill">
															<span class="color-grey">Awareness, Prevention, Education and Training programmes</span>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</article>
							</div>
							<!-- Panel ./end--> 

							<!-- Panel -->
							<div role="tabpanel" class="tab-pane fade" id="services">
								<article class="listing">
									<h4 class="h4 color-alt type-serif mb-4x mb-mobile-5x">
										<strong>
											Services: Abbeyfeale &amp; District Initiative			
										</strong>
									</h4>
									<h6 class="color-primary type-md">
										<strong>
											Parish Office, Convent Street, Abbeyfeale, Limerick							
										</strong>
									</h6>

									<hr class="hr-default">

									<div class="row">
										<div class="col-desktop-6">
											<table class="table-justifize">
												<tbody>
													<tr>
														<td>Address</td>
														<td class="color-black">Parish Office Convent Street <br>Abbeyfeale<br> Limerick</td>
													</tr>
													<tr>
														<td>Phone</td>
														<td><a href="#" class="color-black">(01) 8787700</a></td>
													</tr>
													<tr>
														<td>Email</td>
														<td><a href="#" class="color-primary type-bold">dublin@acet.ie</a></td>
													</tr>
													<tr>
														<td>Website</td>
														<td><a href="#" class="color-primary type-bold">www.acet.ie</a></td>
													</tr>
												</tbody>
											</table>
										</div>

										<div class="col-desktop-6">
											<img src="img/map.jpg" class="img-responsive" alt="map">
										</div>
									</div>

									<hr class="hr-default hidden-desktop-down">
									
									<div class="mb-5x">
										<h6 class="color-alt type-medium">Service type</h6>
										<p>Community/Voluntary</p>
									</div>
									
									<div class="mb-5x">
										<h6 class="color-alt type-medium">Is the service a branch of or related to a larger organisation?</h6>
										<p>Community/Voluntary</p>
									</div>
									
									<div class="mb-5x">
										<h6 class="color-alt type-medium">Drug and Alcohol Task Force to which this service is linked:</h6>
										<p>Mid western RDATF</p>
									</div>

									<div class="row">
										<div class="col-desktop-9">
											<div class="pill-container">
												<ul>
													<li>
														<div class="pill">
															<span class="color-white">Support</span>
														</div>
													</li>
													<li>
														<div class="pill">
															<span class="color-grey">Family Support</span>
														</div>
													</li>
													<li>
														<div class="pill">
															<span class="color-grey">Counselling and Psychotherapy</span>
														</div>
													</li>
													<li>
														<div class="pill">
															<span class="color-grey">Counselling and Psychotherapy</span>
														</div>
													</li>
													<li>
														<div class="pill">
															<span class="color-grey">Awareness, Prevention, Education and Training programmes</span>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</article>
							</div>
							<!-- Panel ./end-->

							<!-- Panel -->
							<div role="tabpanel" class="tab-pane fade" id="access">
								<article class="listing">
									<h4 class="h4 color-alt type-serif mb-4x mb-mobile-5x">
										<strong>
											Access: Abbeyfeale &amp; District Initiative								
										</strong>
									</h4>
									<h6 class="color-primary type-md">
										<strong>
											Parish Office, Convent Street, Abbeyfeale, Limerick							
										</strong>
									</h6>

									<hr class="hr-default">

									<div class="row">
										<div class="col-desktop-6">
											<table class="table-justifize">
												<tbody>
													<tr>
														<td>Address</td>
														<td class="color-black">Parish Office Convent Street <br>Abbeyfeale<br> Limerick</td>
													</tr>
													<tr>
														<td>Phone</td>
														<td><a href="#" class="color-black">(01) 8787700</a></td>
													</tr>
													<tr>
														<td>Email</td>
														<td><a href="#" class="color-primary type-bold">dublin@acet.ie</a></td>
													</tr>
													<tr>
														<td>Website</td>
														<td><a href="#" class="color-primary type-bold">www.acet.ie</a></td>
													</tr>
												</tbody>
											</table>
										</div>

										<div class="col-desktop-6">
											<img src="img/map.jpg" class="img-responsive" alt="map">
										</div>
									</div>

									<hr class="hr-default hidden-desktop-down">
									
									<div class="mb-5x">
										<h6 class="color-alt type-medium">Service type</h6>
										<p>Community/Voluntary</p>
									</div>
									
									<div class="mb-5x">
										<h6 class="color-alt type-medium">Is the service a branch of or related to a larger organisation?</h6>
										<p>Community/Voluntary</p>
									</div>
									
									<div class="mb-5x">
										<h6 class="color-alt type-medium">Drug and Alcohol Task Force to which this service is linked:</h6>
										<p>Mid western RDATF</p>
									</div>

									<div class="row">
										<div class="col-desktop-9">
											<div class="pill-container">
												<ul>
													<li>
														<div class="pill">
															<span class="color-white">Support</span>
														</div>
													</li>
													<li>
														<div class="pill">
															<span class="color-grey">Family Support</span>
														</div>
													</li>
													<li>
														<div class="pill">
															<span class="color-grey">Counselling and Psychotherapy</span>
														</div>
													</li>
													<li>
														<div class="pill">
															<span class="color-grey">Counselling and Psychotherapy</span>
														</div>
													</li>
													<li>
														<div class="pill">
															<span class="color-grey">Awareness, Prevention, Education and Training programmes</span>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</article>
							</div>
							<!-- Panel ./end-->  

							<!-- Panel -->
							<div role="tabpanel" class="tab-pane fade" id="delivery">
								<article class="listing">
									<h4 class="h4 color-alt type-serif mb-4x mb-mobile-5x">
										<strong>
											Delivery: Abbeyfeale &amp; District Initiative								
										</strong>
									</h4>
									<h6 class="color-primary type-md">
										<strong>
											Parish Office, Convent Street, Abbeyfeale, Limerick							
										</strong>
									</h6>

									<hr class="hr-default">

									<div class="row">
										<div class="col-desktop-6">
											<table class="table-justifize">
												<tbody>
													<tr>
														<td>Address</td>
														<td class="color-black">Parish Office Convent Street <br>Abbeyfeale<br> Limerick</td>
													</tr>
													<tr>
														<td>Phone</td>
														<td><a href="#" class="color-black">(01) 8787700</a></td>
													</tr>
													<tr>
														<td>Email</td>
														<td><a href="#" class="color-primary type-bold">dublin@acet.ie</a></td>
													</tr>
													<tr>
														<td>Website</td>
														<td><a href="#" class="color-primary type-bold">www.acet.ie</a></td>
													</tr>
												</tbody>
											</table>
										</div>

										<div class="col-desktop-6">
											<img src="img/map.jpg" class="img-responsive" alt="map">
										</div>
									</div>

									<hr class="hr-default hidden-desktop-down">
									
									<div class="mb-5x">
										<h6 class="color-alt type-medium">Service type</h6>
										<p>Community/Voluntary</p>
									</div>
									
									<div class="mb-5x">
										<h6 class="color-alt type-medium">Is the service a branch of or related to a larger organisation?</h6>
										<p>Community/Voluntary</p>
									</div>
									
									<div class="mb-5x">
										<h6 class="color-alt type-medium">Drug and Alcohol Task Force to which this service is linked:</h6>
										<p>Mid western RDATF</p>
									</div>

									<div class="row">
										<div class="col-desktop-9">
											<div class="pill-container">
												<ul>
													<li>
														<div class="pill">
															<span class="color-white">Support</span>
														</div>
													</li>
													<li>
														<div class="pill">
															<span class="color-grey">Family Support</span>
														</div>
													</li>
													<li>
														<div class="pill">
															<span class="color-grey">Counselling and Psychotherapy</span>
														</div>
													</li>
													<li>
														<div class="pill">
															<span class="color-grey">Counselling and Psychotherapy</span>
														</div>
													</li>
													<li>
														<div class="pill">
															<span class="color-grey">Awareness, Prevention, Education and Training programmes</span>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</article>
							</div>
							<!-- Panel ./end-->
						</div> 
					</div>

					<!-- Right -->
					<div class="col-desktop-3 col-large-3">
						<aside class="nav-aside collapse-wrapper" data-breakpoint="0">
							<h6 class="nav-aside__title color-alt">
								Our online 'live help' chat service offers you a person to talk to.
							</h6>
							<p class="color-black">
								This is a free, secure and confidential online chat service - your identity is not made known to the staff member.Click the button below to launch the chat service.
							</p>
							<a href="#" class="btn btn--primary">Get help</a>
						</aside>
					</div>

				</div>
			</section>
		</div>
		<!-- Desktop View ./end -->

		<!-- Mobile View -->
		<div class="wrapper hidden-tablet pt-3x pb-9x">
			<!-- A- A+ -->
			<div class="toolbox toolbox--flat hidden-tablet toolbox--row"> 
				<ul>
					<li>
						<button type="button" class="js-type-decrease">A-</button>
					</li>
					<li>
						<button type="button" class="js-type-increase">A+</button>
					</li>
				</ul>
			</div>
			<!-- A- A+ ./end -->

			<div class="justifize-flex">
				<!-- Breadcrumbs -->
				<ol class="bread inline-block">
					<li><a href="#" class="bread__link">Service Finder</a></li>
					<li class="color-alt">Abbeyfeale &amp; District Initiative§</li>
				</ol>					
				<!-- Breadcrumbs ./end-->

				<!-- A- A+ -->
				<div class="toolbox toolbox--flat hidden-tablet-down"> 
					<ul>
						<li>
							<button type="button" class="js-type-decrease">A-</button>
						</li>
						<li>
							<button type="button" class="js-type-increase">A+</button>
						</li>
					</ul>
				</div>
				<!-- A- A+ ./end -->
			</div>

			<nav class="collapse-wrapper accordion" data-breakpoint="760">
				<div class="row mb-4x mb-desktop-6x">

					<div class="col-tablet-3 col-desktop-2">
						<div class="collapse">
							<h5 role="button" class="collapse__toggle collapse__heading in">
								<strong>Overview</strong>
								<span class="caret__toggle"><i class="icon-caret"></i></span>
							</h5>
							<div class="collapse__content">

								<section class="section-md pb-5x">
									<div class="row">

										<!-- Left -->
										<div class="col-desktop-9 col-large-9">    

											<!-- Listing -->
											<article class="listing">
												<h4 class="h4 color-alt type-serif mb-4x mb-mobile-5x">
													<strong>
														Abbeyfeale &amp; District Initiative								
													</strong>
												</h4>
												<h6 class="color-primary type-md">
													<strong>
														Parish Office, Convent Street, Abbeyfeale, Limerick							
													</strong>
												</h6>

												<hr class="hr-default">

												<div class="row">
													<div class="col-desktop-6">
														<table class="table-justifize">
															<tbody>
																<tr>
																	<td>Address</td>
																	<td class="color-black">Parish Office Convent Street <br>Abbeyfeale<br> Limerick</td>
																</tr>
																<tr>
																	<td>Phone</td>
																	<td><a href="#" class="color-black">(01) 8787700</a></td>
																</tr>
																<tr>
																	<td>Email</td>
																	<td><a href="#" class="color-primary type-bold">dublin@acet.ie</a></td>
																</tr>
																<tr>
																	<td>Website</td>
																	<td><a href="#" class="color-primary type-bold">www.acet.ie</a></td>
																</tr>
															</tbody>
														</table>
													</div>

													<div class="col-desktop-6">
														<img src="img/map-mobile.jpg" class="mb-5x img-responsive" alt="map-mobile">
													</div>
												</div>

												<hr class="hr-default hidden-desktop-down">
												
												<div class="mb-5x">
													<h6 class="color-alt type-medium">Service type</h6>
													<p class="combo-grey-black">Community/Voluntary</p>
												</div>
												
												<div class="mb-5x">
													<h6 class="color-alt type-medium">Is the service a branch of or related to a larger organisation?</h6>
													<p class="combo-grey-black">Community/Voluntary</p>
												</div>
												
												<div class="mb-5x">
													<h6 class="color-alt type-medium">Drug and Alcohol Task Force to which this service is linked:</h6>
													<p class="combo-grey-black">Mid western RDATF</p>
												</div>

												<div class="row">
													<div class="col-desktop-9">
														<div class="pill-container mb-2x">
															<ul>
																<li>
																	<div class="pill">
																		<span class="color-white">Support</span>
																	</div>
																</li>
																<li>
																	<div class="pill">
																		<span class="color-grey">Family Support</span>
																	</div>
																</li>
																<li>
																	<div class="pill">
																		<span class="color-grey">Counselling and Psychotherapy</span>
																	</div>
																</li>
																<li>
																	<div class="pill">
																		<span class="color-grey">Counselling and Psychotherapy</span>
																	</div>
																</li>
																<li>
																	<div class="pill">
																		<span class="color-grey">Awareness, Prevention, Education and Training programmes</span>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</article>
											<!-- Listing ./end--> 
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>

					<div class="col-tablet-3 col-desktop-2">
						<div class="collapse">
							<h5 role="button" class="collapse__toggle collapse__heading">
								<strong>Services</strong>
								<span class="caret__toggle"><i class="icon-caret"></i></span>
							</h5>
							<div class="collapse__content hidden">
								
								<section class="section-md pb-5x">
									<div class="row">

										<!-- Left -->
										<div class="col-desktop-9 col-large-9">

											<!-- Listing -->
											<article class="listing">
												<h4 class="h4 color-alt type-serif mb-4x mb-mobile-5x">
													<strong>
														Abbeyfeale &amp; District Initiative								
													</strong>
												</h4>
												<h6 class="color-primary type-md">
													<strong>
														Parish Office, Convent Street, Abbeyfeale, Limerick							
													</strong>
												</h6>

												<hr class="hr-default">

												<div class="row">
													<div class="col-desktop-6">
														<table class="table-justifize">
															<tbody>
																<tr>
																	<td>Address</td>
																	<td class="color-black">Parish Office Convent Street <br>Abbeyfeale<br> Limerick</td>
																</tr>
																<tr>
																	<td>Phone</td>
																	<td><a href="#" class="color-black">(01) 8787700</a></td>
																</tr>
																<tr>
																	<td>Email</td>
																	<td><a href="#" class="color-primary type-bold">dublin@acet.ie</a></td>
																</tr>
																<tr>
																	<td>Website</td>
																	<td><a href="#" class="color-primary type-bold">www.acet.ie</a></td>
																</tr>
															</tbody>
														</table>
													</div>

													<div class="col-desktop-6">
														<img src="img/map-mobile.jpg" class="mb-5x img-responsive" alt="map-mobile">
													</div>
												</div>

												<hr class="hr-default hidden-desktop-down">
												
												<div class="mb-5x">
													<h6 class="color-alt type-medium">Service type</h6>
													<p class="combo-grey-black">Community/Voluntary</p>
												</div>
												
												<div class="mb-5x">
													<h6 class="color-alt type-medium">Is the service a branch of or related to a larger organisation?</h6>
													<p class="combo-grey-black">Community/Voluntary</p>
												</div>
												
												<div class="mb-5x">
													<h6 class="color-alt type-medium">Drug and Alcohol Task Force to which this service is linked:</h6>
													<p class="combo-grey-black">Mid western RDATF</p>
												</div>

												<div class="row">
													<div class="col-desktop-9">
														<div class="pill-container mb-2x">
															<ul>
																<li>
																	<div class="pill">
																		<span class="color-white">Support</span>
																	</div>
																</li>
																<li>
																	<div class="pill">
																		<span class="color-grey">Family Support</span>
																	</div>
																</li>
																<li>
																	<div class="pill">
																		<span class="color-grey">Counselling and Psychotherapy</span>
																	</div>
																</li>
																<li>
																	<div class="pill">
																		<span class="color-grey">Counselling and Psychotherapy</span>
																	</div>
																</li>
																<li>
																	<div class="pill">
																		<span class="color-grey">Awareness, Prevention, Education and Training programmes</span>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</article>
											<!-- Listing ./end--> 
										</div>
									</div>
								</section>
							</div>
						</div>						
					</div>

					<div class="col-tablet-3 col-desktop-2">
						<div class="collapse">
							<h5 role="button" class="collapse__toggle collapse__heading">
								<strong>Access / Fees</strong>
								<span class="caret__toggle"><i class="icon-caret"></i></span>
							</h5>
							<div class="collapse__content hidden">
								
								<section class="section-md pb-5x">
									<div class="row">

										<!-- Left -->
										<div class="col-desktop-9 col-large-9">

											<!-- Listing -->
											<article class="listing">
												<h4 class="h4 color-alt type-serif mb-4x mb-mobile-5x">
													<strong>
														Abbeyfeale &amp; District Initiative								
													</strong>
												</h4>
												<h6 class="color-primary type-md">
													<strong>
														Parish Office, Convent Street, Abbeyfeale, Limerick							
													</strong>
												</h6>

												<hr class="hr-default">

												<div class="row">
													<div class="col-desktop-6">
														<table class="table-justifize">
															<tbody>
																<tr>
																	<td>Address</td>
																	<td class="color-black">Parish Office Convent Street <br>Abbeyfeale<br> Limerick</td>
																</tr>
																<tr>
																	<td>Phone</td>
																	<td><a href="#" class="color-black">(01) 8787700</a></td>
																</tr>
																<tr>
																	<td>Email</td>
																	<td><a href="#" class="color-primary type-bold">dublin@acet.ie</a></td>
																</tr>
																<tr>
																	<td>Website</td>
																	<td><a href="#" class="color-primary type-bold">www.acet.ie</a></td>
																</tr>
															</tbody>
														</table>
													</div>

													<div class="col-desktop-6">
														<img src="img/map-mobile.jpg" class="mb-5x img-responsive" alt="map-mobile">
													</div>
												</div>

												<hr class="hr-default hidden-desktop-down">
												
												<div class="mb-5x">
													<h6 class="color-alt type-medium">Service type</h6>
													<p class="combo-grey-black">Community/Voluntary</p>
												</div>
												
												<div class="mb-5x">
													<h6 class="color-alt type-medium">Is the service a branch of or related to a larger organisation?</h6>
													<p class="combo-grey-black">Community/Voluntary</p>
												</div>
												
												<div class="mb-5x">
													<h6 class="color-alt type-medium">Drug and Alcohol Task Force to which this service is linked:</h6>
													<p class="combo-grey-black">Mid western RDATF</p>
												</div>

												<div class="row">
													<div class="col-desktop-9">
														<div class="pill-container mb-2x">
															<ul>
																<li>
																	<div class="pill">
																		<span class="color-white">Support</span>
																	</div>
																</li>
																<li>
																	<div class="pill">
																		<span class="color-grey">Family Support</span>
																	</div>
																</li>
																<li>
																	<div class="pill">
																		<span class="color-grey">Counselling and Psychotherapy</span>
																	</div>
																</li>
																<li>
																	<div class="pill">
																		<span class="color-grey">Counselling and Psychotherapy</span>
																	</div>
																</li>
																<li>
																	<div class="pill">
																		<span class="color-grey">Awareness, Prevention, Education and Training programmes</span>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</article>
											<!-- Listing ./end--> 
										</div>
									</div>
								</section>

							</div>
						</div>						
					</div>

					<div class="col-tablet-3 col-desktop-3">
						<div class="collapse">
							<h5 role="button" class="collapse__toggle collapse__heading">
								<strong>Service Delivery</strong>
								<span class="caret__toggle"><i class="icon-caret"></i></span>
							</h5>
							<div class="collapse__content hidden">
								<section class="section-md pb-5x">
									<div class="row">

										<!-- Left -->
										<div class="col-desktop-9 col-large-9">

											<!-- Listing -->
											<article class="listing">
												<h4 class="h4 color-alt type-serif mb-4x mb-mobile-5x">
													<strong>
														Abbeyfeale &amp; District Initiative								
													</strong>
												</h4>
												<h6 class="color-primary type-md">
													<strong>
														Parish Office, Convent Street, Abbeyfeale, Limerick							
													</strong>
												</h6>

												<hr class="hr-default">

												<div class="row">
													<div class="col-desktop-6">
														<table class="table-justifize">
															<tbody>
																<tr>
																	<td>Address</td>
																	<td class="color-black">Parish Office Convent Street <br>Abbeyfeale<br> Limerick</td>
																</tr>
																<tr>
																	<td>Phone</td>
																	<td><a href="#" class="color-black">(01) 8787700</a></td>
																</tr>
																<tr>
																	<td>Email</td>
																	<td><a href="#" class="color-primary type-bold">dublin@acet.ie</a></td>
																</tr>
																<tr>
																	<td>Website</td>
																	<td><a href="#" class="color-primary type-bold">www.acet.ie</a></td>
																</tr>
															</tbody>
														</table>
													</div>

													<div class="col-desktop-6">
														<img src="img/map-mobile.jpg" class="mb-5x img-responsive" alt="map-mobile">
													</div>
												</div>

												<hr class="hr-default hidden-desktop-down">
												
												<div class="mb-5x">
													<h6 class="color-alt type-medium">Service type</h6>
													<p class="combo-grey-black">Community/Voluntary</p>
												</div>
												
												<div class="mb-5x">
													<h6 class="color-alt type-medium">Is the service a branch of or related to a larger organisation?</h6>
													<p class="combo-grey-black">Community/Voluntary</p>
												</div>
												
												<div class="mb-5x">
													<h6 class="color-alt type-medium">Drug and Alcohol Task Force to which this service is linked:</h6>
													<p class="combo-grey-black">Mid western RDATF</p>
												</div>

												<div class="row">
													<div class="col-desktop-9">
														<div class="pill-container mb-2x">
															<ul>
																<li>
																	<div class="pill">
																		<span class="color-white">Support</span>
																	</div>
																</li>
																<li>
																	<div class="pill">
																		<span class="color-grey">Family Support</span>
																	</div>
																</li>
																<li>
																	<div class="pill">
																		<span class="color-grey">Counselling and Psychotherapy</span>
																	</div>
																</li>
																<li>
																	<div class="pill">
																		<span class="color-grey">Counselling and Psychotherapy</span>
																	</div>
																</li>
																<li>
																	<div class="pill">
																		<span class="color-grey">Awareness, Prevention, Education and Training programmes</span>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</article>
											<!-- Listing ./end--> 
										</div>
									</div>
								</section>
								
							</div>
						</div>												
					</div>

				</div>			
			</nav>
		</div>
		<!-- Mobile View ./end -->

	</main>
	<!-- Main ./end -->

	@@include('inc/partial-footer.html', {"variant": "bgr-shaded"})

	@@include('inc/meta-foot.html')	
</body>
</html>