<!-- include "meta-head.html" -->
@@include('inc/meta-head.html')

<body>
	<!-- include "partial-header.html" -->
	@@include('inc/partial-header.html')

	<!-- Main -->
	<main class="main">

		<!-- Banner -->
		<section class="banner">
			<div class="wrapper">
				<div class="row">
					<div class="col-desktop-8">
						<h1 class="h1 type-black title-underlined title-underlined--primary">Reports and Studies</h1>
						<p>
							<strong>
								In this section we have listed Irish research from 2005 onwards, by year of publication. If you wish to suggest additional papers please contact us at info@drugs.ie or call us on 01 960 3004.
							</strong>
						</p>
					</div>
				</div>
			</div>
		</section>
		<!-- Banner ./end-->

		<div class="trimmer">
			<div class="wrapper wrapper--extend-right text-right">
				<div class="toolbox">
					<ul>
						<li>
							<button type="button" class="js-type-decrease">A-</button>
						</li>
						<li>
							<button type="button" class="js-type-increase">A+</button>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="trimmer">
			<div class="wrapper wrapper--md-sm bgr-white wrapper--md-sm-extend-right">
				<div class="wrapper wrapper--collapse-desktop-down">
					<section class="section-md">
						<div class="row">

							<!-- Left -->
							<div class="col-desktop-9 col-large-8">
								<!-- Breadcrumbs -->
								<ol class="bread">
									<li><a href="#" class="bread__link">Resourses</a></li>
									<li><a href="#" class="bread__link">Europe Reports</a></li>
									<li>Here</li>
								</ol>					
								<!-- Breadcrumbs ./end-->
								
								<div>
									<div class="select mb-5x">
										<select>
											<option value="val01">2017</option>
											<option value="val02">2016</option>
											<option value="val03">2015</option>
										</select>
										<i class="icon-caret"></i>
									</div>
								</div>

								<img src="img/std-girl.jpg" alt="" class="img-responsive mb-5x mb-tablet-8x">


								<!-- Listing -->
								<acrticle class="listing">
									<h4 class="h4 color-alt type-serif mb-4x mb-mobile-5x">
										<strong>
											European Monitoring Centre for Drugs and Drug Addiction. (2017) Perspectives on drugs: Wastewater analysis and drugs — a European multi-city study.									
										</strong>
									</h4>
									<h6 class="color-primary title-sub">
										<strong>
											European Monitoring Centre for Drugs and Drug Addiction. (2017) Perspectives on drugs: Wastewater analysis and drugs — a European multi-city study. Lisbon: European Monitoring Centre for Drugs and Drug Addiction									
										</strong>
									</h6>

									<hr>

									<div class="row">
										<div class="col-tablet-4 mb-5x mb-tablet-0x">
											<h6 class="title-strike mb-4x"><strong>References</strong></h6>
											<p>
												<a href="#">Download 1</a>
											</p>
											<p>
												<a href="#">Download 2</a>
											</p>
											<p>
												<a href="#">Link</a>
											</p>
											<p>
												<a href="#">Link</a>
											</p>

											
										</div>

										<div class="col-tablet-8">
											<p class="type-mid line-lg">
												Text strip copy here – Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.					
											</p>
										</div>

									</div>

									<div class="pill-container">
										<ul>
											<li>
												<div class="pill">
													<span>Published: </span>
													<span>28th September 2017</span>
												</div>
											</li>
											<li>
												<div class="pill">
													<span>Source: </span>
													<span>Cormac O'Keeffe, The Irish Examiner, 31/10/17</span>
												</div>
											</li>
										</ul>
									</div>
								</acrticle>
								<!-- Listing ./end-->

								<!-- Listing -->
								<article class="listing">
									<h4 class="color-alt type-serif mb-5x">
										<strong>
											Wastewater analysis and drugs — a European multi-city study.						
										</strong>
									</h4>
									<h6 class="color-primary type-md">
										<strong>
											European Monitoring Centre for Drugs and Drug Addiction. (2017) Perspectives on drugs: Wastewater analysis and drugs — a European multi-city study. Lisbon: European Monitoring Centre for Drugs and Drug Addiction									
										</strong>
									</h6>

									<hr>

									<p>
										Text strip copy here – Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
									</p>

									<div class="pill-container">
										<ul>
											<li>
												<div class="pill">
													<span>Published: </span>
													<span>28th September 2017</span>
												</div>
											</li>
											<li>
												<div class="pill">
													<span>Source: </span>
													<span>Cormac O'Keeffe, The Irish Examiner, 31/10/17</span>
												</div>
											</li>
										</ul>
									</div>
								</article>
								<!-- Listing ./end-->

								<!-- Listing -->
								<article class="listing">
									<h4 class="color-alt type-serif mb-5x">
										<strong>
											Wastewater analysis and drugs — a European multi-city study.						
										</strong>
									</h4>
									<hr>

									<p>
										Text strip copy here – Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
									</p>

									<div class="pill-container">
										<ul>
											<li>
												<div class="pill">
													<span>Published: </span>
													<span>28th September 2017</span>
												</div>
											</li>
											<li>
												<div class="pill">
													<span>Source: </span>
													<span>Cormac O'Keeffe, The Irish Examiner, 31/10/17</span>
												</div>
											</li>
										</ul>
									</div>
									
								</article>
								<!-- Listing ./end-->
							</div>

							<!-- Right -->
							<div class="col-desktop-3 col-large-3 col-large-offset-1">
								<aside class="nav-aside collapse-wrapper" data-breakpoint="0">
									<h6 class="nav-aside__title color-alt">
										In this section
									</h6>

									<!-- Collapses -->

									<div class="collapse">
										<h6 role="button" class="nav-aside__toggle">
											<a href="#" class="p-0x"><strong>Awards</strong></a>
											<a href="#" role="button" class="nav-aside__symbol collapse__toggle"><i class="icon-caret"></i></a>
										</h6>
										<div class="collapse__content nav-aside__content">
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Global reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>

											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Guides and support booklets</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>

											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>National strategy documents and reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean border-clear pb-0x">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>

										</div>
									</div>

									<div class="collapse">
										<h6 role="button" class="nav-aside__toggle">
											<a href="#" class="p-0x"><strong>Research</strong></a>
											<a href="#" role="button" class="nav-aside__symbol collapse__toggle"><i class="icon-caret"></i></a>
										</h6>
										<div class="collapse__content nav-aside__content">
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Global reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>

											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Guides and support booklets</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>

											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>National strategy documents and reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean border-clear pb-0x">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>

										</div>
									</div>

									<div class="collapse">
										<h6 role="button" class="nav-aside__toggle">
											<a href="#" class="p-0x"><strong>Community detox</strong></a>
											<a href="#" role="button" class="nav-aside__symbol collapse__toggle"><i class="icon-caret"></i></a>
										</h6>
										<div class="collapse__content nav-aside__content">
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Global reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>

											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Guides and support booklets</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>

											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>National strategy documents and reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean border-clear pb-0x">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>

										</div>
									</div>

									<div class="collapse">
										<h6 role="button" class="nav-aside__toggle">
											<a href="#" class="p-0x"><strong>National standards for safer <br> better healthcares</strong></a>
											<a href="#" role="button" class="nav-aside__symbol collapse__toggle"><i class="icon-caret"></i></a>
										</h6>
										<div class="collapse__content nav-aside__content">
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Global reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>

											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Guides and support booklets</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>

											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>National strategy documents and reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean border-clear pb-0x">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>

										</div>
									</div>

									<div class="collapse">
										<h6 role="button" class="nav-aside__toggle">
											<a href="#" class="p-0x"><strong>The drug related <br> intimidation programme</strong></a>
											<a href="#" role="button" class="nav-aside__symbol collapse__toggle"><i class="icon-caret"></i></a>
										</h6>
										<div class="collapse__content nav-aside__content">
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Global reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>

											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Guides and support booklets</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>

											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>National strategy documents and reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean border-clear pb-0x">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>

										</div>
									</div>

									<div class="collapse">
										<h6 role="button" class="nav-aside__toggle">
											<a href="#" class="p-0x"><strong>Supervised injecting facilities frequently asked questions</strong></a>
											<a href="#" role="button" class="nav-aside__symbol collapse__toggle"><i class="icon-caret"></i></a>
										</h6>
										<div class="collapse__content nav-aside__content">
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Global reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>

											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Guides and support booklets</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>

											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>National strategy documents and reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean border-clear pb-0x">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>

										</div>
									</div>

									<div class="collapse">
										<h6 role="button" class="nav-aside__toggle">
											<a href="#" class="p-0x"><strong>Naloxone <br>Userful Links</strong></a>
											<a href="#" role="button" class="nav-aside__symbol collapse__toggle"><i class="icon-caret"></i></a>
										</h6>
										<div class="collapse__content nav-aside__content">
											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Global reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>

											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>Guides and support booklets</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean">
															<li>Sub Category name</li>
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>

											<!-- Collapse 2nd -->
											<div class="collapse-wrapper--nested" data-breakpoint="0">
												<div class="collapse--nested">
													<a href="#!" role="button" class="collapse__toggle--nested nav-aside__toggle-sub">
														<span>National strategy documents and reports</span>
														<span><i class="icon-play nav-aside__symbol-sub"></i></span>
													</a>
													<div class="collapse__content--nested nav-aside__content-sub">
														<ul class="list-clean border-clear pb-0x">
															<li>Sub Category name</li>
														</ul>
													</div>
												</div>
											</div>

										</div>
									</div>

								</aside>
							</div>

						</div>
					</section>
				</div>
			</div>
		</div>

		<!-- Section: pagination -->
		<section class="section-shaded section-shaded--thick text-left">
			<div class="wrapper text-center clipped">
				<div class="row">
					<!-- Left -->
					<div class="col-desktop-9 px-tablet-down-0x">
						<div class="pagination">
							<ol>
								<li>
									<a class="btn-square btn-square--sm btn-square--inverse"><i class="icon-arrow-l"></i></a>
								</li>
								<li><span>&middot;&middot;&middot;</span></li>
								<li class="hidden-desktop-down"><a href="#">98</a></li>
								<li><a href="#">99</a></li>
								<li class="active"><span>100</span></li>
								<li><a href="#">101</a></li>
								<li class="hidden-desktop-down"><a href="#">102</a></li>
								<li><span>&middot;&middot;&middot;</span></li>
								<li>
									<a class="btn-square btn-square--sm"><i class="icon-arrow-r"></i></a>
								</li>
							</ol>							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Section: pagination ./end-->
	</main>
	<!-- Main ./end -->

	@@include('inc/partial-footer.html', {"variant": "bgr-shaded"})

	@@include('inc/meta-foot.html')	
</body>
</html>