   <!--[if lt IE 9]>       
   <div id="outdated">
	     <h6>Your browser is out-of-date!</h6>
	     <p>Update your browser to view this website correctly. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Update my browser now </a></p>
	     <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
	</div>
	<![endif]-->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>

    <!-- Slick carousel -->
    <script src="js/vendor/slick.js"></script>

    <!-- Match height -->
    <script src="js/vendor/jquery-match-height.js"></script>

    <!-- Bootstrap -->
    <script src="js/vendor/bootstrap/modal.js"></script>
    <script src="js/vendor/bootstrap/transition.js"></script>
    <script src="js/vendor/bootstrap/tab.js"></script>

    <!-- On Screen -->
    <script src="js/vendor/onscreen.min.js"></script>

    <!-- Plyr (video player) -->
    <script src="js/vendor/plyr.js"></script>


    <!--[if lt IE 9]>			
    	<script src="js/vendor/outdatedBrowser.min.js"></script>
    	<script>
    		$( document ).ready(function() {
			    outdatedBrowser({
			        bgColor: '#187e9b',
			        color: '#ffffff',
			        lowerThan: 'boxShadow'
			    })
			})
    	</script>
    <![endif]-->
    
    <!-- All JS actions that are site wide should be in this file -->
    <script src="js/main.js"></script>