<!-- Header -->
<div class="backdrop"></div>

<header class="header">
	<div class="wrapper wrapper--md">
		<nav class="nav">
			<div class="justifize-flex justifize-flex--middle">
				<div class="">
					<div class="nav__logo">
						<a href="#"><img src="img/logo-white-clean.png" alt=""></a>
					</div>
				</div>

				<div class="nav__panel">
					<div>
						<div class="nav__overlay">
							<!-- Nav "drugs info" -->
							<div class="flex-row row--flat nav__content" id="nav-drugs-info">
								<div class="flex-col-desktop-6 flex-col-wide-4 col">
									<ul class="nav__list js-nav-col">
										<li class="active">
											<a href="#" data-target="#sub-online-drug-test">
												<dl>
													<dt>
														Online Drug test
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#" data-target="#sub-about-drugs">
												<dl>
													<dt>
														About Drugs
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#" data-target="#sub-parents-carers">
												<dl>
													<dt>
														For parents carers
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#" data-target="#sub-teens">
												<dl>
													<dt>
														For teens
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#" data-target="#sub-p">
												<dl>
													<dt>
														Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#" data-target="#sub-p2">
												<dl>
													<dt>
														Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#" data-target="#sub-p3">
												<dl>
													<dt>
														Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
									</ul>
								</div>

								<div class="flex-col-desktop-6 flex-col-wide-4 col">
									<!-- Online drugs test -->
									<ul class="nav__list nav-sublist" id="sub-online-drug-test">
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 Online Drug test
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 About Drugs
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 For parents carers
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 For teens
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
									</ul>
									<!-- Online drugs test ./end-->

									<!-- About drugs test -->
									<ul class="nav__list nav-sublist hidden" id="sub-about-drugs">
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {about drugs} Online Drug test
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {about drugs} About Drugs
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {about drugs} For parents carers
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {about drugs} For teens
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {about drugs} Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {about drugs} Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {about drugs} Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {about drugs} Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {about drugs} Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {about drugs} Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
									</ul>
									<!-- About drugs test ./end-->

									<!-- Online parents carers -->
									<ul class="nav__list nav-sublist hidden" id="sub-parents-carers">
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {parents carers} Online Drug test
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {parents carers} About Drugs
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {parents carers} For parents carers
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
									</ul>
									<!-- Online parents carers ./end-->

									<!-- For teens -->
									<ul class="nav__list nav-sublist hidden" id="sub-teens">
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {Teens} Online Drug test
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {Teens} About Drugs
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {Teens} For parents carers
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {Teens} For teens
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {Teens} Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {Teens} Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {Teens} Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
									</ul>
									<!-- For teens ./end-->

									<!-- Paragraph #01-->
									<div class="nav__list nav-sublist hidden" id="sub-p">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia veniam suscipit eos ullam animi laborum incidunt ipsam quisquam saepe distinctio ea atque debitis earum molestias eius facilis consequatur accusamus, nam. <a href="#">Some link</a>
										</p>
									</div>
									<!-- Paragraph #01 ./end-->

									<!-- Paragraph #02-->
									<div class="nav__list nav-sublist hidden" id="sub-p2">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, explicabo. <a href="#">Some link</a>
										</p>
									</div>
									<!-- Paragraph #02 ./end-->

									<!-- Paragraph #03-->
									<div class="nav__list nav-sublist hidden" id="sub-p3">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia veniam suscipit eos ullam animi laborum incidunt ipsam quisquam saepe distinctio ea atque debitis earum molestias eius facilis consequatur accusamus, nam. <a href="#">Some link</a>
										</p>
									</div>
									<!-- Paragraph #03 ./end-->

								</div>
								<div class="flex-col-wide-4">
									<div class="nav__block">
										<dl>
											<dt>
												<img src="img/nav-face.jpg" alt="" class="img-responsive">
											</dt>
											<dd>
												<span class="mark mark--sm">Worried about</span> <br>
												<span class="mark mark--sm">someone? Get help</span>
											</dd>
										</dl>
										<h6 class="color-alt mb-6x">
											HSE Drugs &amp; Alcohol Helpline: 1800 459 459
										</h6>
										<a href="#" class="btn btn--primary">Get help</a>
									</div>
								</div>
							</div>
							<!-- Nav "drugs info" ./end-->
							
							<!-- Nav "alcohol info" -->
							<div class="flex-row row--flat nav__content" id="nav-alcohol-info">
								<div class="flex-col-desktop-6 flex-col-wide-4 col">
									<ul class="nav__list js-nav-col">
										<li class="active">
											<a href="#" data-target="#sub-02-online-drug-test">
												<dl>
													<dt>
														{alcohol} Online Drug test
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#" data-target="#sub-02-about-drugs">
												<dl>
													<dt>
														{alcohol} About Drugs
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#" data-target="#sub-02-parents-carers">
												<dl>
													<dt>
														{alcohol} For parents carers
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#" data-target="#sub-02-teens">
												<dl>
													<dt>
														{alcohol} For teens
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
									</ul>
								</div>

								<div class="flex-col-desktop-6 flex-col-wide-4 col">
									<!-- Online drugs test -->
									<ul class="nav__list nav-sublist" id="sub-02-online-drug-test">
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 Online Drug test
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 About Drugs
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 For parents carers
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 For teens
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
									</ul>
									<!-- Online drugs test ./end-->

									<!-- About drugs test -->
									<ul class="nav__list nav-sublist hidden" id="sub-02-about-drugs">
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {about drugs} Online Drug test
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {about drugs} About Drugs
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {about drugs} For parents carers
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {about drugs} For teens
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {about drugs} Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {about drugs} Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {about drugs} Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {about drugs} Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {about drugs} Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {about drugs} Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
									</ul>
									<!-- About drugs test ./end-->

									<!-- Online parents carers -->
									<ul class="nav__list nav-sublist hidden" id="sub-02-parents-carers">
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {parents carers} Online Drug test
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {parents carers} About Drugs
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {parents carers} For parents carers
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
									</ul>
									<!-- Online parents carers ./end-->

									<!-- For teens -->
									<ul class="nav__list nav-sublist hidden" id="sub-02-teens">
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {Teens} Online Drug test
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {Teens} About Drugs
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {Teens} For parents carers
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {Teens} For teens
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {Teens} Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {Teens} Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														#2 {Teens} Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
									</ul>
									<!-- For teens ./end-->

								</div>
								<div class="flex-col-wide-4">
									<div class="nav__block">
										<dl>
											<dt>
												<img src="img/nav-face.jpg" alt="" class="img-responsive">
											</dt>
											<dd>
												<span class="mark mark--sm">Worried about</span> <br>
												<span class="mark mark--sm">someone? Get help</span>
											</dd>
										</dl>
										<h6 class="color-alt mb-6x">
											HSE Drugs &amp; Alcohol Helpline: 1800 459 459
										</h6>
										<a href="#" class="btn btn--primary">Get help</a>
									</div>
								</div>
							</div>
							<!-- Nav "alcohol info" ./end-->



							<button class="nav__close js-nav-close">
								<i class="icon-close"></i>
							</button>
						</div>
						<form action="">
							<div class="nav__slide">
								<div class="nav__form-group">
									<button class="nav__toggle nav__toggle--search">
										<i class="icon-search"></i>
									</button>
									<input type="search" class="textbox textbox--light textbox--nav" placeholder="SEARCH">
									<button type="button" class="nav-toggle-close js-nav-toggle-out">
										<i class="icon-close"></i>
									</button>
								</div>
							</div>
						</form>

						<!-- Menu: desktop -->
						<div class="nav__menu nav__menu--desktop" id="nav-menu">
							<ul>
								<li>
									<a href="#" data-target="#nav-drugs-info">
										<dl>
											<dt>Drugs Info</dt>
											<dd>Reliable Info about <br> use of drugs</dd>
										</dl>
									</a>
								</li>

								<li>
									<a href="#" data-target="#nav-alcohol-info">
										<dl>
											<dt>Alcohol Info</dt>
											<dd>Reliable Info about <br> use of alcohol</dd>
										</dl>
									</a>
								</li>

								<li>
									<a href="#">
										<dl>
											<dt>Resources</dt>
											<dd>Support and <br> research resources</dd>
										</dl>
									</a>
								</li>

								<li>
									<a href="#">
										<dl>
											<dt>Service Finder</dt>
											<dd>Search in our <br> service derectory</dd>
										</dl>
									</a>
								</li>

								<li>
									<a href="#">
										<dl>
											<dt>News</dt>
											<dd>Drugs Info</dd>
										</dl>
									</a>
								</li>
							</ul>
						</div>
						<!-- Menu: desktop ./end-->


						<div class="nav__tools">
							<ul>
								<li>
									<a href="#" class="btn btn--primary btn--header">Get help</a>
								</li>
								<li>
									<button type="button" class="nav__toggle nav__toggle--search js-nav-toggle-in"><i class="icon-search"></i></button>
								</li>
							</ul>
						</div>
					</div>
					<div>
						<div class="nav__side">
							<a href="#">GL</a>
							<button type="button" class="nav__trigger js-nav-trigger">
								<span></span>
								<span></span>
								<span></span>
								<i class="icon-close"></i>
							</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Menu: collapse -->
			<div class="collapse-wrapper accordion nav__menu-mobile" data-breakpoint="1021">
				<div class="py-tablet-4x">
					<div class="">
						<!-- Collapse #1 -->
						<div class="nav__hover">
							<div class="collapse">
								<h5 role="button" class="collapse__toggle nav__expand match-height">
									<dl class="nav__box">
										<dt>
											<strong>Drugs info</strong>
										</dt>
										<dd>
											Reliable Info about <br>
											use of drugs
										</dd>
									</dl>
									<span class="nav__symbol"><i class="icon-caret"></i></span>
								</h5>
								<div class="collapse__content">
									<ul class="nav__category">
										<li>
											<a href="#">
												<dl>
													<dt>
														Online Drug test
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														About Drugs
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														For parents carers
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														For teens
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Collapse #1 ./end-->

						<!-- Collapse #2 -->
						<div class="nav__hover">
							<div class="collapse">
								<h5 role="button" class="collapse__toggle nav__expand match-height">
									<dl class="nav__box">
										<dt>
											<strong>Alcohol info</strong>
										</dt>
										<dd>
											Reliable Info about <br>
											use of alcohol
										</dd>
									</dl>
									<span class="nav__symbol"><i class="icon-caret"></i></span>
								</h5>
								<div class="collapse__content">
									<ul class="nav__category">
										<li>
											<a href="#">
												<dl>
													<dt>
														Online Drug test
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														About Drugs
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														For parents carers
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														For teens
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Collapse #2 ./end-->

						<!-- Collapse #3 -->
						<div class="nav__hover">
							<div class="collapse">
								<h5 role="button" class="collapse__toggle nav__expand match-height">
									<dl class="nav__box">
										<dt>
											<strong>Resources</strong>
										</dt>
										<dd>
											Support and research resources
										</dd>
									</dl>
									<span class="nav__symbol"><i class="icon-caret"></i></span>
								</h5>
								<div class="collapse__content">
									<ul class="nav__category">
										<li>
											<a href="#">
												<dl>
													<dt>
														Online Drug test
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														About Drugs
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														For parents carers
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														For teens
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Collapse #3 ./end-->

						<!-- Collapse #4 -->
						<div class="nav__hover">
							<div class="collapse">
								<h5 role="button" class="collapse__toggle nav__expand match-height">
									<dl class="nav__box">
										<dt>
											<strong>Service finder</strong>
										</dt>
										<dd>
											Search in our <br>
											service directory
										</dd>
									</dl>
									<span class="nav__symbol"><i class="icon-caret"></i></span>
								</h5>
								<div class="collapse__content">
									<ul class="nav__category">
										<li>
											<a href="#">
												<dl>
													<dt>
														Online Drug test
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														About Drugs
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														For parents carers
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														For teens
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Collapse #4 ./end-->

						<!-- Collapse #5 -->
						<div class="nav__hover">
							<div class="collapse">
								<h5 role="button" class="collapse__toggle nav__expand match-height">
									<dl class="nav__box">
										<dt>
											<strong>News</strong>
										</dt>
										<dd>
											Drugs info
										</dd>
									</dl>
									<span class="nav__symbol"><i class="icon-caret"></i></span>
								</h5>
								<div class="collapse__content">
									<ul class="nav__category">
										<li>
											<a href="#">
												<dl>
													<dt>
														Online Drug test
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														About Drugs
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														For parents carers
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														For teens
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Collapse #5 ./end-->

						<!-- Collapse #6 -->
						<div class="nav__hover">
							<div class="collapse">
								<h5 role="button" class="collapse__toggle nav__expand match-height">
									<dl class="nav__box">
										<dt>
											<strong>Language</strong>
										</dt>
										<dd>
											Drugs info
										</dd>
									</dl>
									<span class="nav__symbol"><i class="icon-caret"></i></span>
								</h5>
								<div class="collapse__content">
									<ul class="nav__category">
										<li>
											<a href="#">
												<dl>
													<dt>
														Online Drug test
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														About Drugs
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														For parents carers
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														For teens
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
										<li>
											<a href="#">
												<dl>
													<dt>
														Category name
													</dt>
													<dd>Short description</dd>
												</dl>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Collapse #6 ./end-->
					</div>

					<div class="nav__block nav__block--mobile">
						<div class="row">
							<div class="col-tablet-6 col-desktop-4 col-desktop-offset-2">
								<dl class="mb-0x">
									<dt>
										<img src="img/nav-face.jpg" alt="" class="img-responsive">
									</dt>
									<dd>
										<span class="mark mark--sm">Worried about</span> <br>
										<span class="mark mark--sm">someone? Get help</span>
									</dd>
								</dl>
							</div>
							<div class="col-tablet-6 col-desktop-4">
								<div class="nav__block-footer">
									<h6 class="color-alt mb-6x text-left">
										HSE Drugs &amp; Alcohol Helpline: 1800 459 459
									</h6>
									<a href="#" class="btn btn--primary btn--lg mb-4x">Get help</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- Menu: collapse ./end-->
		</nav>		
	</div>
</header>
<!-- Header ./end-->
