<!-- Footer -->
<footer class="footer @@variant">
	<!-- To top -->
	<div class="footer__to-top">
		<a href="#" role="button" class="to-top">
			<img src="img/vector/to-top.svg" class="img-responsive" alt="">
		</a>					
	</div>

	<div class="footer__trim">
		<div class="wrapper footer__container">
			<div class="wrapper">
				<nav class="collapse-wrapper accordion" data-breakpoint="760">
					<div class="row mb-4x mb-desktop-6x">

						<div class="col-desktop-3">
							<a href="#" class="footer__logo">
								<img src="img/logo-white.png" alt="">
							</a>
						</div>

						<div class="col-tablet-3 col-desktop-2">
							<div class="collapse">
								<h5 role="button" class="collapse__toggle footer__heading">
									<strong>Info &amp; Support</strong>
									<span class="footer__toggle"><i class="icon-caret"></i></span>
								</h5>
								<div class="collapse__content">
									<ul class="footer__nav">
										<li><a href="#">Drugs Info</a></li>
										<li><a href="#">Alcohol Info</a></li>
										<li><a href="#">Get Help</a></li>
										<li><a href="#">Resources</a></li>
										<li><a href="#">Service Finder</a></li>
										<li><a href="#">News</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-tablet-3 col-desktop-2">
							<div class="collapse">
								<h5 role="button" class="collapse__toggle footer__heading">
									<strong>About Us</strong>
									<span class="footer__toggle"><i class="icon-caret"></i></span>
								</h5>
								<div class="collapse__content">
									<ul class="footer__nav">
										<li><a href="#">Contact Us</a></li>
										<li><a href="#">Training</a></li>
										<li><a href="#">Disclaimer</a></li>
									</ul>
								</div>
							</div>						
						</div>

						<div class="col-tablet-3 col-desktop-2">
							<div class="collapse">
								<h5 role="button" class="collapse__toggle footer__heading">
									<strong>Accessibility</strong>
									<span class="footer__toggle"><i class="icon-caret"></i></span>
								</h5>
								<div class="collapse__content">
									<ul class="footer__nav">
										<li><a href="#">Privacy</a></li>
										<li><a href="#">Site Map</a></li>
										<li><a href="#">Cookies</a></li>
									</ul>
								</div>
							</div>						
						</div>

						<div class="col-tablet-3 col-desktop-3">
							<div class="collapse">
								<h5 role="button" class="collapse__toggle footer__heading">
									<strong>Languages</strong>
									<span class="footer__toggle"><i class="icon-caret"></i></span>
								</h5>
								<div class="collapse__content">
									<div class="row">
										<div class="col-xs-6 col-mobile-5">
											<ul class="footer__nav footer__nav--alt">
												<li><a href="#">العربية</a></li>
												<li><a href="#">中文</a></li>
												<li><a href="#">Pусский</a></li>
												<li><a href="#">Português</a></li>
												<li><a href="#">Français</a></li>
											</ul>										
										</div>
										<div class="col-xs-6 col-mobile-7">
											<ul class="footer__nav footer__nav--ter">
												<li><a href="#">Latviešu valoda</a></li>
												<li><a href="#">Lietuvių kalba</a></li>
												<li><a href="#">Polska</a></li>
												<li><a href="#">Español</a></li>
												<li><a href="#">Češtině</a></li>
											</ul>										
										</div>
									</div>
								</div>
							</div>												
						</div>
					</div>

					<div class="flex-column flex-row-tablet middle-desktop">
						<div class="flex-col-tablet-6">
							<div class="footer__list ">
								<div>
									<ul>
										<li><a href="#"><i class="icon-facebook-f"></i></a></li>
										<li><a href="#"><i class="icon-twitter"></i></a></li>
										<li><a href="#"><i class="icon-youtube-play"></i></a></li>
										<li><a href="#"><i class="icon-rss"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="flex-col-tablet-6">
							<div class="footer__list">
								<div>
									<ul class="text-right-tablet">
										<li class="hidden-tablet-down"><small class="footer__small">&copy; Copyright 2107</small></li>
										<li><a href="#" class="link-img"><img alt="" class="img-responsive" src="img/vector/logo-adlp.svg"></a></li>
										<li><a href="#" class="link-img"><img alt="" class="img-responsive" src="img/vector/logo-hse.svg"></a></li>
									</ul>
								</div>
							</div>
							<div class="text-center hidden-tablet">
								<small class="footer__small">
									&copy; Copyright 2107
								</small>
							</div>
						</div>
					</div>			
				</nav>
			</div>
		</div>
	</div>

</footer>
<!-- Footer ./end -->
