@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?k9oeqy');
  src:  url('../fonts/icomoon.eot?k9oeqy#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?k9oeqy') format('truetype'),
    url('../fonts/icomoon.woff?k9oeqy') format('woff'),
    url('../fonts/icomoon.svg?k9oeqy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e90c";
  color: #4a4a4a;
}
.icon-exclamation:before {
  content: "\e900";
  color: #220a3c;
}
.icon-info:before {
  content: "\e90b";
}
.icon-arrow-r:before {
  content: "\e90a";
}
.icon-arrow-l:before {
  content: "\e90d";
}
.icon-rss:before {
  content: "\e906";
}
.icon-facebook-f:before {
  content: "\e907";
}
.icon-twitter:before {
  content: "\e908";
}
.icon-youtube-play:before {
  content: "\e909";
}
.icon-caret:before {
  content: "\e901";
}
.icon-chat:before {
  content: "\e902";
}
.icon-play:before {
  content: "\e903";
}
.icon-quotes:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
