/*------------------------------------
    @SETTINGS #VARIABLES
------------------------------------*/

/* FONT STACKS */
$grotesk: "neuzeit-grotesk", sans-serif;
$serif:    "Source Serif Pro", sans-serif;

/* COLOR DEFINITIONS */
$purple:	#220A3C;
$orange:	#EF6342;
$peach:		#f7981c;
$smoke:		#F6F6F6;
$grey:		#4a4a4a;
$smog:		#9B9B9B;


/* COLOR SWATCHES */
$primary: $orange;
$alt:     $purple;


/* BASE STYLES */
$base-font: $grotesk;
$font-size:  16px;
$line-height: 1.42;
// colors
$bgr: #fff;
$color-text: $grey;
$color-link: $peach;
$color-hover: $alt;
$color-placeholder: $alt;
$color-border: $alt;


/* MEDIA BREAKPOINTS */
$mobile:  480px;
$tablet:  760px;
$desktop: 1020px;
$large:   1200px;
$wide:	  1440px;

/* LAYOUT */
$border-radius: 8px;
$space: 20px;
$gutter-width: 13px !default; // side padding of the container elements

